.btn,
.submit {
  font-size: $lg-font-size;
  font-weight: 500;
  outline: none;
  display: inline-block;
  vertical-align: top;
  background: transparent;
  border: 1px solid $secondary-text-color;
  color: $base-text-color;
  border-radius: 7px;
  padding: 20px 8px;
  min-width: 105px;
  width: auto;
  text-align: center;
  transition: background $animation-speed, border-color $animation-speed, color $animation-speed;

  &:hover {
    background: rgba($input-border-color, 0.2);
  }

  @include media('>=tablet') {
    padding: 14px 25px;
    font-size: $font-size-base;
    color: $secondary-text-color;
  }

  &.btn-md {
    @include media('>=tablet') {
      font-size: $font-size-base !important;
    }
  }

  &.btn-small {
    font-size: $secondary-size-base;
    padding: 10px 16px 11px;
    @include media('>=tablet') {
      font-size: $secondary-size-base;
    }
  }

  &.without-border {
    border-color: transparent;
    color: $base-text-color;
    min-width: 0;
    white-space: nowrap;

    &:hover {
      color: $secondary-text-color;
    }
  }

  &.btn-red {
    border-color: $light-red;
    background: $light-red;
    color: $white;

    &:hover {
      border-color: darken($light-red, 10%);
      background: darken($light-red, 10%);
    }
  }

  &.btn-green {
    border-color: $green;
    background: $green;
    color: $white;

    &:hover {
      border-color: lighten($green, 4%);
      background: lighten($green, 4%);
      color: $white;
    }

    &:focus {
      color: $white;
    }
  }

  &.btn-has-arrow {
    font-size: $medium-font-size;
    min-width: 166px;

    &.tablet-no-arrow {
      &:after {
        @include media('>=tablet') {
          display: none;
        }
      }
    }

    @include media('<tablet') {
      position: relative;
      text-align: left;
      padding-left: 33px;
      padding-right: 50px;
      font-size: $lg-font-size;
    }


    &:after {
      content: "\e91e";
      font-family: 'icomoon';
      display: inline-block;
      vertical-align: middle;
      margin: 1px 0 0 22px;
      font-size: 10px;
      transform: scaleX(-1);

      @include media('<tablet') {
        font-size: 16px;
        position: absolute;
        right: 22px;
        top: calc(50% - 7px);
        margin: 0;
      }
    }
  }

  &.purple-color {
    @include media('>=tablet') {
      font-weight: 500;
      min-width: 160px;
      color: $purple;
      padding: 13px 16px;
      border-color: $secondary-light-gray;
    }
  }

  &.btn-gray {
    color: $gray;
    border-color: $gray;
  }

  &.has-checkmark {
    &:before {
      content: "\e916";
      font-family: 'icomoon';
      font-size: 7px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 17px 0 -3px;
    }

    &.btn-gray {
      &:before {
        color: $gray;
      }
    }
  }

  &.btn-purple {
    border-color: $purple;
    background: $purple;
    color: $white;

    &:hover {
      border-color: lighten($purple, 4%);
      background: lighten($purple, 4%);
      color: $white;
    }
  }
}

.btn-add {
  @include reset-btn-styles;
  display: inline-block;
  vertical-align: top;
  width: 41px;
  height: 41px;
  border-radius: 100%;
  background: $green;
  position: relative;
  font-size: 14px;
  transition: opacity $animation-speed;

  &:before {
    position: absolute;
    top: 52%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-family: "icomoon";
    content: "\e910";
    color: $white;
  }

  &:hover {
    opacity: 0.7;
  }
}

.submit,
button[type="submit"]:not(.btn-search) {
  outline: none;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  outline: none;
  color: $white;
  background: $green;
  border: none;
  padding: 8px 15px;
  text-align: center;
  min-width: 94px;
  border-radius: 5px;
  transition: background $animation-speed;

  &:hover {
    background: lighten($green, 4%);
  }
}

.btn-actions-bordered,
.btn-download-bordered,
.btn-import-bordered,
.btn-archive-bordered {
  @include reset-btn-styles;
  @include flex-central-align;
  border: 1px solid $lines-light-gray;
  border-radius: 9px;
  width: 43px;
  height: 43px;
  background: transparent;
  color: $purple;
  transition: background $animation-speed;

  &:hover {
    @include media('>=tablet') {
      background: $lines-light-gray;
    }
  }

  &:before{
    font-family: 'icomoon';
  }
}

.btn-actions-bordered {
  &:before{
    font-size: 4px;
    content: "\e91f";
  }
}

.btn-download-bordered {
  font-size: 19px;
  &:before{
    content: "\e906";
  }
}

.btn-import-bordered {
  &:before{
    font-size: 18px;
    content: "\e92f";
  }
}

.btn-archive-bordered, {
  &:before{
    font-size: 18px;
    content: "\e90f";
  }
}


.btn-remove {
  @include reset-btn-styles;
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  color: $secondary-text-color;
  background: $white;
  font-size: 7px;
  text-align: center;
  line-height: 17px;
  transition: color $animation-speed;

  &:before {
    font-family: 'icomoon';
    content: "\e904";
  }

  &:hover {
    color: $base-text-color;
  }
}

.filter-btn {
  @include flex-central-align;
  position: relative;
  outline: none;
  color: $base-text-color;
  border-radius: 9px;
  border: none;
  background: transparent;
  min-width: 20px;
  min-height: 20px;
  padding: 0;
  font-size: 20px;
  transition: background $animation-speed, color $animation-speed;

  &:hover,
  &.active,
  .active & {
    @include media('>=tablet') {
      background: $dark-purple;
      color: $white;
    }
  }

  &:before {
    content: "\e91c";
    font-family: 'icomoon';
  }

  @include media('>=tablet') {
    min-width: 44px;
    min-height: 44px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid $secondary-light-gray;
  }
}

.link-button {
  @include reset-btn-styles;
  background: transparent;
  display: inline-block;
  vertical-align: top;
  color: $base-link-color;

  &:hover {
    color: $base-text-color;
  }
}

.reset-all-filters {
  font-weight: 500;
  color: $base-text-color;
  background: transparent;
  padding: 0;
  outline: none;
  border: none;
  transition: color $animation-speed;

  &:before{
    content: "\e920";
    font-family: 'icomoon';
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-size: 18px;
  }

  &:hover {
    color: $secondary-text-color;
  }
}

.btn-search {
  outline: none;
  display: inline-block;
  vertical-align: top;
  background: transparent;
  padding: 0;
  border: none;
  position: relative;
  font-size: 22px;
  transition: color $animation-speed;

  &:before{
    content: "\e915";
    font-family: 'icomoon';
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    color: $base-text-color;
  }

  @include media('>=tablet') {
    font-size: 18px;
  }
}

.submit  {
  outline: none;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  outline: none;
  color: $white;
  background: $green;
  border: none;
  padding: 8px 15px;
  text-align: center;
  min-width: 94px;
  border-radius: 5px;
  transition: background $animation-speed;

  &:hover {
    background: lighten($green, 4%);
  }
}

.show-more {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  outline: none;
  border: 1px solid $secondary-light-gray;
  border-radius: 9px;
  background: transparent;
  padding: 15px 5px;
  color: $secondary-text-color;
  font-size: $medium-font-size;
  font-weight: 500;
  text-align: center;
  margin: 0 0 30px;
  transition: background $animation-speed;

  &:hover {
    background: rgba($secondary-light-gray, 0.5);
  }

  @include media('>=tablet') {
    color: $base-text-color;
    font-size: $font-size-base;
    padding: 20px 5px 19px;
    margin: 0 0 60px;
  }
}

.btn-edit,
.btn-del,
.btn-archive,
.btn-download,
.btn-actions,
.btn-copy {
  @include flex-central-align;
  border: none;
  outline: none;
  margin: 0 2px;
  text-decoration: none;
  width: 32px;
  height: 32px;
  border-radius: 9px;
  background: #F8F8FD;
  color: $secondary-text-color;
  transition: color $animation-speed;

  &:hover {
    color: $base-text-color;
  }

  &:before{
    font-family: 'icomoon';
  }
}

.btn-edit {
  font-size: 12px;
  &:before{
    content: "\e925";
  }
}

.btn-del {
  font-size: 16px;
  &:before{
    content: "\e921";
  }
}

.btn-actions {
  &:before{
    content: "\e91a";

    @include media('>=tablet') {
      content: "\e91f";
      font-size: 4px;
    }
  }
}

.btn-archive {
  font-size: 16px;
  &:before{
    content: "\e90f";
  }
}

.btn-download {
  font-size: 16px;
  &:before{
    content: "\e906";
  }
}

.btn-copy {
  font-size: 18px;
  &:before{
    content: "\e908";
  }
}

.copy-link {
  @include reset-btn-styles;
  font-weight: 500;

  &:before{
    font-family: 'icomoon';
    content: "\e908";
    display: inline-block;
    vertical-align: top;
    margin: 0 5px -3px 0;
    font-size: 16px;
  }
}

.edit-link {
  @include reset-btn-styles;
  font-weight: 500;

  &:before{
    font-family: 'icomoon';
    content: "\e925";
    display: inline-block;
    vertical-align: top;
    margin: 0 5px -3px 0;
    font-size: 16px;
  }
}

.import-link {
  @include reset-btn-styles;
  font-weight: 500;

  &:before{
    font-family: 'icomoon';
    content: "\e92f";
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-size: 18px;
  }
}

.btn-back,
.filter-close {
  @include reset-btn-styles;
  background: transparent;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;

  &:before {
    font-family: 'icomoon';
    content: "\e91b";
  }
}

.add-item {
  @include flex-central-align;
  text-decoration: none;
  outline: none;
  position: relative;
  background: $green;
  color: $white;
  border-radius: 100%;
  width: 41px;
  height: 41px;
  border: none;
  transition: background $animation-speed;

  &:before {
    font-family: 'icomoon';
    content: "\e910";

    @include media('>=tablet') {
      display: inline-block;
      vertical-align: middle;
      margin: 0 16px 0 -6px;
      font-size: 12px;
    }
  }

  &:hover {
    background: lighten($green, 4%);
    color: $white;
  }

  &:focus {
    color: $white;
  }

  @include media('>=tablet') {
    justify-content: flex-start;
    min-width: 165px;
    border-radius: $sm-border-radius;
    font-size: $font-size-base;
    font-weight: 500;
    height: auto;
    width: auto;
    padding: 14px 22px 15px;
  }
}

.launch-action {
  @include flex-central-align;
  text-decoration: none;
  font-style: normal;
  width: 23px;
  height: 23px;
  background: #d4f8e3;
  color: #33CE9B;
  font-size: 7px;
  border-radius: 100%;
  margin: 0 10px 0 0;

  &:before{
    content: "\e938";
    font-family: 'icomoon';
  }
}

.back-button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 41px;
  height: 41px;
  border: none;
  padding: 0;
  background: $light-gray;
  color: $gray;
  font-size: 11px;
  border-radius: 100%;
  outline: none;
  transition: color $animation-speed;

  &:before {
    content: "\e91e";
    font-family: 'icomoon';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: $base-text-color;
  }
}

.back-cross-button {
  @include reset-btn-styles;
  background: transparent;
  color: $base-text-color;
  font-size: 17px;

  &:before {
    content: "\e91b";
    font-family: 'icomoon';
    display: inline-block;
    vertical-align: middle;
  }
}

.circle-cross-button {
  @include reset-btn-styles;
  background: transparent;
  color: $base-text-color;
  font-size: 17px;

  &:before {
    content: "\e91b";
    font-family: 'icomoon';
    display: inline-block;
    vertical-align: middle;
  }

  @include media('>=tablet') {
    border-radius: 100%;
    background: $bg-light-gray;
    width: 62px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    color: $gray;
  }
}

.step-back {
  @include flex-central-align;
  text-decoration: none;
  outline: none;
  background: transparent;
  width: 62px;
  min-height: 62px;
  padding: 5px;
  border: 1px solid $input-border-color;
  border-radius: 9px;
  color: $base-text-color;
  font-size: 17px;
  transition: background $animation-speed;

  &:before {
    font-family: 'icomoon';
    content: "\e924";
    display: inline-block;
    vertical-align: middle;

    @include media('>=tablet') {
      margin: 0 17px 0 0;
      font-size: 14px;
    }
  }

  &:hover {
    background: rgba($input-border-color, 0.2);
  }

  @include media('>=tablet') {
    font-weight: 500;
    width: auto;
    min-height: 0;
    padding: 14px 26px;
  }
}

.link {
  @include reset-btn-styles;
  background: transparent;
  display: inline-block;
  vertical-align: top;
}

.btn-circle-lg {
  display: inline-block;
  vertical-align: top;
  outline: none;
  border: none;
  width: 41px;
  height: 41px;
  position: relative;
  border-radius: 100%;
  transition: opacity $animation-speed;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    left: 35%;
    right: 35%;
    height: 2px;
    background: $white;
  }

  &.plus {
    background: $green;

    &:before {
      top: 35%;
      bottom: 35%;
      left: calc(50% - 1px);
      right: auto;
      width: 2px;
      height: auto;
    }
  }

  &.cross {
    background: $light-red;
    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &.location {
    @include flex-central-align;
    background: transparent;
    border: 1px solid $lines-light-gray;
    font-size: 18px;

    &:after {
      display: none;
    }
    &:before {
      height: auto;
      background: none;
      position: static;
      font-family: 'icomoon';
      content: "\e92e";
    }
  }

  &.eye {
    @include flex-central-align;
    background: $bg-light-gray;
    color: $secondary-text-color;
    font-size: 10px;

    &:after {
      display: none;
    }
    &:before {
      height: auto;
      background: none;
      position: static;
      font-family: 'icomoon';
      content: "\e92b";
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.icon-radius-map,
.icon-area-on-a-map {
  @include flex-central-align;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: $white;
  box-shadow: 0 9px 18px rgba(14, 19, 40, 0.14);
  color: $base-text-color;
  font-size: 28px;
  outline: none;
  border: none;
  padding: 0;
  transition: background $animation-speed, color $animation-speed;

  &.active,
  &:hover {
    background: $base-text-color;
    color: $white;
  }

  @include media('>=tablet') {
    width: 44px;
    height: 44px;
    font-size: 23px;
    border-radius: 5px;
  }
}

.icon-edit-btn,
.icon-del-bt {
  @include reset-btn-styles;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  color: $secondary-text-color;

  &:hover {
    color: $base-text-color;
  }
}

.simple-btn {
  padding: 9px 14px;
  text-align: center;
  outline: none;
  text-decoration: none;
  background: transparent;
  border: none;
  border-radius: 2em;
  font-weight: 500;
  transition: color $animation-speed, background $animation-speed;

  @include media('>=tablet') {
    padding: 6px 10px;
  }

  &:hover {
    color: $purple;
    background: $bg-light-gray;
  }
}

.play-video {
  @include flex-central-align;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background: #605f64;
  color: $white;
  font-size: 19px;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background $animation-speed;

  &:hover {
    background: $purple;
    color: $white;
  }

  &:before {
    content: "\e938";
    font-family: 'icomoon';
    display: inline-block;
    vertical-align: top;
    margin: 0 0 1px 5px;
    color: $white;
  }

  @include media('>=tablet') {
    width: 60px;
    height: 60px;
  }
}

.notification-btn {
  font-size: $font-size-base;
  color: $white;
  background: #7a6eda;
  border-radius: 21px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 6px 7px;
  min-width: 58px;
  outline: none;
  border: none;
  transition: background $animation-speed;

  &:hover {
    background: darken(#7a6eda, 3%);
  }

  &.bordered-btn {
    background: transparent;
    font-weight: normal;
    text-transform: none;
    border: 1px solid #7a6eda;
    min-width: 127px;

    &:hover {
      background: #7a6eda;
    }
  }
}

.circle-btn {
  display: inline-block;
  vertical-align: top;
  outline: none;
  background: none;
  border-radius: 100%;
  border: 1px solid $lines-light-gray;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 31px;
  font-size: 13px;
  color: $purple;
  transition: background $animation-speed;

  &:hover {
    background: rgba($purple, .1s);
  }

  &.icon-directions {
    &:before {
      display: inline-block;
      vertical-align: top;
      transform: scaleX(-1);
    }
  }
}

.registration-btn,
button[type="submit"].registration-btn {
  @include reset-btn-styles;
  display: inline-block;
  vertical-align: top;
  background: $purple;
  color: $white;
  border-radius: 2em;
  padding: 22px 30px;
  text-align: center;
  font-size: $lg-font-size;
  font-weight: 500;
  margin-top: 17px;
  width: 100%;
  min-width: 192px;
  transition: background $animation-speed;

  &:hover {
    background: darken($purple, 5%);
    color: $white;
  }

  @include media('>=tablet') {
    padding: 27px 30px;
    margin-top: 37px;
    width: auto;
  }

  &.lg-width {
    padding: 22px 86px;
    @include media('>=tablet') {
      padding: 27px 86px;
    }
  }

  &.has-next-arrow {
    padding: 22px 54px;

    &:after {
      font-family: 'icomoon';
      content: "\e93d";
      display: inline-block;
      vertical-align: middle;
      font-size: 10px;
      margin: 0 -14px 0 15px;

      @include media('>=tablet') {
        margin: 0 -15px 0 34px;
      }
    }

    @include media('>=tablet') {
      padding: 27px 54px;
    }
  }
}

.link-following {
  @include reset-btn-styles;
  color: $base-text-color;
  font-size: $medium-font-size;

  &:before {
    content: "\e940";
    font-family: 'icomoon';
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    color: $base-link-color;
    font-size: 12px;
  }

}