.datepicker-open-close {
	@include flex-horizontal-align;
	width: 100%;
	padding: 0 0 24px;

	.slide {
		border: none;
		padding: 20px 28px;

		&:before {
			display: none;
		}

		@include media('>=tablet') {
			min-width: 409px;
			top: 100%;
		}

		.datepicker-slide-title {
			font-weight: 500;
			font-size: 20px;
		}

		.selected-date {
			@include flex-horizontal-align;
			flex-wrap: wrap;
			width: 100%;
			font-size: 15px;
			padding: 16px 0 48px;

			&.selected {
				.reset-date {
					@include media('<tablet') {
						display: block;
					}
				}
			}

			@include media('>=tablet') {
				justify-content: center;
				padding: 20px 0 51px;
				text-align: center;
				font-size: $secondary-size-base;
			}
		}

		.date {
			@include flex-horizontal-align;
			justify-content: space-between;
			width: 100%;
			font-size: 20px;
			font-weight: 500;
			padding: 5px 0 0;

			&.start {
				color: $purple;
				background: $bg-light-gray;
				border-radius: 7px;
			}

			@include media('>=tablet') {
				padding: 9px 0 0;
				justify-content: center;
				color: $base-text-color;
			}
		}

		.line {
			display: inline-block;
			vertical-align: middle;
			padding: 0 11px;
		}

		.btn {
			width: 100%;
		}

		.ui-datepicker {
			table {
				width: 100%;
				font-size: .9em;
				border-collapse: collapse;
				margin: 0 0 .4em;
			}
		}

		.ui-widget {
			width: 100%;
			font-family: $base-font-sans-serif;
			font-size: $font-size-base;

			&.ui-widget-content {
				border: none;
				padding: 0;
				color: $base-text-color;
			}
		}

		.ui-widget-header {
			color: $base-text-color;
			background: transparent;
			padding: 0 0 17px;
			border: none;
			font-size: 15px;
			cursor: pointer;
			position: relative;
		}

		.ui-datepicker-title {
			font-weight: normal;
			margin: 0 2.3em;
			line-height: 1.8em;
			text-align: center;
		}

		.ui-datepicker-prev {
			left: 23px;
		}

		.ui-datepicker-next {
			right: 23px;
		}

		.ui-datepicker-prev,
		.ui-datepicker-next {
			@include flex-central-align;
			width: 30px;
			height: 30px;
			border-radius: 100%;
			background: $bg-light-gray;
			border: none;
			outline: none;
			top: 0;
			position: absolute;
			transition: background $animation-speed;

			&:hover {
				background: darken($bg-light-gray, 3%);
			}

			.ui-icon {
				@include flex-central-align;
				background-image: none;
				position: relative;
				margin: 0;
				top: 0;
				left: 0;
				text-indent: 0;
				font-size: 0;
				line-height: 0;
				overflow: visible;					

				&:before {
					font-family: 'icomoon';
					text-indent: 0;
					content: "\e918";
					font-size: 6px;
					font-weight: normal;
					line-height: 1;
					color: $purple;
					display: block;
					transform: rotate(90deg);
				}
			}
		}

		.ui-datepicker-next {
			.ui-icon {
				&:before {
					transform: rotate(-90deg);
				}
			}
		}

		.ui-datepicker-calendar {

			thead {
				th {
					font-weight: 500;
					color: $secondary-text-color;
					padding: 17px .3em;
				}
			}

			.ui-state-default,
			.ui-state-highlight {
				@include flex-central-align;
				background: transparent;
				border: none;
				color: $base-text-color;
				text-align: center;
				width: 33px;
				height: 33px;
				margin: 0 auto;
			}

			.ui-state-active {
				font-weight: 700;
				color: $white;
				background: $purple;
				border-radius: 100%;
			}
		}
	}


	.btn-back {

		&:before {
			@include media('>=tablet') {
				content: "\e904";
			}
		}

		@include media('>=tablet')  {
			position: absolute;
			top: 19px;
			right: 19px;
			font-size: 11px;
			width: 16px;
			height: 16px;
			margin: 0;
			background: transparent;
		}
	}

	i {
		font-size: 21px;
		cursor: pointer;
	}

	.selected-date {
		display: inline-block;
		vertical-align: middle;
		padding: 5px 9px;
		//min-width: 250px;
		line-height: 1.2;
		font-size: 16px;
		color: $base-text-color;
		font-weight: 500;
		cursor: pointer;

		@include media('>=desktop') {
			font-size: $font-size-base;
		}

		.opener {
			color: $purple;
		}
	}
}

.datepicker-label {
	display: block;
	padding: 0 0 13px;
	color: $secondary-text-color;

	@include media('>=tablet') {
		padding: 0 0 12px;
		font-size: $secondary-size-base;
	}
}

.daterangepicker {
	font-family: $base-font-sans-serif !important;
	border: none !important;
	border-radius: $lg-border-radius !important;
	box-shadow: 0px 18px 50px rgba(94, 101, 140, 0.15);
	padding: 0 !important;

	&.opensleft {
		&:before,
		&:after {
			display: none;
		}
	}

	@include media('<tablet') {
		width: calc(100% - 18px) !important;
	}

	.drp-buttons {
		display: flex !important;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: flex-end;
		text-align: left !important;
		border: none !important;
		background: $bg-light-gray;
		padding: 20px 44px !important;
		border-radius: 0 0 $lg-border-radius $lg-border-radius;

		@include media('<tablet') {
			padding: 20px 15px !important;
		}

		.drp-selected {
			display: none !important;
		}

		.btn {
			font-weight: 500 !important;
			font-size: $secondary-size-base !important;
			padding: 15px 10px !important;
			min-width: 138px;

			&.cancelBtn {
				margin-left: 19px;
				@include media('<tablet') {
					display: none;
				}
			}

			&.applyBtn  {
				background: $green;
				color: $white;
				border-color: $green;
				margin: 0 !important;

				&:hover {
					border-color: lighten($green, 4%);
					background: lighten($green, 4%);
					color: $white;
				}

				&:focus {
					color: $white;
				}

				@include media('<tablet') {
					width: 100%;
				}
			}
		}
	}

	.drp-calendar {
		padding: 37px 28px 0 !important;
		max-width: none !important;

		&.left {
			border: solid $lines-light-gray;
			border-width: 0 1px 0 0;

			@include media('<tablet') {
				border-width: 0 0 1px;
			}
		}

		@include media('<tablet') {
			padding: 25px 15px 0 !important;
		}

		#from-picker-wrap,
		#to-picker-wrap {
			text-align: center;
			display: block;
			font-size: 17px;
			font-weight: 500;
			padding: 0 0 40px;
		}
	}

	.calendar-table {
		padding: 0 0 36px !important;
		border: none;

		thead {
			tr {
				&:first-child {
					font-size: 15px;

					th {
						height: 59px !important;
						padding: 10px 0 15px;

						&.prev,
						&.next {
							height: 30px !important;
							display: block;
							padding: 0;
   							margin: 11px 0 0 17px;
						}

						&.next {
							margin: 11px 17px 0 0;
							span {
								margin-right: 3px;
							}
						}
					}
				}

				&:nth-child(2) {
					font-weight: 500;
					color: $secondary-text-color;

					th {
						font-size: $secondary-size-base !important;
					}
				}
			}


			th {
				height: 48px !important;

				&.prev,
				&.next {
					width: 30px !important;
					min-width: 0;
					background: $bg-light-gray;
					border-radius: 100%;
					text-align: center;

					span {
						display: inline-block;
						vertical-align: middle;
						border-color: $purple !important;
						border-width: 0 2px 2px 0;
						padding: 3px;
						margin-top: 3px;
					}
				}
			}
		}

		td {
			font-size: $font-size-base !important;
			width: 36px !important;
			height: 36px !important;
			border: none !important;
			padding: 0 17px;

			@include media('<tablet') {
				padding: 0 14px;
			}

			&:first-child {
				&.in-range:not(.active) {
					background: transparent !important;
					position: relative;
					z-index: 1;

					&:before {
						content: '';
						position: absolute;
						width: 24px;
						right: 0;
						top: 0;
						height: 36px;
						background: $bg-light-gray;
						z-index: -2;
					}

					&:after {
						content: '';
						position: absolute;
						background: $bg-light-gray;
						width: 36px;
						height: 36px;
						border-radius: 100%;
						top: calc(50% - 18px);
						left: calc(50% - 18px);
						z-index: -1;
					}
				}
			}

			&:last-child {
				&.in-range:not(.active) {
					background: transparent !important;
					position: relative;
					z-index: 1;

					&:before {
						content: '';
						position: absolute;
						width: 24px;
						left: 0;
						top: 0;
						height: 36px;
						background: $bg-light-gray;
						z-index: -2;
					}

					&:after {
						content: '';
						position: absolute;
						background: $bg-light-gray;
						width: 36px;
						height: 36px;
						border-radius: 100%;
						top: calc(50% - 18px);
						left: calc(50% - 18px);
						z-index: -1;
					}
				}
			}

			&.active {
				background: transparent !important;
				font-weight: 700;
				border-radius: 100% !important;
				position: relative;
				z-index: 2;

				&:before {
					content: '';
					position: absolute;
					background: $purple;
					width: 36px;
					height: 36px;
					border-radius: 100%;
					top: calc(50% - 18px);
					left: calc(50% - 18px);z-index: -1;
				}
			}

			&.available {
				&:not(.in-range),
				&:not(.start-date),
				&:not(.end-date),
				&:not(.active) {				
					&:hover {
						background: $bg-light-gray;
					}
				}
			}

			&.in-range,
			&.off.in-range {
				background: $bg-light-gray;
			}

			&.end-date {
				position: relative;
				z-index: 2;
				&:after {
					content: '';
					position: absolute;
					width: 22px;
					left: 0;
					top: 0;
					height: 36px;
					background: $bg-light-gray;
					z-index: -2;
				}
			}

			&.start-date.end-date {
				border-radius: 100%;

				&:before {
					display: none;
				}
			}
		}

		td.active + td.in-range {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				width: 22px;
				left: -22px;
				top: 0;
				height: 36px;
				background: $bg-light-gray;
			}
		}

		.month {
			font-size: 15px;
			font-weight: normal;
		}
	}
}