.has-arrow {
	position: relative;

	&:after {
		content: "\e918";
		font-family: icomoon;
		display:inline-block;
		vertical-align: middle;
		margin: 2px 0 0 10px;
		font-size: 6px;
		color: inherit;
		transition: transform $animation-speed;

		@include media('>=tablet') {
			margin: 0 0 0 7px;
			font-size: 5px;
		}
	}
}

.open-close,
.interior-open-close,
.datepicker-open-close {
	position: relative;
	color: $base-text-color;

	&.active  {
		.has-arrow:after {
			transform: rotate(180deg)
		}

		.slide {
			opacity: 1;
			visibility: visible;
		}
	}

	&.sorting {
		width: 100%;

		&.up {
			.sorting-icon {
				&:before {
					color: $input-border-color;
				}
				&:after {
					color: $base-text-color;
				}
			}
		}

		&.down {
			.sorting-icon {
				&:before {
					color: $base-text-color;
				}
				&:after {
					color: $input-border-color;
				}
			}
		}

		@include media('>=tablet') {
			@include flex-horizontal-align;
			width: auto;
		}

		.opner-subtitle {
			color: $secondary-text-color;
			display: inline-block;
			vertical-align: middle;
			padding: 0 7px 0 0;
		}

		.opener {
			font-weight: 500;
			font-size: $medium-font-size;

			&.has-arrow {
				&:after {
					margin: 0 0 2px 6px;
					font-size: 4px;

					@include media('>=tablet') {
						display: none;
					}
				}
			}

			&.tablet-reverse {
				@include media('>=tablet') {
					@include flex-horizontal-align;
					flex-direction: row-reverse;
				}

				.sorting-icon {
					padding: 0 7px 0 0;
					@include media('>=tablet') {
						padding: 0 0 2px 2px;
					}
				}
			}
		}

		.sorting-icon {
			display: inline-block;
			vertical-align: middle;
			font-style: normal;
			font-size: 13px;
			padding: 0 0 2px 2px;
			white-space: nowrap;

			&:before,
			&:after {
				font-family: 'icomoon';
				content: "\e93f";
				display: inline-block;
				vertical-align: middle;
				margin: 0 1px;
			}

			&:after {
				transform: rotate(180deg);
			}
		}
	}

	&.mobile-popup {
		&.active {
			.bottom-btn {
				opacity: 1;
			}
		}
		@include media('<tablet') {
			position: static;
		}

		.slide,
		.slide[class*="-drop"] {
			padding: 29px 23px 21px;

			@include media('<tablet') {
				top: 66px !important;
				bottom: 0;
				left: 0;
				width: 100%;
				min-height: calc(100vh - 66px);
				margin: 0;
				min-width: 0 !important;
				border: none;
				border-radius: 0;
				box-shadow: none;
				padding: 33px 30px;
				position: fixed;
				z-index: 2;
				overflow-y: auto;
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-between;

			}
		}

		.link-button {
			margin: 0 0 25px;

			@include media('>=tablet') {
				margin: 0 0 0 24px;
			}
		}
	}

	&.select {
		margin: 0 0 15px;
		border-radius: 5px;
		border: 1px solid $lines-light-gray;
		@include media('>=tablet') {
			padding: 0;
		}

		.slide {
			min-width: 0;
			left: 0;
			width: 100%;
			margin: 0;

			&:before {
				display: none;
			}

			.align-select-text {
				img {
					margin: -3px 8px 0 0;

					@include media('>=tablet') {
						margin: -3px 8px 0 0;
					}
				}
			}

		}

		.opener {
			@include flex-horizontal-align;
			color: $base-text-color;
			font-size: $lg-font-size;
			width: 100%;
			position: relative;
			padding: 5px 17px;
			min-height: 45px;

			@include media('>=tablet') {
				font-size: $font-size-base;
				margin: 0;
			}

			&:after {
				position: absolute;
				font-size: 5px;
				right: 14px;
				top: calc(50% - 2px);
				margin: 0;
			}

			.align-select-text {
				width: 100%;
				height: 100%;
			}
		}

		.align-select-text {
			@include flex-horizontal-align;
			width: 100%;

			img {
				margin: 0 8px 0 0;

				@include media('>=tablet') {
					margin: 0 15px 0 0;
				}
			}
		}

		.saved-payment-methods {
			border-top: 1px solid $secondary-light-gray;
			padding-top: 19px;

			.title {
				color: $secondary-text-color;
				display: block;
				padding: 0 0 27px;
			}
		}

		.switch-frame {
			padding: 0;
			@include media('>=tablet') {
				display: none;
			}

			.switch {
				margin: 0;
			}
		}

		.fake-switch-label {
			@include media('>=tablet') {
				cursor: pointer;
			}
		}

		.fake-label {
			padding: 0;

			@include media('>=tablet') {
				padding: 0;
			}
		}

	}

	&.save-report {
		.opener {
			font-size: $medium-font-size;
			border: 1px solid $lines-light-gray;
			border-radius: 5px;
			padding: 13px 35px 12px 13px;
			width: 100%;
			display: block;
			position: relative;

			&:after {
				position: absolute;
				top: 56%;
				transform: translateY(-50%);
				right: 20px;
			}
		}
		.slide {
			top: calc(100% + 6px);
			padding: 0 10px 5px;
			width: 100%;
			border-radius: 7px;
		}

		.list {
			&:last-child {
				margin-bottom: 0;
			}
			li {
				padding: 11px;
				margin: 0 0 2px;
				cursor: pointer;
				transition: text-shadow $animation-speed, background $animation-speed;

				&.lead {
					border-bottom: 1px solid #DCE5F4;
					margin: 0 -10px 2px;
					padding: 18px 21px 15px;
				}

				&:hover {
					text-shadow: 0 0 1px $base-text-color;
					background: #F6F7FD;
				}
			}
		}
	}

	&.status-drop {
		.slide {
			top: calc(100% + 10px);
			min-width: 214px;
			width: 214px;
			padding: 24px 17px 9px;
		}

		.list {
			li {
				padding: 0 0 14px;
			}
		}
	}

	.opener {
		color: inherit;
		font-size: inherit;
		text-decoration: none;
		transition: color $animation-speed;

		&:hover {
			color: $purple;
		}

		&[class*="btn"] {
			color: $secondary-text-color;
			transition: color $animation-speed;

			&:hover {
				color: $base-text-color;
				opacity: 1;
			}
		}

		a {
			font-size: inherit;
		}
	}

	.slide,
	.interior-slide {
		font-size: $font-size-base;
		position: absolute;
		background: $white;
		min-width: 246px;
		padding: 24px 17px 14px;
		border: 1px solid $lines-light-gray;
		border-radius: $lg-border-radius;
		box-shadow: 0 18px 50px rgba(94, 101, 140, 0.15);
		z-index: 2;
		opacity: 0;
		visibility: visible;
		top: calc(100% + 8px);

		&.pagination-drop {
			margin-top: 0;
			margin-bottom: 7px;
			width: 246px;
			bottom: 100%;
			top: auto;
			font-weight: normal;

			@include media('>=tablet') {
				right: 0;
				left: auto;
				top: auto;
			}

			&:before {
				bottom: -7px;
				top: auto;
				transform: scaleY(-1);
				@include media('>=tablet') {
					left: auto;
					right: 28px;
				}
			}
		}

		&.right-direction {
			right: -10px;
			left: auto;
		}

		&.top-direction {
			@include media('>=tablet') {
				top: auto;
				bottom: calc(100% + 8px);
			}
		}

		&.xs-width {
			min-width: 182px;
		}

		&.sm-width {
			min-width: 245px;
		}

		&.md-width {
			min-width: 277px;
		}

		.list {
			&.has-active-checkmark {
				margin-bottom: -17px;
			}
		}
	}

	.slide-two-column {
		@include media('>=tablet') {
			display: flex;
		}

		.col {
			padding: 0 0 35px;
			@include media('>=tablet') {
				width: 50%;
				padding: 0 18px 0 0;
			}
		}

		.col + .col {
			position: relative;
			padding: 27px 0 0;

			&:before{
				content: '';
				background: $lines-light-gray;
				height: 1px;
				left: -25px;
				right: -25px;
				top: 0;
				position: absolute;

				@include media('>=tablet') {
					height: auto;
					width: 1px;
					left: 0;
					right: auto;
					top: -22px;
					bottom: -67px;
				}
			}

			@include media('>=tablet') {
				padding: 0 0 0 18px;
			}
		}
	}

	.slide-two-column + .btn-holder {
		@include media('>=tablet') {
			max-width: 50%;
		}
	}

	.slide-title {
		font-size: 22px;
		font-weight: 700;
		display: block;
		padding: 0 0 19px;

		@include media('>=tablet') {
			font-size: 18px;
		}
	}

	.slide-caption {
		@include flex-horizontal-align;
		justify-content: space-between;
		padding: 0 0 24px;

		&.mob-close-arrow {
			@include media('<tablet') {
				flex-direction: row-reverse;
				justify-content: flex-end;
			}

			.btn-back {
				&:before{
					@include media('<tablet') {
						content: "\e91e" !important;
					}
				}
				@include media('<tablet') {
					margin: 0 11px 0 0;
					width: auto;
					height: auto;
				}
			}
		}

		@include media('>=tablet') {
			display: block;
			padding: 0 0 19px;
		}

		.slide-title {
			padding: 0;
		}
	}

	.search-box {
		position: relative;
		margin: 0 0 26px;

		input[type="search"] {
			background: $third-light-gray;
			border-radius: 5px;
			padding-left: 48px;

			@include media('>=tablet') {
				padding-left: 35px;
			}
		}

		.btn-search {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 14px;
			font-size: 17px;

			@include media('>=tablet') {
				top: 55%;
				font-size: 15px;
				left: 12px;
			}
		}
	}

	.bottom-btn {
		@include media('>=tablet') {
			@include flex-horizontal-align;
			padding: 13px 0;
			font-size: $font-size-base;
		}

		.link-button {
			@include media('>=tablet') {
				margin: 0 0 0 27px;
			}
		}
	}

	label[for*="-all"] + .group-title {
		padding-top: 26px;
	}

	.submit,
	button[type="submit"] {
		padding: 12px 15px;


		@include media('<tablet') {
			width: 100%;
			font-size: 15px;
			font-weight: 500;
			padding: 18px 15px;
		}
	}

	.fake-label {
		@include media('>=tablet') {
			font-size: $medium-font-size;
		}
	}

	.fake-input,
	.check-all {
		@include media('>=tablet') {
			width: 17px;
			height: 17px;
		}
	}
}

.interior-open-close {
	&.active {
		.interior-slide {
			opacity: 1;
			visibility: visible;
		}
	}

	.interior-slide {
		@include media('>=tablet') {
			min-width: 272px;
			padding: 27px 25px 4px;
		}

		.list {
			li {
				@include media('>=tablet') {
					padding: 0 0 22px;
				}
			}
		}
	}
}

.datepicker-open-close {
	.opener {
		@include flex-horizontal-align;

		i {
			color: $purple;
		}
	}
}

.drop-form {

	&.has-indent {
		@include media('>=tablet') {
			padding: 0 0 44px;
			position: relative;
		}
	}

	@include media('>=tablet') {
		padding: 0;
		position: relative;
	}

	@include media('<tablet') {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		height: 95%;
	}
}

.filter-holder {
	&.active {
		.filter-slide {
			opacity: 1;
			visibility: visible;
		}
	}

	.filter-slide {
		opacity: 0;
		visibility: hidden;
		padding: 9px 0 20px;
		@include media('<tablet') {
			top: 66px;
			left: 0;
			width: 100%;
			height: calc(100vh - 66px);
			margin: 0;
			min-width: 0 !important;
			border: none;
			border-radius: 0;
			box-shadow: none;
			padding: 37px 30px;
			position: fixed;
			z-index: 1;
			overflow-y: auto;
			background: $white;
		}
	}

	.lead-slide-title {
		@include flex-horizontal-align;
		justify-content: space-between;
		font-size: 22px;
		color: $base-text-color;
		padding: 0 0 22px;
		font-weight: 500;
	}

	.btn-back,
	.filter-close {
		margin: 5px -2px 0 0;
	}

	.drop-form {
		height: 92%;

		@include media('>=tablet') {
			@include flex-horizontal-align;
			height: 100%;
			padding: 0;
		}
	}


	.btn-holder{
		@include media('<tablet') {
			padding: 20px 0 0;
		}
		.btn {
			@include media('<tablet') {
				width: 100%;
			}
		}
	}
}

.filter-frame {
	@include media('>=tablet') {
		display: flex;
		flex: 1 0;
		border: 1px solid $lines-light-gray;
		border-radius: 11px;
	}

	.open-close {
		position: relative;

		&.active {
			.opener {
				&:before {
					transform: rotate(0);

					@include media('>=tablet') {
						transform: translateY(-50%) rotateX(180deg);
					}
				}
			}

			.slide {
				opacity: 1;
				visibility: visible;
				left: 0;
			}
		}

		&.has-selected-items {
			.opener {
				&:before {
					@include media('<tablet') {
						display: none;
					}
				}
				@include media('<tablet') {
					width: calc(100% - 30px);
				}
			}

			.btn-remove {
				@include media('<tablet') {
					display: block;
				}
			}
		}

		.opener-align {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			@include media('>=tablet') {
				display: block;
			}
		}

		.opener {
			position: relative;
			padding: 0 20px 0 0;
			display: block;
			width: 100%;

			&:before{
				position: absolute;
				bottom: 5px;
				right: -4px;
				content: "\e918";
				font-family: icomoon;
				font-size: 7px;
				color: inherit;
				transition: transform $animation-speed;
				transform: rotate(-90deg);

				@include media('>=tablet') {
					right: 24px;
					font-size: 5px;
					bottom: auto;
					top: calc(50% + 4px);
					transform: translateY(-50%);
				}
			}

			@include media('>=tablet') {
				min-height: 77px;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				padding: 0 35px 3px 25px;
			}
		}

		.opener-title {
			display: block;
			color: $secondary-text-color;
			font-size: $font-size-base;
			padding: 0 0 11px;

			@include media('>=tablet') {
				padding: 0 0 5px;
			}
		}

		.current-value {
			color: $base-text-color;
			font-size: $medium-font-size;
			@include media('>=tablet') {
				font-size: $font-size-base;
				font-weight: $base-font-weight;
			}
		}

		.btn-remove {
			width: 26px;
			height: 26px;
			line-height: 26px;
			background: $third-light-gray;
			margin: 0 -6px -5px 0;
			font-size: 9px;
			display: none;

			@include media('>=tablet') {
				display: none;
			}
		}

		.slide {
			width: 100%;
			padding: 29px 21px 22px;
			top: calc(100% + 5px);

			@include media('<tablet') {
				border: none;
				box-shadow: none;
				min-width: 0;
				position: fixed;
				max-height: none;
				padding: 37px 30px 37px;
				top: 66px;
				bottom: 0;
				min-height: calc(100vh - 66px);
				overflow-y: scroll;
				left: -9999px;
				margin: 0;
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-between;
				opacity: 0;
				visibility: hidden;
			}

			.search-box {
				margin: 0 0 35px;

				@include media('>=tablet') {
					margin: 0 0 23px;
				}
			}

			.list {
				li {
					padding: 0 0 19px;
					@include media('>=tablet') {
						padding: 0 0 12px;
					}
				}
			}

			.list-has-drop {
				padding: 19px 0 6px;

				@include media('>=tablet') {
					padding: 9px 0 6px;
				}
			}

			label {
				display: block;
				.check-all {
					top: 2px;
				}
			}

			.checked-all-groups {
				>.fake-input,
				>.check-all {
					border-color: $purple;
					&:before {
						opacity: 1;
					}
				}
				>.fake-label {
					font-weight: 500;
				}
			}
		}

		.bottom-btn {
			.btn,
			.submit {
				@include media('<tablet') {
					padding: 21px 15px;
					font-size: $lg-font-size;
				}
			}
		}
	}

	.filter-col {
		border: solid $lines-light-gray;
		border-width: 1px 0 0;
		margin: 0 -30px;
		padding: 23px 30px;

		&:last-child {
			@include media('>=tablet') {
				border: none;
			}

			.current-value {
				font-weight: normal;
			}
		}

		&:only-child {
			@include media('>=tablet') {
				border: none;
			}
		}

		@include media('>=tablet') {
			width: 33.33%;
			border-width: 0 1px 0 0;
			margin: 0;
			padding: 0
		}
	}
}

.reset-filter-block {
	width: 17%;
	text-align: right;
	padding: 0 0 0 10px;
}

.has-second-level {
	position: relative;

	&:before {
		content: '';
		width: 1px;
		background: $secondary-light-gray;
		position: absolute;
		top: 40px;
		bottom: 16px;
		left: 11px;
		opacity: 0;

		@include media('>=tablet') {
			top: 33px;
			bottom: 12px;
			left: 8px;
		}
	}

	&.active {
		&:before {
			opacity: 1;
		}

		.second-level-opener {
			&:before {
				transform: scale(-1);
			}
		}
	}

	&.checked-all {
		.opener-box {
			.fake-label {
				font-weight: 500;
			}
			.fake-input,
			.check-all{
				border-color: $purple;
				&:before {
					opacity: 1;
				}
			}
		}

		.second-level-slide {
			.fake-input {
				border-color: $input-border-color;
				&:before {
					color: $input-border-color;
				}
			}
		}
	}

	&.semi-check {
		.opener-box {
			.fake-input,
			.check-all{
				border-color: $purple;
				&:before {
					content: '';
					width: 60%;
					margin: 0 auto;
					height: 2px;
					background: $purple;
					opacity: 1;
				}
			}
		}
	}

	.opener-box {
		@include flex-horizontal-align;
		justify-content: space-between;
	}

	.second-level-opener {
		@include flex-central-align;
		@include reset-btn-styles;
		background: $third-light-gray;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		color: $base-text-color;
		font-size: 7px;
		margin: 0 -1px 0 5px;
		transition: background $animation-speed;

		&:before {
			display: inline-block;
			vertical-align: top;
			font-family: 'icomoon';
			content: "\e903";
			transition: transform $animation-speed;
		}

		&:hover {
			background: darken($third-light-gray, 5%);
		}

		@include media('>=tablet') {
			margin: 0 -8px 0 5px;
		}
	}

	.second-level-slide {
		margin-left: 26px;
		padding: 10px 0 0;

		@include media('>=tablet') {
			margin-left: 20px;
			padding: 4px 0 0;
		}

		.fake-label {
			font-size: $font-size-base;
		}

		.list {
			li {
				padding: 0 0 14px !important;

				@include media('>=tablet') {
					padding: 0 0 7px !important;
				}
			}
		}
	}
}

.desktop-static {
	>.opener,
	>.filter-btn {
		@include media('>=tablet') {
			display: none;
		}
	}

	.desktop-static-slide {
		@include media('>=tablet') {
			position: static !important;
			background: transparent;
			box-shadow: none;
			border-radius: 0;
			border: none;
			padding: 0;
			margin: 0;
		}

		&:before {
			@include media('>=tablet') {
				display: none;
			}
		}
	}

	.filter-slide,
	.desktop-static-slide {
		opacity: 1;
		visibility: visible;
	}
}