ul {
	@extend %listreset;
}
.list {

	&.has-active-checkmark {
		padding: 0 0 10px;

		li {
			padding: 0 0 17px;

			&.active {
				a {
					font-weight: 500;

					&:before {
						opacity: 1;
					}
				}

				.amount-number {
					color: $base-text-color;
				}

				.sorting-icon {
					display: inline-block;
				}
			}

			a {
				padding: 0 0 0 21px;
				position: relative;

				&:before {
					content: "\e902";
					font-family: 'icomoon';
					position: absolute;
					top: 4px;
					left: 0;
					color: $purple;
					font-size: 7px;
					opacity: 0;
				}
			}

			.sorting-icon {
				display: none;
			}
		}
	}

	&.active-checkmark-end {
		padding: 0 0 10px;

		li {
			padding: 0 0 17px;

			&.active {
				a {
					font-weight: $base-font-weight;

					&:before {
						opacity: 1;
					}
				}

				.amount-number {
					color: $base-text-color;
				}
			}

			a {
				padding: 0 19px 0 0;
				position: relative;

				&:before {
					content: "\e902";
					font-family: 'icomoon';
					position: absolute;
					top: 4px;
					right: 0;
					color: $purple;
					font-size: 7px;
					opacity: 0;
				}
			}
		}
	}

	&.has-actions-button {
		>li {
			@include flex-horizontal-align;
			justify-content: space-between;
			position: relative;
			cursor: default;
			padding: 0 0 22px;
			
			&:hover {
				.internal-btn-list {
					@include media('>=tablet') {
						opacity: 1;
					}
				}
			}
		}

		.internal-btn-list {
			padding: 0 3px 0 0;

			@include media('>=tablet') {
				opacity: 0;
			}

			li {
				display: inline-block;
				vertical-align: top;
				padding: 0 4px;
			}
		}

		.icon-edit-btn,
		.icon-del-bt {
			color: $secondary-text-color;

			&:hover {
				color: $base-text-color;
			}
		}

		.btn-del,
		>a.btn-del {
			display: flex;
			width: 24px;
			height: 24px;
			border-radius: 100%;
			background: $light-red;
			color: $white;
			font-size: 12px;
			transition: opacity $animation-speed;
		}
	}

	li {
		padding: 0 0 16px;

		&.active >a {
			font-weight: 700;
		}

		&.selected {
			.fake-switch-label,
			>a {
				font-weight: 500;
			}
		}
		
		>a {
			white-space: normal;
			text-decoration: none;
			color: inherit;
			display: inline-block;
			vertical-align: top;
			text-decoration: none;
			transition: color $animation-speed;
			
			&:hover {
				color: $purple;
			}
		}

		a.btn-remove {
			@include flex-central-align;
			color: $secondary-text-color;
		}
	}
}

.statistics-list {

	@include media('>=tablet') {
		@include flex-horizontal-align;
	}

	@include media('>=tablet') {
		margin: 0 -30px;
	}

	@include media('>=desktop') {
		padding-left: 8.5%
	}

	li {
		@include flex-horizontal-align;
		padding: 10px 0;
		border-bottom: 1px solid $secondary-light-gray;

		@include media('>=tablet') {
			flex-direction: row-reverse;
			border-bottom: none;
			padding: 0 21px;
		}
	}

	.text {
		flex: 1 0;
		display: flex;
		justify-content: space-between;
		font-size: $medium-font-size;

		@include media('>=tablet') {
			display: block;
			font-size: 17px;
		}

		strong {
			font-weight: 500;
			display: block;
			padding: 0 10px 0 0;

			@include media('>=tablet') {
				font-weight: 700;
				font-size: $medium-font-size;
				padding: 0 0 5px;
			}
		}
	}

	.c100 {
		margin: 0 0 0 27px;

		@include media('>=tablet') {
			margin: 0 18px 0 0;
		}
	}
}

.selected-companies-list {
	@include flex-horizontal-align;
	flex-wrap: wrap;
	margin: 0 -5px;
	font-size: $medium-font-size;

	li {
		@include flex-horizontal-align;
		margin: 0 5px 10px;
		padding: 9px 15px;
		border-radius: 2em;
		text-align: center;
		white-space: nowrap;
	}

	.btn-remove {
		margin: 0 0 0 9px;
	}
}

.column-order-list {
	font-size: 15px;

	li {
		@include flex-horizontal-align;
		justify-content: space-between;
		margin: 0 0 19px;
		position: relative;
		cursor: grab;

		&:before {
			position: absolute;
			top: calc(50% - 12px);
			right: -2px;
			font-family: 'icomoon';
			content: "\e93b";
			font-size: 17px;
			color: $secondary-text-color;
			@include media('>=tablet') {
				right: auto;
				left: 13px;
				font-size: 12px;
				top: calc(50% - 6px);
			}
		}

		@include media('>=tablet') {
			border: 1px solid $lines-light-gray;
			border-radius: 6px;
			padding: 10px 14px 9px 32px;
			margin: 0 0 8px;
		}

		.btn-remove {
			margin: 0 0 0 7px;
			font-size: 11px;
		}
	}
}

.list-has-drop {
	>li,
	>li.has-second-level {
		padding: 0 0 1px;
	}
}

.tooltip-time-list {
	text-align: center;
}

.step-list {
	@include flex-horizontal-align;
	position: relative;
	padding: 29px 7px 0;
	font-size: 14px;
	font-weight: 500;
	color: $input-border-color;

	@include media('>=tablet') {
		padding: 0;
		font-weight: 700;
		font-size: 12px;
	}

	li {
		@include flex-horizontal-align;

		&:last-child {
			.dots {
				display: none;
			}
		}

		&.active-step {
			color: $purple;

			.step-title {
				display: block;
			}

			.circle {
				background: $bg-light-gray;
				&:before {
					border-color: $purple;
				}
			}
		}

		&.done-step {
			color: $purple;

			.step-title {
				display: none;
			}

			.circle {
				background: $bg-light-gray;
				&:before {
					border: none;
					content: "\e902";
					font-family: 'icomoon';
				}
			}
		}
	}

	.circle {
		@include flex-central-align;
		width: 25px;
		height: 25px;
		background: $bg-light-gray;
		border-radius: 100%;

		&:before {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 100%;
			border: 1.5px solid $secondary-text-color;
			font-size: 6px;
			line-height: 1;
		}

		@include media('>=tablet') {
			width: 24px;
			height: 24px;
			background: transparent;
		}
	}

	.step-title {
		display: none;
		position: absolute;
		top: 0;
		left: 9px;

		@include media('>=tablet') {
			padding: 0 0px 0 12px;
			position: static;
		}
	}

	.dots {
		letter-spacing: 4px;
		padding: 0 2px 8px 8px;
		display: inline-block;
		text-align: center;

		@include media('>=tablet') {
			letter-spacing: 7px;
			padding: 0 8px 5px 11px;
		}
	}
}

.radio-list {
	padding: 0 0 22px;

	&.md-radio-button {
		label {
			min-width: 123px;
		}
	}

	@include media('>=tablet') {
		padding: 0 32px 0 0;
	}

	li {
		display: inline-block;
		vertical-align: top;
	}

	li + li {
		padding-left: 12px;
	}
}

.btn-list {
	@include media('>=tablet') {
		margin: 0 -5px -8px;
	}

	>li {
		padding: 0 0 10px;

		@include media('>=tablet') {
			padding: 0 5px 8px;
			display: inline-block;
			vertical-align: top;
		}
	}

	.interior-open-close {
		.interior-slide {
			@include media('>=tablet') {
				font-size: $medium-font-size;
			}
		}
	}
}

.modal-time-list,
.modal-region-list {
	margin: 0 -15px;

	@include media('>=tablet') {
		margin: 0 -30px;
		padding: 7px 0 0;
	}

	li {
		margin: 0 0 2px;
		&.active >a,
		>a:hover {
			background: $third-light-gray;
		}
	}

	.align-item-holder {
		width: 100%;
		color: inherit;
		border-radius: 9px;
		padding: 22px 16px;
		display: block;

		@include media('>=tablet') {
			@include flex-horizontal-align;
			padding: 15px 26px;
			border-radius: 12px;
		}
	}

	.item-title {
		display: block;
		padding: 0 0 16px;
		@include media('>=tablet') {
			width: 41.5%;
			padding: 0 0 0 6px;
		}
	}

	.name {
		display: block;
		font-size: $medium-font-size;
		font-weight: 500;
		padding: 0 0 6px;

		@include media('>=tablet') {
			padding: 0 0 8px;
		}
	}

	.time {
		color: $secondary-text-color;
		display: block;
		font-size: $font-size-base;
	}

	.week-cell {
		flex: 1 0;
		justify-content: space-between;
		font-size: 12px;

		@include media('>=tablet') {
			font-size: 12px;
		}

		.day-item {
			&:first-child {
				.time-tooltip {
					&:before{
						@include media('<tablet') {
							left: 7px;
						}
					}

					@include media('<tablet') {
						transform: translateX(0);
						left: -14px;
					}
				}
			}

			&:last-child {
				.time-tooltip {
					&:before{
						@include media('<tablet') {
							right: 7px;
							left: auto;
						}
					}

					@include media('<tablet') {
						transform: translateX(0);
						right: -14px;
						left: auto;
					}
				}
			}
		}

		.time-tooltip {
			font-size: $secondary-size-base;
			min-width: 96px;
			padding: 11px 5px 12px;

			&:before {
				content: '';
				position: absolute;
				top: -10px;
				left: calc(50% - 15px);
				background-image: url(../images/chart-hover.svg);
				background-repeat: no-repeat;
				background-size: contain;
				width: 30px;
				height: 10px;
				transform: scaleY(-1);
			}
		}

		.day-circle {
			margin: 8px 0 6px;
		}
	}
}

.modal-region-list {
	.align-item-holder {
		flex-wrap: wrap;
	}
	.region-caption {
		@include flex-horizontal-align;
		font-size: $medium-font-size;
		font-weight: 500;
		padding: 0 0 12px;
		width: 100%;

		.name {
			display: inline-block;
			max-width: 182px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			padding: 0;
		}

		.other-items {
			font-size: $font-size-base;
		}
	}
}

.video-requirements {
	margin: 0;
	padding: 0 0 19px;

	@include media('>=phone') {
		font-size: $secondary-size-base;
		padding: 0 0 12px;
	}

	div {
		@include flex-horizontal-align;
		padding: 0 0 13px;

		@include media('>=phone') {
			padding: 0 0 12px;
		}
	}

	dt, dd {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin: 0;

		@include media('>=phone') {
			width: auto;
		}
	}
	dd {
		text-align: right;
		padding-left: 3px;

		@include media('>=tablet') {
			text-align: left;
			font-weight: 500;
		}
	}
}

.slide-video-list {
	@extend %listreset;

	>li {
		@include flex-horizontal-align;
		cursor: pointer;
		padding: 9px 0;
		margin: 0 0 10px;
		position: relative;

		&.active,
		&:hover  {
			&:before {
				opacity: 1;
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			background: $bg-light-gray;
			left: 0;
			right: 0;
			opacity: 0;
			z-index: -1;
			transition: opacity $animation-speed;
		}

		@include media('>=tablet') {
			margin: 0 0 2px;
		}
	}

	.img-box {
		width: 78px;
		height: 54px;
		overflow: hidden;
		border-radius: 7px;
		position: relative;
		margin: 0 22px 0 0;

		@include media('>=tablet') {
			margin: 0 24px 0 0;
		}

		img {
			width: 100%;
		}

		.play-video {
			background: $purple;
			width: 24px;
			height: 24px;
			font-size: 10px;

			&:before {
				margin: 0 0 0 2px;
			}

			@include media('>=tablet') {
				width: 24px;
				height: 24px;
			}
		}
	}

	.name {
		display: block;
		padding: 0 0 6px;
		font-weight: 500;
		font-size: $medium-font-size;
	}
}

.bullet-inline-list {
	@include flex-horizontal-align;
	color: $secondary-text-color;
	font-size: $font-size-base;

	li {
		position: relative;
	}

	li +li {
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			border-radius: 100%;
			width: 3px;
			height: 3px;
			background: $gray;
			margin: 0 4px;
		}
	}
}

.link-list {
	font-weight: 500;

	@include media('>=tablet') {
		font-size: $secondary-size-base;
	}

	li {
		padding: 0 0 9px;
	}
}

.default-radio-list {
	@include media('>=tablet') {
		@include flex-horizontal-align;
		margin: 0 -14px;
	}

	li {
		padding: 0 0 9px;
		@include media('>=tablet') {
			padding: 0 15px;
		}
	}

	.fake-label {
		padding-left: 33px;
		@include media('>=tablet') {
			padding-left: 28px;
		}
	}

	.fake-input {
		width: 23px;
		height: 23px;
		top: -3px;
		@include media('>=tablet') {
			width: 20px;
			height: 20px;
			top: 0;
		}
	}

	input[type="radio"] + .fake-input:before {
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		@include media('>=tablet') {
			top: 4px;
			left: 4px;
			right: 4px;
			bottom: 4px;
		}
	}
}

.transfer-total-list {
	margin: 0;

	>div {
		@include flex-horizontal-align;
		margin: 0 0 29px;
		@include media('>=tablet') {
			margin: 0 0 12px;
		}
	}

	dd, dt {
		margin: 0;
	}

	dt {
		font-size: $medium-font-size;

		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}

	dd {
		font-size: $medium-font-size;
		font-weight: 500;
	}

	.increase,
	.decrease {
		display: block;
		font-weight: $base-font-weight;
		@include media('>=tablet') {
			display: inline-block;
			vertical-align: top;
		}
	}

	.increase {
		color: $green;
	}

	.decrease {
		color: $light-red;
	}
}

.payment-radio-list {
	@extend %listreset;
	@include flex-horizontal-align;
	margin: 0 -5px;
	white-space: nowrap;
	overflow-x: auto;

	li {
		padding: 0 5px;
	}

	label {
		@include flex-central-align;
		flex-flow: column nowrap;
		border: 2px solid $lines-light-gray;
		border-radius: 10px;
		padding: 5px;
		width: 150px;
		height: 101px;
		font-weight: $base-font-weight;
		cursor: pointer;
		transition: border-color $animation-speed, font-weight $animation-speed;

		@include media('>=tablet') {
			width: 160px;
		}

		span {
			width: 100%;
			text-align: center;
		}
	}

	input[type="radio"]:checked + label {
		border-color: $purple;
		font-weight: 700;
	}

	.icon-box {
		@include flex-central-align;
		height: 44px;
		margin: 0 0 8px;

		img {
			max-width: 100%;
		}
	}
}

.contact-list {
	li {
		padding: 0 0 5px;
	}
}

.list-inline {
	@extend %listreset;
	margin: 0 -5px;

	>li {
		display: inline-block;
		vertical-align: top;
		padding: 0 5px;
	}
}

.definition-list {
	margin: 0;
	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
	}

	dt {
		margin: 0 0 6px;
		font-weight: 500;
		color: $secondary-text-color;

		@include media('>=tablet') {
			margin: 0 0 28px;
			font-weight: normal;
			margin: 0;
			width: 30%;
		}

		@include media('>=desktop') {
			max-width: 182px;
		}
	}

	dd {
		margin: 0 0 15px;
		font-size: $medium-font-size;

		@include media('>=tablet') {
			margin: 0 0 28px;
			padding: 0 0 0 10px;
			width: 70%;
			font-size: $medium-font-size;
		}
	}
}

.selected-company-list {
	@extend %listreset;
	margin: 0 -4px;
	font-weight: 500;
	color: $purple;
	font-size: $secondary-size-base;


	li {
		display: inline-block;
		vertical-align: top;
		margin: 0 2px;
		background: $bg-light-gray;
		padding: 9px 15px;
		text-align: center;
		border-radius: 22px;
	}

	.btn-remove {
		font-size: 9px;
		background: transparent;
		color: $input-border-color;
		width: auto;
		height: auto;
		margin: 0 0 0 7px;

		&:hover {
			color: $base-text-color;
		}
	}
}

.social-networks {
	li {
		padding: 0 0 10px;
	}

	a {
		display: block;
		width: 43px;
		height: 43px;
		transition: opacity $animation-speed;

		&:hover {
			opacity: 0.7;
		}
	}
}

.footer-list {
	color: $secondary-text-color;
	@include media('>=tablet') {
		margin: 0 -9px;
		font-size: $secondary-size-base;
	}

	li {
		padding: 0 0 10px;
		@include media('>=tablet') {
			display: inline-block;
			vertical-align: top;
			padding: 0 9px;
		}
	}

	a {
		color: inherit;
		transition: color $animation-speed;

		&:hover {
			color: $base-text-color;
		}
	}
}

.registration-radio-list {
	@include media('>=tablet') {
		@include flex-horizontal-align;
		padding: 0 0 45px;
	}

	li {
		padding: 0 0 15px;
		@include media('>=tablet') {
			width: 33.33%;
			max-width: 305px;
			padding: 0 10px;
		}
	}

	label {
		padding: 10px 32px 14px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 162px;
		text-align: center;
		position: relative;
		color: $secondary-text-color;
		line-height: 1.6;

		@include media('>=tablet') {
			max-width: 285px;
			height: 224px;
		}
	}

	input[type="radio"] + .fake-input  {
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 2px solid $secondary-light-gray;
		border-radius: 17px;

		@include media('>=tablet') {
			border-radius: 10px;
		}

		&:before {
			content: "";
			top: -1px;
			right:  -1px;
			left: auto;
			bottom: auto;
			font-size: 10px;
			text-align: center;
			line-height: 43px;
			width: 43px;
			height: 43px;
			background: url("../images/radio-bg.svg") 100% 0 no-repeat;
			background-size: contain;
			border-radius: 0;

			@include media('>=tablet') {
				width: 35px;
				height: 35px;
				line-height: 35px;
			}
		}
	}

	input[type="radio"]:checked + .fake-input {border-color:$purple;}

	input[type="radio"]:checked ~ .fake-label {
		font-weight: normal;
	}

	.radio-title {
		color: $base-text-color;
		display: block;
		font-size: 19px;
		font-weight: 500;
		padding: 0 0 12px;

		@include media('>=tablet') {
			padding: 0 0 17px;
		}
	}
}

.reg-social-list {
	@include flex-central-align;
	margin: 0 -5px 24px;
	font-weight: 500;

	@include media('>=tablet') {
		margin: 0 -7px;
	}

	li {
		padding: 0 5px;

		@include media('>=tablet') {
			padding: 0 7px;
		}
	}

	a {
		@include flex-central-align;
		flex-flow: column nowrap;
		border: 1px solid $lines-light-gray;
		border-radius: 14px;
		width: 100px;
		height: 84px;
		color: $base-text-color;
		transition: background $animation-speed;

		&:hover {
			background: rgba($lines-light-gray, 0.7);
		}

		@include media('>=tablet') {
			width: 127px;
			height: 86px;
		}

		img {
			margin: 0 0 9px;

			&.facebook {
				margin: -7px 0 3px;
			}
		}
	}
}

.copy-video-list {
	li {
		@include flex-horizontal-align;
		padding: 10px 0;

		&:first-child {
			padding: 12px 0;
		}
	}

	.check-all,
	label {
		margin: 0 16px 0 0;
		display: inline-block;
		vertical-align: top;

		.fake-input {
			position: relative;
			margin: 0;
		}
	}

	.text {
		@include flex-horizontal-align;
	}

	.img-box {
		position: relative;
		width: 70px;
		height: 49px;
		border-radius: 5px;
		overflow: hidden;
		background-size: cover;
		background-position: 50% 50%;
		margin: 0 19px 0 0;
	}

	.play-video {
		width: 23px;
		height: 23px;
		font-size: 7px;
		background: rgba($purple, 0.9);

		&:before{
			margin: 0 0 1px 3px;
		}

		&:hover {
			background: $purple;
		}
	}
}

.bordered-items-list {
	margin: 0 -3px;

	@include media('>=tablet') {
		margin: 0 -4px;
	}

	&.red-border-items {
		li {
			border-color: $light-red;
		}
	}

	li {
		display: inline-block;
		vertical-align: top;
		border: 1px solid #5A4BC9;
		padding: 10px 14px 9px;
		margin: 0 2px 8px;
		border-radius: 2em;

		&.red-border {
			border-color: $light-red;
		}

		@include media('>=tablet') {
			padding: 10px 13px 9px;
			margin: 0 3px 8px;
		}
	}

	.btn-remove {
		width: auto;
		height: auto;
		background: transparent;
		color: $secondary-text-color;
		margin: 0 0 0 6px;

		@include media('>=tablet') {
			margin: 0 0 0 10px;
		}
	}
}

.regions-list {
	padding: 6px 0 25px;
	margin: 0;
	list-style: none;

	@include media('>=tablet') {
		padding: 6px 0 18px;
	}

	&.red-border {
		.region-label-holder {

			.fake-input {
				&.semi-check {
					border-color: $light-red;

					&:before {
						content: '';
						background: $light-red;
						height: 2px;
						top: calc(50% - 1px);
						left: 4px;
						right: 4px;
						transform: translate(0, 0);
						opacity: 1;
					}
				}
			}

			input[type="checkbox"]:checked + .fake-input{
				border-color: $light-red;
				&:before {
					color: $light-red;
				}
			}
		}
	}

	>li {
		&.active {
			padding: 0 0 4px;
		}
	}

	li {
		position: relative;
		padding: 0 0 9px;

		&.active {
			&:after {
				opacity: 1;
			}
		}

		&:after {
			content: '';
			width: 1px;
			background: $secondary-light-gray;
			position: absolute;
			top: 29px;
			bottom: 12px;
			left: 1px;
			opacity: 0;
		}
	}

	.region-first-level {
		&.active {
			.opener {
				transform: rotate(90deg);
			}
			.slide {
				display: block;
			}
		}
	}

	.region-second-level {
		margin-left: 20px;

		&.active {
			.opener-second-level {
				transform: rotate(90deg);
			}
			.slide-second-level {
				display: block;
			}
		}
	}

	.opener,
	.opener-second-level {
		display: inline-block;
		vertical-align: middle;
		width: 7px;
		height: 9px;
		margin: 0 5px 0 -2px;
		background: url(../images/arrow-dark.svg) 50% 50% no-repeat;
		background-size: contain;
		cursor: pointer;
	}

	.slide,
	.slide-second-level {
		display: none;
		padding: 8px 0 0;

		&.last-child-list {
			li {
				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 8px;
					height: 10px;
					margin: 0 7px 0 0;
					background: url(../images/arrow-dark.svg) 50% 50% no-repeat;
					background-size: contain;
				}

				&:after {
					display: none;
				}
			}
		}

		li {
			position: relative;

			&.active {
				&:after {
					opacity: 1;
				}
			}

			&:after {
				content: '';
				width: 1px;
				background: $secondary-light-gray;
				position: absolute;
				top: 25px;
				bottom: 10px;
				left: 3px;
				opacity: 0;
			}
		}
	}

	.slide-second-level {
		margin-left: 16px;
		padding: 10px 0 0;

		li {
			&:last-child {
				padding-bottom: 1px;
			}
		}
	}
}

.region-label-holder {
	cursor: pointer;

	.fake-input {
		&.semi-check {
			border-color: $purple;
			&:before {
				content: '';
				background: $base-link-color;
				height: 2px;
				top:calc(50% - 1px);
				left: 4px;
				right: 4px;
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	.fake-input{
		width: 17px;
		height: 17px;
		margin: 0 4px 0 0;
	}

	.fake-label {
		display: inline-block;
		vertical-align: middle;
	}
}

.adv-placement-list {
	padding: 8px 0 17px;
	margin: 0;
	list-style: none;

	@include media('>=tablet') {
		display: flex;
		align-items: flex-start;
		margin: 0 -14px;
		padding: 28px 0;
	}

	li {
		position: relative;
		width: 100%;
		margin: 0 0 17px;

		@include media('>=tablet') {
			margin: 0 14px;
			width: calc(33.33% - 28px);
		}
	}

	.placement-label {
		display: block;
		position: relative;
		padding: 29px 25px 18px 28px !important;
		min-height: 240px;

		@include media('>=tablet') {
			@include flex-central-align;
			flex-flow: column nowrap;
			min-height: 320px;
			padding: 15px 15px 18px !important;
		}

		@include media('>=desktop') {
			padding: 15px 46px 18px !important;
		}

		input[type="radio"],
		input[type="checkbox"] {
			position:fixed;
			left:0;
			top:0;
			opacity:0;
			z-index: -1;
		}

		.fake-input {
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 2px solid $lines-light-gray;
			border-radius: 18px;
			transition: border-color 0.3s, box-shadow 0.3s;

			&:before {
				content: '';
				position: absolute;
				top: -2px;
				right: -2px;
				left: auto;
				width: 46px;
				height: 47px;
				border-radius: 0;
				background: url(../images/radio-bg.svg) 100% 0 no-repeat;
				transform: translate(0, 0);
				background-size: contain;
				opacity: 0;
				transition: opacity 0.3s;
			}
		}

		.fake-label {
			font-size: $font-size-base;
			z-index: 1;
			position: relative;
			cursor: pointer;
			padding: 0;
			display: block;
			line-height: 1.75;

			@include media('>=tablet') {
				font-size: $secondary-size-base;
				text-align: center;
				line-height: 1.65;
			}

			img {
				display: inline-block;
				vertical-align: middle;
				margin: 0 23px 0 0;

				@include media('>=tablet') {
					width: 82px;
					margin: 0 0 34px;
				}
			}

			.title {
				display: inline-block;
				vertical-align: middle;
				font-size: 18px;
				font-weight: 500;
				@include media('>=tablet') {
					display: block;
					font-size: 19px;
					padding: 0 0 18px;
				}
			}
			
			.text {
				display: block;
				padding: 21px 0 0;

				@include media('>=tablet') {
					padding: 0;
				}
			}
		}

		input[type="checkbox"]:checked + .fake-input,
		input[type="radio"]:checked + .fake-input{
			border-color: $base-link-color;
			box-shadow: 0 18px 44px rgba(209, 217, 228, 0.22);

			&:before {
				opacity: 1;
			}
		}

		input[type="radio"]:checked ~ .fake-label,
		input[type="checkbox"]:checked ~ .fake-label {font-weight:normal;}
	}
}