.map-frame {
	margin: 14px 0 0;
	border-radius: 24px;
	position: relative;
	overflow: hidden;

	@include media('>=desktop') {
		margin: 0;
		border-radius: 0 0 24px 24px;
	}

	img {
		width: 100%;
	}

	.map-action-buttons {
		position: absolute;
		top: 12px;
		right: 12px;
		display: flex;
		flex-direction: column;

		@include media('>=tablet') {
			flex-direction: row;
			top: 30px;
			right: 23px;
		}

		.icon-radius-map {
			margin: 0 0 7px;

			@include media('>=tablet') {
				margin: 0 9px 0 0;
			}
		}
	}

	.total-selected-banners {
		@include flex-horizontal-align;
		position: absolute;
		bottom: 26px;
		right: 12px;

		@include media('>=tablet') {
			bottom: 36px;
			right: 92px;
		}

		.total-selected {
			text-decoration: none;
			color: $base-text-color;
			display: inline-block;
			vertical-align: top;
			padding: 7px 8px;
			margin: 0 13px 0 0;
			min-width: 231px;
			background: $white;
			font-weight: 500;
			font-size: $font-size-base;
			box-shadow: 0 6px 36px rgba(136, 138, 168, 0.5);
			border-radius: 30px;
			transition: color $animation-speed;

			&:hover {
				color: $purple;
			}

			@include media('>=tablet') {
				font-size: $secondary-size-base;
				min-width: 219px;
			}
		}

		.number {
			display: inline-block;
			vertical-align: middle;
			font-size: $secondary-size-base;
			width: 35px;
			height: 35px;
			text-align: center;
			line-height: 35px;
			font-weight: 700;
			border-radius: 100%;
			background: $purple;
			color: $white;
			margin: 0 9px 0 0;
		}

		.btn-circle-lg {
			width: 49px;
			height: 49px;

			&.cross {
				background: $white;
				box-shadow: 0px 6px 36px rgba(136, 138, 168, 0.5);

				&:before,
				&:after {
					background: $light-red;
				}
			}
		}
	}
}

.visible-popup {
	.map-frame {
		.map-zoom-buttons {
			@include media('<450px') {
				bottom: 34%;
			}
		}
	}
}

.invisible-popup {
	.map-frame {
		.map-zoom-buttons {
			@include media('<tablet') {
				bottom: 119px;
			}
		}
	}
}

.scrollable-map-wrap {
	overflow-x: auto;
	@include media('>=desktop') {
		overflow: hidden;
	}
}

.scrollable-map {
	width: 1162px;
	height: 512px;

	@include media('>=tablet') {
		height: 549px;
	}

	@include media('>=desktop') {
		width: auto;
		max-width: 100%;
	}
}

.banners-caption {
	display :flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 7px 0 36px;

	@include media('>=tablet') {
		align-items: center;
		padding: 2px 0 0;
	}

	.banners-title {
		@include flex-horizontal-align;
		width: calc(100% - 50px);
		font-size: $lg-font-size;
		position: relative;
		padding: 0 0 31px;

		@include media('>=tablet') {
			order: 1;
			width: 100%;
			padding: 7px 0 30px;
			flex-wrap: wrap;
		}

		@include media('>=desktop') {
			width: 35%;
		}

		@include media('>=widescreen') {
			width: 50%;
		}

		strong {
			font-weight: 500;
		}

		.btn-remove {
			margin: 0 0 0 4px;
			color: $base-text-color;
			font-size: 14px;
			background: transparent;
			width: auto;
			height: auto;

			@include media('>=tablet') {
				margin: 0px 0 0 8px;
				width: 23px;
				height: 23px;
				line-height: 23px;
				color: $light-purple;
				font-size: 8px;
				background: $secondary-light-gray;
			}
		}

		.show-all {
			@include flex-horizontal-align;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0;
			@include media('>=tablet') {
				width: 100%;
				position: static;
				padding: 10px 0 0;
			}

			@include media('>=widescreen') {
				width: auto;
				padding: 0 0 0 38px;
			}

			.fake-input {
				width: 17px;
				height: 17px;
				border-radius: 3px;
				margin-right: 9px;
				@include media('>=tablet') {
					margin-right: 9px;
				}
			}

			.fake-label {
				font-size: $font-size-base;
			}

			input[type="checkbox"]:checked ~ .fake-label {
				font-weight: normal;
			}
		}
	}

	.filter-holder {
		@include media('>=tablet') {
			order: 3;
			width: 100%;
		}

		@include media('>=desktop') {
			width: 100%;
			padding-left: 148px;
			order: 3;
		}

		.filter-btn {
			@include media('<tablet') {
				margin: -3px 0 0 2px;
				font-size: 24px;
			}
		}

		.filter-frame {
			@include media('>=tablet') {
				margin: 0 0 2px;		
				border: none;
				background: $bg-light-gray;
				border-radius: $lg-border-radius $lg-border-radius 0 0;
			}

			@include media('>=desktop') {
				margin: 0;
				border-radius: 0 $lg-border-radius 0 0;
			}

			.filter-col {
				&:last-child {
					@include media('>=desktop') {
						border-left: 1px solid $lines-light-gray;
					}
				}
				@include media('>=desktop') {
					border-width: 0 0 0 1px;
				}
			}

			.open-close {

				.opener-title {
					@include media('>=tablet') {
						font-size: 12px;
						padding: 0 0 11px;
					}
				}

				.opener {
					@include media('>=tablet') {
						min-height: 80px;
					}
				}
			}
		}

		.filter-slide {
			@include media('>=tablet') {
				padding: 0;
			}

			.bottom-btn {
				@include media('>=tablet') {
					position: relative;
					padding-right: 70px;
				}

				.link-button {
					color: $base-text-color;

					&:hover {
						color: $base-link-color;
					}

					@include media('>=tablet') {
						margin: 0 0 0 18px;
					}
				}

				.link {
					color: $base-link-color;

					&:hover {
						color: $base-text-color;
					}

					@include media('>=tablet') {
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}

		.filter-btn {
			color: $base-text-color;
		}
	}

	.banners-action {
		padding: 0 0 0 10px;

		@include media('>=tablet') {
			order: 2;
			width: 100%;
			padding: 0 0 30px;
		}

		@include media('>=desktop') {
			width: 65%;
			padding: 0 0 34px 10px;
		}

		@include media('>=widescreen') {
			width: 50%;
		}

		.open-close {
			.opener {
				&.icon-actions-btn {
					display: inline-block;
					vertical-align: top;
					width: 15px;
					height: 20px;
					position: relative;

					&:before {
						font-size: 4px;
						transform: rotate(90deg);
						position: absolute;
						top: 43%;
						left: 5px;
					}

					@include media('>=tablet') {
						display: none;
					}
				}
			}

			.slide {
				@include media('<phone') {
					min-width: 345px;
				}
				@include media('<tablet') {
					right: -15px;
					left: auto;
				}
			}
		}

		.btn-list {
			@include media('>=desktop') {
				text-align: right;
			}

			.list {
				@include media('>=desktop') {
					text-align: left;
				}
			}

			a, button {
				&:before {
					@include media('<tablet') {
						display: none;
					}
				}
				@include media('<tablet') {
					width: auto;
					height: auto;
					border: none;
					padding: 0;
					color: $base-text-color;
					font-weight: normal;
					font-size: $font-size-base;
					display: block;
					text-align: left;
				}
			}
		}
	}

	.banners-view-list {
		width: 100%;
		@include media('>=tablet') {
			order: 4;
			width: 100%;
		}

		@include media('>=desktop') {
			width: 150px;
			order: 3;
		}
	}
}

.banners-content {
	padding: 6px 0 69px;
	@include media('>=tablet') {
		padding: 0 0 105px;
	}
}

.map-popup {
	background: $white;
	box-shadow: 0px 4.23285px 13.5451px rgba(80, 80, 80, 0.1);
	border-radius: 19px;
	padding: 20px 20px 24px;
	width: 294px;
	position: absolute;
	bottom: 13px;
	left: 12px;
	@include media('>=tablet') {
		width: 448px;
		bottom: 32px;
		left: 36px;
		padding: 21px 23px 30px 28px;
	}

	.map-popup-title {
		@include flex-horizontal-align;
		justify-content: space-between;

		.open-close {
			text-align: right;
			padding: 0 5px 0 0;

			@include media('>=tablet') {
				padding: 0;
			}

			.slide {
				opacity: 1;
				visibility: visible;
				width: auto;
				min-width: 0;
				right: -12px;
				display: flex !important;
				top: calc(100% + 20px);

				&:before {
					left: auto;
					right: 28px;
					@include media('>=tablet') {
						display: none !important;
					}
				}

				@include media('>=tablet') {
					position: static !important;
					flex-direction: row;
					min-width: 0;
					padding: 0;
					border: none;
					box-shadow: none;
					margin: 0;
					background: none;
				}
			}

			.opener {
				color: $secondary-text-color;
				font-size: 6px;
				display: block;
				min-height: 10px;
				min-width: 10px;

				@include media('>=tablet') {
					display: none;
				}
			}
		}

		.btn-circle-lg + .btn-circle-lg {
			margin: 0 0 0 7px;
		}
	}

	.banner-name {
		font-size: 16px;
		font-weight: 500;
		padding: 0 7px 0 0;
	}

	.data-block {
		@include flex-horizontal-align;
		color: $secondary-text-color;
		justify-content: flex-start;
		font-size: $secondary-size-base;
		padding: 9px 0 18px;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
			padding: 0 0 26px 2px;
		}

		.operator-text {
			@include flex-horizontal-align;
			width: auto;
			white-space: nowrap;

			@include media('<tablet') {
				order: 2;
				padding: 0 11px;
			}

			.badge {
				margin: 0 0 0 7px;
				@include media('<tablet') {
					display: none;
				}
			}
		}

		.data-id {
			@include media('<tablet') {
				order: 1;
			}
		}

		.data-gid {
			@include media('<tablet') {
				order: 3;
			}
		}

		dl {
			margin: 0;
			width: auto;
			display: flex;
			justify-content: space-between;

			&:before {
				@include media('>=tablet') {
					content: '';
					display: inline-block;
					vertical-align: middle;
					border-radius: 100%;
					width: 2px;
					height: 2px;
					background: $input-border-color;
					margin: 6px 8px 0;
				}
			}

			@include media('>=tablet') {
				position: relative;
				justify-content: flex-start;
			}
		}

		dd {
			margin: 0 0 0 3px;
		}
	}

	.address {
		font-weight: 500;
		line-height: 1.45;

		@include media('>=tablet') {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;
			padding-left: 27px;
		}

		.icon-map-pin {
			display: none;

			@include media('>=tablet') {
				display: block;
				color: $purple;
				font-size: 18px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.city {
			padding: 5px 0 0;
			font-weight: normal;

			@include media('<tablet') {
				display: inline;
				width: auto;
				padding: 0;
				font-weight: normal;
			}
		}
	}
}
