.modal{
	padding: 27px 30px;
	position:absolute;
	left:-9999px;
	top:-9999px;
	background:#fff;
	z-index:1000;
	width: 100%;
	min-height: calc(100% - 66px);
	font-size: $lg-font-size;
	margin: 66px 0 0;

	&.small-modal {
		font-size: $medium-font-size;
		@include media('>=tablet') {
			width: 384px;
			padding: 31px 25px;
		}

		.modal-caption {
			padding: 0 0 19px;
		}
	}

	&.сustomize-table-modal {
		padding: 36px 30px;
		@include media('>=tablet') {
			max-height: 567px;
			padding: 45px 58px;
		}

		@include media('>=desktop') {
			width: 818px;
		}

		.modal-caption {
			padding: 0 0 26px;

			h2, .h2 {
				margin: 0;
				@include media('>=tablet') {
					margin: 0;
				}
			}
		}


		.modal-two-column {
			display: flex;
			@include media('<tablet') {
				flex-flow: column-reverse nowrap;
			}
			@include media('>=tablet') {
				margin: 0 -43px;
			}
		}

		.col {
			padding: 12px 0;

			&:first-child {
				position: relative;

				&:before {

					@include media('>=tablet') {
						content: '';
						position: absolute;
						background: $lines-light-gray;
						height: 322px;
						width: 1px;
						top: 0;
						right: 0;
					}
				}
			}

			@include media('>=tablet') {
				width: 50%;
				padding: 0 15px;
			}

			@include media('>=desktop') {
				padding: 0 23px 0 43px;
			}
		}

		.col-title {
			font-weight: 500;
			display: block;
			padding: 0 0 24px;
			color: $secondary-text-color;
			font-size: $medium-font-size;
		}

		.column-order-list,
		.list {
			@include media('>=tablet') {			
				height: 317px;
				overflow-y: auto;
			}
		}

		.list {
			li {
				padding: 0 0 18px;
			}
		}

		label, .label {
			display: block;
		}

		.fake-input,
		.check-all {
			margin-right: 14px;
			width: 19px;
			height: 19px;
			@include media('>=tablet') {
				width: 20px;
				height: 20px;
			}
		}

		.fake-label {
			font-size: $font-size-base;
		}

		.modal-button {
			bottom: 0;
			padding: 21px 0 0;

			@include media('>=tablet') {
				padding: 21px 0 22px;
			}

			.btn {
				width: 100%;
				font-size: $lg-font-size;

				@include media('>=tablet') {
					font-size: $secondary-size-base;
					min-width: 139px;
					width: auto;
					padding: 13px 10px;
				}
			}

			.btn + .btn {
				margin: 7px 0 0;
				@include media('>=tablet') {
					margin: 0 0 0 19px;
				}
			}
		}
	}

	&.video-modal {
		padding: 39px 0;
		overflow: hidden;

		@include media('>=tablet') {
			max-height: 471px;
		}

		.close {
			@include media('<tablet') {
				margin-left: 29px
			}
		}

		h2 {
			margin: 0 28px 40px;

			@include media('>=tablet') {
				margin: 0 60px 26px;
			}
		}

		.modal-list {
			overflow-y: auto;
			@include media('>=tablet') {
				height: 283px;
			}
		}
	}

	&.modal-lg {
		font-size: $font-size-base;
		line-height: 1.75;
		padding: 38px 29px 156px;

		&.pb-sm {
			@include media('<tablet') {
				padding-bottom: 38px;
			}

			.modal-caption {
				&.mob-close-arrow {
					.close,
					.close-button {
						@include media('<tablet') {
							margin-top: 1px !important;
						}
					}
				}
			}

		}

		@include media('<tablet') {
			overflow-y: auto;
		}

		@include media('>=tablet') {
			max-width: 926px;
			max-height: 698px;
			overflow: hidden;
			width: 100%;
			padding: 58px 60px;
		}

		.jcf-scrollbar {
			@include media('<tablet') {
				display: none !important;
			}
		}

		h2 {
			margin: 0 0 50px;

			@include media('>=tablet') {
				margin: 0 0 49px;
			}
		}

		h3 {
			font-weight: 500;
			font-size: 16px;
			margin: 0 0 21px;

			@include media('>=tablet') {
				font-size: 16px;
			}
		}

		.modal-content {
			padding: 0 0 20px;
			@include media('>=tablet') {
				height: 640px;
			}
		}

		.list, p {
			font-size: $font-size-base;
		}

		p {
			max-width: 600px;
		}

		.list {
			padding: 0 0 54px;

			@include media('>=tablet') {
				padding: 0 0 41px;
			}
			li {
				padding: 0 0 2px;

				@include media('>=tablet') {
					padding: 0 0 5px;
				}
			}
		}

		.video-requirements {
			color: $base-text-color;
			padding: 0 0 30px;

			@include media('>=phone') {
				font-size: $font-size-base;
			}

			div {
				padding: 0 0 5px;
				@include media('>=phone') {
					padding: 0 0 5px;
				}
			}

			dt, dd {
				width: auto;
			}

			dd {
				font-weight: 500;
				text-align: left;
				@include media('>=tablet') {
					color: $base-text-color;
				}
			}
		}

		.numbered-list {
			padding: 7px 0 0;
		}
	}

	&.successed-created-campain {

		@include media('<tablet') {
			padding: 37px 36px;
		}

		h2 {
			@include media('<tablet') {
				margin: 0 -16px 20px -9px;
				letter-spacing: -0.3px;
			}
		}

		h2 + p {
			padding-top: 5px;
		}

		p {
			line-height: 1.8;
		}

		.modal-button {
			@include media('>=tablet') {
				padding: 16px 0 0;
			}

			.btn-purple {
				@include media('<tablet') {
					background: $green;
					border-color: $green;
				}
			}

			.btn-gray {
				@include media('<tablet') {
					color: $base-text-color;
				}
			}
		}
	}

	@include media('<tablet') {
		bottom: 0;
		position: fixed;
		top: 66px !important;
		margin: 0;
	}

	@include media('>=tablet') {
		margin: 0;
		padding: 50px 60px;
		width: 608px;
		border-radius: 17px;
		min-height: 0;
		height: auto;
		font-size: $font-size-base;
		box-shadow: 0px 18px 50px rgba(94, 101, 140, 0.15);
	}

	.modal-mob-layout-align {

		@include media('<tablet') {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			overflow-y: scroll;
			height: 100%;
			margin: 0 -15px;
			padding: 0 15px;
		}
	}

	h2 {
		font-size: 22px;
		line-height: 1.4;
		font-weight: 700;

		@include media('>=tablet') {
			font-size: 23px;
			margin: 0 0 29px;
		}
	}

	h2 + p {
		padding-top: 6px;
	}

	h3 {
		font-weight: 700;
		@include media('>=tablet') {
			font-size: 18px;
		}
	}

	p {
		margin: 0 0 36px;
		line-height: 1.8;

		@include media('<tablet') {
			line-height: 1.7;
		}

		a {
			&.has-indent {
				font-weight: 500;
				margin: 9px 0 10px;
				display: inline-block;
				vertical-align: top;
			}
		}
	}

	p + .modal-button {
		padding-top: 17px;
	}

	.serach-frame {
		margin: 0 20px 26px;
		@include media('>=tablet') {
			margin: 0 60px 45px;
		}
	}

	.form-row {
		padding: 0 0 14px;

		&:last-child {
			padding-bottom: 0;
		}

		&.has-help-link {
			position: relative;

			label, .label {
				padding-right: 95px;
			}
		}

		.open-close {
			margin: 0 0 15px;
		}

		input[type='text'],
		input[type='number'],
		input[type='tel'],
		input[type='email'] {
			font-size: $medium-font-size;
		}

		.help-link {
			color: $purple;
			display: inline-block;
			vertical-align: top;
			margin: 13px 0 6px;

			@include media('>=tablet') {
				font-size: $font-size-base;
				position: absolute;
				top: 4px;
				right: 0;
				margin: 0;
			}
		}

		input[type='text'] + .help-text,
		input[type='number'] + .help-text,
		input[type='tel'] + .help-text,
		input[type='email'] + .help-text {
			font-size: $secondary-size-base;
			padding-top: 13px;
		}

		label, .label {
			padding: 0 0 9px;
		}

		.modal-subtitle {
			padding-top: 14px;
		}
	}

	.form-row + .form-row {
		padding-top: 13px;
	}

	.search-box {
		position: relative;
		margin: 0 0 17px;

		input[type="search"] {
			background: #F6F7FD;
			border-radius: 5px;
			padding-left: 40px;
			@include media('>=tablet') {
				padding-left: 35px;
			}
		}

		.btn-search {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 12px;

			@include media('>=tablet') {
				font-size: 15px;
				top: 55%;
			}
		}
	}

	.list {
		&.has-del-btn {
			font-size: $medium-font-size;
			padding: 0 2px;
		}
	}

	.custom-file-upload {
		flex-flow: column nowrap;
		justify-content: center;
		width: 100%;
		max-width: none;
		height: 249px;
		padding: 18px 10px 10px;
		margin: 0 0 21px;
		border: 3px dashed $secondary-light-gray;
		border-radius: 18px;
		font-size: $secondary-size-base;

		img {
			margin: 0 0 20px;
			width: 75px;

			@include media('>=tablet') {
				margin: 0 0 36px;
			}
		}

		.btn {
			margin: 0 0 19px;
			font-size: $font-size-base;
			@include media('>=tablet') {
				font-size: $font-size-base;
			}
		}
	}

	.help-text {
		color: $secondary-text-color;
		display: block;
	}

	.modal-table-caption {
		@include media('<tablet') {
			@include flex-horizontal-align;
			padding: 0 0 25px;
		}

		h2, .h2 {
			@include media('<tablet') {
				margin: 0;
			}
		}

		.close:not(.btn),
		.close2:not(.btn) {
			&:before {
				@include media('<tablet') {

					content: "\e91e";
				}
			}

			@include media('<tablet') {
				width: auto;
				height: auto;
				margin: 0 12px 0 0;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}

.modal-subtitle {
	display: block;
	font-weight: 500;
	padding: 0 0 15px;
}

.modal-label {
	display: block;
	font-weight: 500;
	color: $secondary-text-color;
	padding: 0 0 12px;
}

.modal-button {
	&.pt-sm {
		@include media('>=tablet') {
			padding: 20px 0 0;
		}
	}
	@include media('>=tablet') {
		@include flex-horizontal-align;
		position: static;
		padding: 54px 0 0;
	}

	.btn {
		@include media('<tablet') {
			width: 100%;
			margin: 0 0 14px;
			font-size: $lg-font-size;
		}
	}

	.btn + .btn,
	.submit + .btn {
		@include media('>=tablet') {
			margin: 0 0 0 19px;
		}
	}

	.jcf-select-drop {
		.jcf-select-drop-content {
			margin: 7px 0 0;
		}
	}

	.jcf-list {
		font-size: $font-size-base;
	}
}

.modal-caption {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 0 55px;

	&.pb-xs {
		padding-bottom: 26px;
	}

	&.pb-sm {
		padding-bottom: 45px;
	}

	&.mob-close-arrow {
		@include media('<tablet') {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}

		.close,
		.close-button {
			&:before{
				@include media('<tablet') {
					content: "\e91e" !important;
				}
			}
			@include media('<tablet') {
				margin: 5px 11px 0 0 !important;
				width: auto !important;
				height: auto !important;
			}
		}
	}

	h2, .h2,
	h3, .h3{
		margin: 0 !important;
	}
}

.modal-subtitle {
	display: block;
	font-weight: 500;
	padding: 0 0 15px;
	@include media('>=tablet') {
		color: #3B4E63;
	}
}

.modal .close:not(.btn),
.modal .close2:not(.btn),
.close-button {
	@include flex-central-align;
	cursor:pointer;
	font-size: 18px;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	margin: 4px -2px 0 15px;
	font-weight: normal;
	text-decoration: none;
	transition: color $animation-speed;

	&:before{
		content: "\e91b";
		font-family: 'icomoon';
		@include media('>=tablet') {
			content: "\e91b";
		}
	}

	&:hover {
		color: $base-text-color;
	}

	@include media('>=tablet') {
		width: 41px;
		height: 41px;
		margin: 0;
		position: absolute;
		top: 24px;
		right: 23px;
		font-size: 12px;
		background: $bg-light-gray;
		color: $gray;
	}
}

.upload-bordered-block {
	@include flex-central-align;
	flex-flow: column nowrap;
	flex-wrap: wrap;
	height: 246px;
	width: 100%;
	max-width: 488px;
	border: 3px dashed $secondary-light-gray;
	border-radius: 18px;
	padding: 15px;
	margin-top: 28px;
	text-align: center;

	img {
		margin: 0 0 35px;
	}

	.upload-btn {
		display: block;
		margin: 0 0 15px;
	}

	.btn {
		font-size: $font-size-base;
		padding: 12px 26px;
		margin: 0 0 15px;

		@include media('>=tablet') {
			font-size: $font-size-base;
			padding: 16px 26px;
		}
	}

	.help-text {
		display: block;
		color: $secondary-text-color;
	}
}

.modal-uploaded-block {
	text-align: center;
	padding: 39px 0 0;

	@include media('>=tablet') {
		@include flex-horizontal-align;
		text-align: left;
		padding: 9px 0 24px;
	}

	.file-box {
		@include media('>=tablet') {
			display: flex;
			align-items: flex-start;
		}
	}

	.img-box {
		width: 85px;
		height: 85px;
		border-radius: 100%;
		overflow: hidden;
		margin: 0 auto 24px;

		@include media('>=tablet') {
			width: 68px;
			height: 68px;
			margin: 0 20px 0 0;
		}

		img {
			width: 100%;
		}
	}

	.file-info {
		padding: 0 0 18px;

		@include media('>=tablet') {
			padding: 7px 30px 0 0;
		}
	}

	.file-name {
		font-size: 17px;
		display: block;
		padding: 0 0 2px;

		&:before{
			font-family: 'icomoon';
			content: "\e902";
			width: 19px;
			height: 19px;
			text-align: center;
			line-height: 14px;
			font-size: 6px;
			color: $white;
			border-radius: 100%;
			background: $green;
			display: inline-block;
			vertical-align: middle;
			margin: 0 7px 0 0;
			padding: 3px;

			@include media('>=tablet') {
				margin: 0;
				position: absolute;
				right: 0;
				top: calc(50% - 10px);
			}
		}

		@include media('>=tablet') {
			font-size: 17px;
			position: relative;
			padding: 0 26px 5px 0;
		}
	}

	.help-text {
		display: block;
		color: $secondary-text-color;
	}

	.file-upload {
		.help-text {
			font-size: $secondary-size-base;
		}
	}

	.upload-btn {
		font-weight: 500;
		cursor: pointer;
		color: $purple;
		padding: 9px 18px;
		margin: 0 0 9px;
		border: 1px solid $lines-light-gray;
		border-radius: $base-border-radius;
		display: inline-block;
		vertical-align: top;
		transition: background $animation-speed;

		&:hover {
			background: rgba($lines-light-gray, 0.3);
		}

		@include media('>=tablet') {
			font-size: $secondary-size-base;
			padding: 7px 12px;
		}
	}
}

.modal-fixed-panel,
.modal.modal-fixed-panel {
	left: auto !important;
	display: block !important;
	max-width: 514px;
	min-height: 100vh;
	right: -9999px;
	width: 100%;
	background: $white;
	box-shadow: -25px 0 50px rgba(0, 0, 0, 0.1);
	border-radius: 0;
	opacity: 1 !important;
	transition: right 0.5s;
	padding: 20px 15px;
	overflow-y: auto;

	@include media('>=tablet') {
		padding: 41px 55px 30px;
		border-radius: 0;
	}

	.opened-modal & {
		position: fixed;
		top: 0 !important;
		left: auto !important;
		right: 0;
		bottom: 0;
		overflow-y: auto;
	}

	.modal-aside-block {
		padding: 33px 0;

		&.py-sm {
			padding: 20px 0 36px;
		}
	}

	.modal-aside-block + .modal-aside-block {
		border-top: 1px solid $secondary-light-gray;
	}

	.heading {
		@include flex-horizontal-align;
		justify-content: space-between;
		padding: 0 0 34px;

		.open-close {
			padding: 4px 12px 0 0;
		}
	}

	.title {
		padding: 0 10px 0 0;
		flex: 1 0;
	}

	h2, .h2 {
		font-size: 20px;
		font-weight: normal;
		margin: 0 0 2px;
	}

	.subtitle {
		display: block;
		font-size: $medium-font-size;
		font-weight: 500;
		color: $base-link-color;
	}

	.status {
		display: inline-block;
		vertical-align: middle;
		background: $third-light-gray;
		padding: 9px 15px;
		border-radius: 2em;

		.status-icon {
			margin: 0 4px 0 0;
		}
	}

	.secondary-simplebox {
		display: inline-block;
		vertical-align: top;
		transition: opacity $animation-speed;

		&:hover {
			opacity: 0.7;
		}
	}

	.campaign-intro {
		color: $base-text-color;

		.img-box {
			width: 89px;
			height: 62px;
			margin: 0 23px 0 0;

			.launch-action {
				font-size: 9px;
				width: 28px;
				height: 28px;
				background: rgba($purple, 0.9);

				&:before{
					margin: 3px 0 0 1px;
				}
			}
		}
		.name {
			font-size: $medium-font-size;
			font-weight: normal;
			padding: 0 0 5px;
		}

		.bullet-inline-list {
			padding: 7px 0 0;
		}
	}

	.definition-list {
		line-height: 1.3;
		display: block;

		.definition-item-holder {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding: 0 0 25px;

			&.pb-sm {
				padding: 0 0 28px;
			}

			&.pb-lg {
				padding: 0 0 44px;
			}

			&:last-child {
				padding: 0;
			}
		}

		dt, dd {
			width: auto;
			max-width: none;
			margin: 0;
		}
		dt {
			font-weight: 500;
		}
		dd {
			text-align: right;
			font-size: $font-size-base;
		}

		.table-cell {
			@include flex-horizontal-align;
			justify-content: flex-end;

			.sub-cell + .sub-cell {
				padding-left: 19px;
			}

			.lead,
			.tiny {
				display: block;
			}

			.tiny {
				font-size: $secondary-size-base;
				color: $secondary-text-color;
				padding: 2px 0 0;
			}
		}
	}

	.row {
		padding: 0 0 27px;
	}

	.week-cell {
		font-size: 12px;
		margin: 11px -8px 0;

		.day-item {
			padding: 0 12px;
		}
	}

	.selected-regions {
		.secondary-simplebox {
			font-weight: 500;
			margin: 0 3px 0 0;
		}
	}

	.secondary-simplebox:not(.copy-link) {
		color: $base-text-color;
		font-size: $medium-font-size;
	}

	.copy-link {
		display: inline-block;
		&:before {
			margin: 0 11px 0 0;
			font-size: 17px;
		}
	}

	.open-close {
		&.duplicate-ad {
			margin-top: 54px;

			.opener {
				color: $base-link-color;
			}

			.slide {
				bottom: calc(100% + 8px);
				top: auto;
			}
		}
	}

	.label, label {
		padding: 0 0 8px;
	}
}

.opened-secondary-modal,
.opened-modal {
	overflow: hidden;
}

.modal-fixed-secondary,
.modal.modal-fixed-secondary {
	left: auto !important;
	display: block !important;
	max-width: 514px;
	min-height: 100vh;
	right: -9999px;
	width: 100%;
	background: $white;
	box-shadow: -25px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 0;
	opacity: 1 !important;
	transition: right 0.5s;
	position: fixed;
	padding: 20px 15px;
	overflow-y: auto;

	@include media('>=tablet') {
		padding: 53px 57px 30px;
		border-radius: 0;
	}

	&.modal-is-active {
		top: 0 !important;
		left: auto !important;
		right: 0;
		bottom:0;
	}

	.second-level-caption {
		@include flex-horizontal-align;
		padding: 0 0 30px;

		&.has-link {
			align-items: flex-start;
			padding: 0 0 20px;

			@include media('>=tablet') {
				padding: 0 0 33px;
			}

			.back-button {
				margin: -9px 7px 0 0;
				@include media('>=tablet') {
					margin: -9px 14px 0 -13px;
				}
			}

			.simplebox {
				font-weight: 500;
				display: inline-block;
				vertical-align: top;
				margin: 5px 0 0;
			}
		}

		@include media('>=tablet') {
			padding: 0 0 50px;
		}

		h2 {
			font-size: 20px;
			margin: 0;
			font-weight: normal;
		}

		.back-button {
			margin: 0 7px 0 0;
			@include media('>=tablet') {
				margin: 0 14px 0 -13px;
			}
		}
	}

	.uploaded-video-block {

		.img-box {
			width: 77px;
			height: 54px;

			.play-video {
				width: 24px;
				height: 24px;

				&:before {
					margin: 0 0 2px 3px;
				}
			}
		}
	}

	.select-group + .uploaded-video-block {
		margin: 17px 0;
		@include media('>=tablet') {
			margin: 17px 0;
		}
	}

	.import-link {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 7px;
	}

	.video-rate-row {
		display: block;
		max-width: none;

		.col {
			padding: 0 0 13px;
		}

		.input-group {
			@include flex-horizontal-align;
		}

		label, .label {
			padding: 0 0 9px;
		}

		.input-has-currency {
			flex: 1 0;
		}

		.help-text {
			font-size: $secondary-size-base;
			padding: 0 14px 5px 26px;

			.primary-color {
				display: block;
				padding: 3px 0 0;
			}
		}
	}

	.switch-frame {
		padding: 0 0 17px;
		.fake-switch-label {
			color: $base-text-color;
			font-weight: 500;
		}
	}

	.input-group + .switch-group {
		padding-top: 39px;
	}

	.switch-group {
		.switch-frame {
			padding: 0 0 5px;
		}
	}

	.help-text {
		font-size: $secondary-size-base;
		line-height: 1.5;
	}

	.geography-row {
		padding: 0 0 32px;
		.region-col {
			padding: 0 0 19px;
		}

		.simplebox,
		.secondary-simplebox {
			font-weight: 500;
			font-size: $secondary-size-base;
		}
	}

	.geography-row + .geography-row {
		border-top: 1px solid $secondary-light-gray;
		padding-top: 33px;
	}

	.modal-subtitle {
		display: block;
		font-weight: 500;
		color: $base-text-color;
	}

	.btn-list {
		margin: 0 -15px 12px;

		@include media('<tablet') {
			white-space: nowrap;
			overflow: auto;
			margin: 0 -28px 30px -10px;
		}

		li {
			padding: 0 2px;
			display: inline-block;
			vertical-align: top;

			&.active {
				.simple-btn {
					color: $purple;
					background: $bg-light-gray;
				}
			}

			@include media('>=tablet') {
				padding: 0 7px;
			}
		}
	}

	.datepicker-group {
		display: block;
		max-width: none;
		margin: 0;

		@include media('>=tablet') {
			display: block;
		}

		.datepicker-col {
			@include flex-horizontal-align;
			justify-content: space-between;
			padding: 0 0 25px;
			@include media('>=tablet') {
				width: 100%;
			}

			.datepicker-label {
				padding: 0 15px 0 0;
			}
		}

		.datepicker-open-close {
			padding: 0;

			.opener {
				color: $base-text-color;
			}

			.btn-remove {
				display: inline-block;
				opacity: 0;
			}

			.selected-date {
				&.selected {
					.btn-remove {
						opacity: 1;
					}
				}
			}

			.icon-calendar {
				padding: 0 7px 0 0;
			}
		}
	}

	.adv-placement-list {
		display: block;
		padding: 11px 2px;
		margin: 0;

		@include media('>=tablet') {
			display: block;
			padding: 11px 4px 11px 2px;
			margin: 0;
		}

		li {
			margin: 0 0 14px;
			@include media('>=tablet') {
				width: 100%;
				margin: 0 0 14px;
			}
		}

		.placement-label {
			min-height: 0;
			padding: 22px 21px 23px !important;
			@include media('>=tablet') {
				min-height: 0;
				flex-flow: row nowrap;
				justify-content: flex-start;
				padding: 22px 21px 23px !important;
			}

			.fake-input {
				border-width: 1px;
				border-radius: 11px;

				&:before{
					width: 33px;
					height: 33px;
					top: -1px;
					right: -1px;
				}
			}

			.fake-label {
				@include flex-horizontal-align;
				filter: grayscale(1);
				opacity: 0.5;

				img {
					margin: 0 31px 0 0;

					@include media('>=tablet') {
						width: 61px;
						margin: 0 31px 0 0;
					}
				}

				.title {
					padding: 0;
					@include media('>=tablet') {
						padding: 0;
					}
				}
			}

			input[type="radio"]:checked ~ .fake-label,
			input[type="checkbox"]:checked ~ .fake-label {
				filter: grayscale(0);
				opacity: 1;
			}
		}
	}

	input[type='text'],
	input[type='number'],
	input[type='tel'],
	input[type='email'],
	input[type='search'] {
		font-size: $medium-font-size;
	}

	.modal-button {
		padding-bottom: 20px;
	}
}

.modal-layout-align {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 100%;
}