.rect-auto{
	clip: rect(auto, auto, auto, auto);
}

.pie {
	position: absolute;
	border: 3px solid #5A4BC9;
	width: 50px;
	height: 50px;
	clip: rect(0em, 25px, 50px, 0);
	border-radius: 50%;
	transform: rotate(0deg);
}

.pie-fill {
	transform: rotate(180deg);
}


.c100 {
	width: 50px;
	height: 50px;
	position: relative;
	font-size: 16px;
	font-weight: 500;
	border-radius: 50%;
	border: 3px solid $secondary-light-gray;

	> span {
		position: absolute;
		width: 100%;
		z-index: 1;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: $base-text-color;
		display: block;
		text-align: center;
		white-space: nowrap;
	}

	.slice {
		position: absolute;
		top: -3px;
		left: -3px;
		right: -3px;
		bottom: -3px;
		border-radius: 50%;
		clip: rect(0, 50px, 50px, 25px);
	}

	.bar {
		@extend .pie;
	}

	@for $j from 51 through 100 {

		&.p#{$j} .slice {
			@extend .rect-auto;
		}

		&.p#{$j} .bar:after{
			@extend .pie-fill;
		}

		&.p#{$j} .fill{
			@extend .pie;
			@extend .pie-fill;
		}

	}

	// loop to rotate all 100 circles
	@for $j from 1 through 100 {
		&.p#{$j} .bar {
			transform: rotate((360/100*$j) + deg);
		}
	}

	&.purpule {
		.bar,
		.fill{
			border-color: $purple !important;
		}
	}

	&.red {
		.bar,
		.fill{
			border-color: $light-red !important;
		}
	}

	&.blue {
		.bar,
		.fill{
			border-color: #3BB3CB !important;
		}
	}
}