input[name="tabs-radio"] {
	position:absolute;
	left:-99999px;
	top:0;
	opacity:0;
	z-index: -1;
}

.banners-frame {
	position: relative;
	
	.map-frame {
		display: none;
	}

	.banners-table {
		display: block;
	}

	input[name="tabs-radio"]:checked + .tab-label-box .tabs-label {
		color: $base-text-color;
		font-weight: 500;

		@include media('>=desktop') {
			background: $white;
		}

		i {
			color: $purple;
		}
	}

	.tab-label-box {
		background: $bg-light-gray;
		display: inline-block;
		vertical-align: top;
		margin-right: -3px;
		width: 50%;
		padding: 8px 2px;
		height: 57px;

		&.map-view {
			@include media('>=desktop') {
				border-radius: $lg-border-radius 0 0 0;
				padding: 11px 7px 11px 12px;
				left: 0;
			}
		}

		&.list-view {
			border-left: 1px solid $lines-light-gray;
			@include media('>=desktop')  {
				padding: 11px 12px 11px 1px;
				border: none;
				left: 77px;
			}
		}

		@include media('>=desktop') {
			margin-top: -80px;
			padding: 11px 7px;
			width: auto;
			height: auto;
			position: absolute;
		}
	}

	#map:checked ~ .banners-content .map-frame {display: block;}
	#map:checked ~ .banners-content .banners-table {display: none;}
	#list:checked ~ .banners-content .banners-table {display: block;}
	#list:checked ~ .banners-content .map-frame {display: none;}

	.tabs-label {
		@include flex-central-align;
		width: 100%;
		height: 100%;
		cursor: pointer;
		text-align: center;
		color: $secondary-text-color;
		padding: 9px 25px;
		transition: font-weight $animation-speed, color $animation-speed, background $animation-speed;

		@include media('>=desktop') {
			flex-flow: column nowrap;
			justify-content: space-between;
			font-size: 12px;
			padding: 10px 3px;
			width: 58px;
			height: 58px;
			border-radius: $base-border-radius;
		}

		i {
			display: inline-block;
			vertical-align: top;
			font-size: 15px;
			margin: 0 12px 0 0;
			color: $input-border-color;
			transition: color $animation-speed;

			&.icon-map-pin {
				font-size: 23px;

				@include media('>=desktop') {
					font-size: 17px;
				}
			}

			@include media('>=desktop') {
				display: block;
				margin: 0 0 5px;
				min-height: 17px;
			}
		}
	}
}

.document-frame,
.campaing-frame,
.campaign-site-frame {
	.tabs-label {
		cursor: pointer;
		font-size: 17px;
		display: inline-block;
		vertical-align: top;
		color: $input-border-color;
		transition: color $animation-speed;
		position: absolute;
		z-index: 1;
		top: 21px;

		&.icon-list-view {
			right: 136px;

			&:before{
				@include media('<tablet') {
					content: "\e92c";
				}
			}

			@include media('>=tablet')  {
				right: 242px;
			}

			@include media('>=desktop') {
				right: 212px;
			}
		}

		&.icon-table-view {
			right: 170px;

			@include media('>=tablet')  {
				right: 285px;
			}

			@include media('>=desktop') {
				right: 245px;
			}
		}

		@include media('>=tablet') {
			top: 25px;
		}

		@include media('>=desktop') {
			font-size: 15px;
			top: 30px;
		}
	}

	.caption {
		h1 {
			@include media('<tablet') {
				padding-right: 100px;
			}
		}
	}

	input[name="tabs-radio"]:checked + .tabs-label {
		color: $base-text-color;
	}

	#list-view:checked ~ .caption {
		.sorting-block {
			@include media('>=desktop') {
				display: none;
			}
		}
	}
}

.campaing-frame {

	#tile-view:checked ~ .edit-campaign-panel {display: none;}

	#tile-view:checked ~ .top-actions-panel {
		display: flex;

		@include media('<tablet') {
			padding: 0 0 35px;
		}

		.sorting-block {
			display: flex;
		}
	}

	#tile-view:checked ~ .campaing-view-content {
		.edit-campaign-panel {
			display: none;
		}

		.scroll-holder {
			margin-right: 0;
		}

		.table-footer {
			display: none;
		}

		.scroll-box {
			min-width: 0;
		}

		.campaing-view-table {
			min-width: 0;
			font-size: $font-size-base;
			padding: 0 0 52px;

			.table-head {
				display: none;
			}

			.table-body {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0 -14px;
				@include media('>=tablet') {
					padding: 19px 0 0;
					justify-content: flex-start;
				}
			}

			.table-row {
				position: relative;
				border: none;
				background: $bg-light-gray;
				align-items: flex-start;
				flex-wrap: wrap;
				min-width: 316px;
				padding: 31px 23px 6px;
				margin: 0 14px 20px;
				border-radius: 18px;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 70px;
					background: #f3f6fc;
					border-radius: 0 0 18px 18px;
				}

				@include media('>=350px') {
					width: 320px;
					min-width: 0;
					padding: 31px 23px 19px;
				}

				@include media('>=tablet') {
					width: 290px;
					padding: 27px 20px 19px;
					margin: 0 14px 23px;
				}
			}

			.table-cell {
				min-height: 0;
				padding: 0;
				position: relative;

				&.name-cell {
					padding: 0 0 21px;
					order: 1;
					width: 100%;
					position: relative;

					@include media('>=tablet') {
						padding: 0 0 23px;
						border-bottom: 1px solid $lines-light-gray;
					}

					.sub-cell {
						&:first-child {
							display: none;
						}

						&:nth-child(2) {
							display: block;
							width: 100%;
							flex-grow: 1;
							margin-right: -100%;
							padding: 0 0 8px 100px;
							align-self: flex-end;
							color: $secondary-text-color;
							@include media('>=tablet') {
								font-size: 12px;
								padding: 0 0 8px 95px;
							}
						}

						&:nth-child(3) {
							width: 100%;
							flex-grow: 1;
						}
					}
				}

				&.data-cell {
					order: 4;
					width: 100%;
					text-align: left;
					flex-wrap: wrap;
					padding: 29px 0 10px;

					@include media('>=tablet') {
						padding: 28px 0 10px;
						order: 2;
					}

					.cell-value {
						@include media('<tablet') {
							font-size: $medium-font-size;
						}
					}
					.sub-cell {
						padding: 0 0 19px;
						flex: 1 0 100%;
						display: flex;
						justify-content: space-between;

						&.week-cell {
							padding: 14px 0 38px;
							@include media('<tablet') {
								display: none;
							}
						}

						@include media('>=tablet') {
							padding: 0 0 12px;
						}
					}
				}

				&.status-cell {
					order: 2;
					width: 50%;

					@include media('>=tablet') {
						order: 3;
					}

					.status {
						min-width: 112px;
						background: $white;
						border-radius: 2em;
						padding: 9px 11px;

						@include media('>=tablet') {
							padding: 6px 11px;
						}
					}
					.status-drop {
						.status-icon {
							@include media('<tablet') {
								width: 23px;
								height: 23px;
							}
						}
					}
				}

				&.btn-cell {
					order: 3;
					width: 50%;
					transform: translateX(11px);
					margin: 0 -4px;

					@include media('>=tablet') {
						order: 4;
					}

					.btn-edit, .btn-copy, .btn-archive {
						background: $white;
						margin: 0 4px;

						@include media('<tablet') {
							background: transparent;
							color: $base-text-color;
							font-size: 21px;
							margin: 0 3px;
						}
					}
				}

				.has-img {
					.img-box {
						width: 83px;
						height: 58px;
						margin: 0 17px 0 0;

						@include media('>=tablet') {
							width: 75px;
							height: 52px;
							margin: 0 21px 0 0;
						}
					}

					.campaign-name {
						padding: 0 0 20px;
						font-size: 17px;

						@include media('>=tablet') {
							font-size: $font-size-base;
						}
					}
				}
			}

			.launch-action {
				margin: 0 6px 0 0;
			}

			.slide {
				margin-top: 0;
				margin-bottom: 7px;
				width: 320px;
				bottom: 100%;
				font-weight: normal;
				right: -9px;

				@include media('>=tablet') {
					right: -10px;
					left: auto;
					top: auto;
					width: 292px;
				}
			}

			.status-drop {
				.slide {
					min-width: 214px;
					width: 214px;
					left: 0;
					right: auto;
					@include media('>=tablet') {
						left: 0;
						right: auto;
					}
				}
			}
		}

		.cell-title  {
			display: inline-block;
			vertical-align: top;
			color: $secondary-text-color;

			&.small-font {
				@include media('>=tablet') {
					font-size: 13px;
				}
			}

			@include media('>=tablet') {
				font-size: 13px;
			}
		}
	}

	#list-view:checked ~ .top-actions-panel {
		@include media('>=tablet') {
			display: none;
		}

		.sorting-block {
			@include media('<tablet') {
				display: none;
			}
		}
	}

	#list-view:checked ~ .campaing-view-content {
		.cell-title {
			display: none;
		}

		.week-cell {
			display: none;
		}
		.campaing-view-table {
			padding-top: 13px;
			@include media('<tablet') {
				padding-top: 4px;
			}

			.table-cell {
				&.name-cell {
					@include media('<tablet') {
						width: 23.8%;
					}

					.sub-cell {
						&:first-child {
							@include media('<tablet') {
								width: 13%;
							}
						}
						&:nth-child(2) {
							@include media('<tablet') {
								display: none;
							}
						}

						&.has-img {
							.img-box {
								@include media('<tablet') {
									width: 66px;
									height: 46px;
									margin: 0 18px 0 0;
								}
							}
						}
					}
				}

				&.status-cell {
					@include media('<tablet') {
						width: 11.2%;
					}
				}
			}

			.table-body {
				@include media('<tablet') {
					padding: 4px 0 0;
				}

				.table-cell {
					@include media('<tablet') {
						padding-top: 18px;
						padding-bottom: 13px;
					}
				}
			}
		}

		.table-row {
			&:last-of-type,
			&:nth-last-of-type(2) {

				.slide {
					margin-top: 0;
					margin-bottom: 7px;
					width: 292px;
					bottom: 100%;
					font-weight: normal;

					@include media('>=tablet') {
						right: -10px;
						left: auto;
						top: auto;
					}

					&:before {
						left: auto;
						right: 18px;
						bottom: -8px;
						top: auto;
						transform: scaleY(-1);
					}
				}
			}

			.status-drop {
				.slide {
					min-width: 214px;
					width: 214px;
				}
			}
		}
	}
}

.week-cell {
	display: flex;
	font-size: $secondary-size-base;
	font-weight: 500;

	@include media('>=tablet') {
		font-size: 11px;
	}

	.day-item {
		position: relative;
		cursor: pointer;
		padding: 0 2px;

		&:hover {
			.time-tooltip {
				opacity: 1;
				pointer-events: auto;
			}
		}

		&.full-day {
			.day-circle {
				background: $green;
			}
		}

		&.half-day {
			.day-circle {
				border-color: $green;
				border-style: solid;
				border-width: 0 0 0 6px;
			}
		}

		&.day-off {
			cursor: default;
			color: $secondary-text-color;
			.day-circle {
				background: $lines-light-gray;
			}
		}
	}

	.day-circle {
		width: 12px;
		height: 12px;
		border-radius: 100%;
		background: $lines-light-gray;
		margin: 0 0 9px;
	}

	.time-tooltip {
		pointer-events: none;
		opacity: 0;
		min-width: 117px;
		padding: 10px 5px;
		background: $base-text-color;
		color: $white;
		font-size: 15px;
		border-radius: 11px;
		position: absolute;
		z-index: 1;
		top: calc(100% + 8px);
		left: 50%;
		transform: translateX(-50%);
		transition: opacity $animation-speed;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}
	}
}

.document-frame {
	#list-view:checked ~ .document-view-content {
		.document-table {
			.add-document {
				@include media('>=tablet') {
					display: none !important;
				}
			}
		}
	}

	.tabs-label {
		&.icon-table-view {
			@include media('>=desktop') {
				right: 274px;
			}
		}

		&.icon-list-view {
			@include media('>=desktop') {
				right: 241px;
			}
		}
	}

	#tile-view:checked ~ .document-view-content {

		.document-table {
			font-size: $font-size-base;

			.table-head {
				display: none;
			}

			.table-body {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				margin: 0 -14px;
				@include media('>=tablet') {
					padding: 42px 0 0;
					margin: 0 0 0 -14px;
				}

				@include media('>=desktop') {
					margin: 0 -9px;
				}
			}

			.table-row {
				position: relative;
				border: none;
				background: $bg-light-gray;
				align-items: flex-start;
				flex-wrap: wrap;
				min-width: 320px;
				width: 100%;
				padding: 20px 27px 27px;
				margin: 0 14px 18px;
				border-radius: 18px;

				@include media('>=600px') {
					padding: 23px 32px 19px;
					width: calc(50% - 28px);
					min-width: 0;
				}

				@include media('>=desktop') {
					width: calc(33.33% - 28px);
					margin: 0 14px 28px;
				}

				@include media('>=widescreen') {
					width: calc(25% - 28px);
				}

				@include media('>=1500px') {
					width: 290px;
				}
			}

			.table-cell {
				min-height: 0;
				padding: 0;
				position: relative;
				width: 100%;

				&:first-child {
					position: static;
					padding: 0 0 22px;
					@include media('>=600px') {
						display: block;
						padding: 0 0 24px;
					}

					img {
						@include media('>=600px') {						
							margin: 0 0 3px;
							display: block;
						}
					}

					span {
						color: $gray;
						@include media('>=600px') {						
							display: block;
							padding: 0 0 0 5px;
						}

						@include media('>=tablet') {
							font-size: 11px;
						}
					}
				}

				&:nth-child(2) {
					padding: 0 0 10px;
				}

				&:nth-child(3) {
					width: 21%;
					color: $secondary-text-color;

					@include media('>=600px') {
						width: 25%;
					}
				}

				&:nth-child(4) {
					width: 79%;
					color: $secondary-text-color;

					@include media('>=600px') {
						width: 75%;
					}
				}

				&:nth-child(5) {
					position: absolute;
					top: 22px;
					right: 10px;
					width: auto;

					@include media('>=600px') {
						top: 20px;
						right: 17px;
					}
				}
			}

			.add-document {
				@include media('>=tablet') {
					min-height: 163px;
				}
			}

			.btn-download{
				@include media('<desktop') {
					font-size: 22px;
					margin: 0 8px;
				}
			}
			.btn-del{
				@include media('<desktop') {
					font-size: 19px;
					margin: 0 8px;
				}
			}
		}
	}
}

.campaign-site-frame {
	.tabs-label,
	#tile-view,
	#list-view {
		@include media('>=tablet') {
			display: none !important;
		}
	}

	#tile-view:checked ~ .edit-campaign-panel {display: none;}

	#tile-view:checked ~ .campaign-site-content {
		.edit-campaign-panel {
			display: none;
		}

		.scroll-holder {
			margin-right: 0;
		}

		.table-footer {
			display: none;
		}

		.scroll-box {
			min-width: 0;
		}

		.campaign-site-table {
			@include media('<tablet') {
				padding: 9px 0 0;
				min-width: 0;
			}

			.table-head {
				display: none;
			}

			.table-row {
				@include media('<tablet') {
					flex-wrap: wrap;
					padding: 34px 23px 29px;
					background: $bg-light-gray;
					border-radius: 18px;
					margin: 0 0 27px;
				}

				.table-cell {
					&:first-child {
						@include media('<tablet') {
							width: 100%;
							order: 1;
							color: $base-text-color;
							font-size: 17px;
							padding: 0 0 16px 3px;
						}

						a {
							@include media('<tablet') {
								color: inherit;
							}
						}
					}

					&:nth-child(2) {
						@include media('<tablet') {
							width: 50%;
							order: 2;
						}
					}

					&:nth-child(3) {
						@include media('<tablet') {
							width: 100%;
							order: 4;
							display: block;
							padding: 22px 0 0;
						}

						.sub-cell {
							@include media('<tablet') {
								@include flex-horizontal-align;
								justify-content: space-between;
								font-size: $medium-font-size;
								padding: 9px 0;
							}

							.cell-title {
								font-size: $font-size-base;
							}
						}
					}

					&:nth-child(4) {
						@include media('<tablet') {
							width: 50%;
							order: 3;
						}

						.btn-edit,
						.btn-archive,
						.btn-copy {
							@include media('<tablet') {
								color: $base-text-color;
								font-size: 19px;
							}
						}
					}

					@include media('<tablet') {
						padding: 0;
						min-height: 0;
					}

					.status {
						@include media('<tablet') {
							padding: 10px 12px;
							background: $white;
							border-radius: 2em;
							margin: 0 0 0 -8px;
						}
						
						.status-icon {
							&.launch-action {
								@include media('<tablet') {
									background: #45D6A0;
									color: $white;
								}
							}

							&.icon-pause-action {
								@include media('<tablet') {
									background: #F8AF21;
									color: $white;
								}
							}

							&.icon-archive-action {
								@include media('<tablet') {
									background: $light-red;
									color: $white;
								}
							}
						}
					}
				}
			}
		}
	}

	#list-view:checked ~ .campaing-view-content {
		.campaign-site-table {
			.cell-title {
				display: none;
			}
		}
	}
}