.report-table {
	width: 100%;
	padding: 0 0 19px;

	&.site-page {
		padding: 0 0 8px;

		@include media('>=tablet') {
			padding: 9px 0 8px;
		}

		.table-head {
			.table-cell {
				@include media('<tablet') {
					padding: 16px 0 24px;
				}
			}
		}

		.table-row.sumary-row {
			@include media('>=tablet') {
				font-size: $medium-font-size;
			}
		}

		.table-cell {
			width: 9.9%;

			&:first-child {
				@include media('>=tablet') {
					min-width: 220px;
				}

				.name,
				.date-period {
					&:only-child {
						@include flex-horizontal-align;
						min-height: 47px;
						font-weight: 500;
						@include media('>=tablet') {
							font-size: $medium-font-size;
						}
					}
				}
			}

			&:last-child {
				width: 85px;
				min-width: 0;

				@include media('<tablet') {
					display: none;
				}
			}
			@include media('>=tablet') {
				padding: 15px 4px;
			}
		}
	}

	.table-head {
		color: $secondary-text-color;

		.table-row {
			padding: 0 11px 0 13px;
			@include media('<tablet') {
				padding: 0 30px;
			}
		}

		.table-cell {
			padding: 14px 0 12px;
			font-weight: 500;
			@include media('>=tablet') {
				padding: 21px 4px 34px;
			}
		}

		.table-subcell {
			&.mob-sorting-cell,
			&.sorting-cell {
				@include media('<tablet') {
					width: 30%;
					min-width: 178px;
				}
			}
		}
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		padding: 0 24px;

		&:last-child {
			border-bottom: none;
		}

		@include media('>=tablet') {
			padding: 0 18px 0 13px;
		}

		.table-cell:first-child {
			@include flex-horizontal-align;
			text-align: left;
			width: auto;
			flex: 1 0;
			//width: 57.2%;
		}

		.table-cell:last-child{
			text-align: right;
		}

		.table-subcell {
			text-align: left;

			&.company-cell {
				width: 24%;
			}

			&.billboard-cell {
				width: 22.4%;
				@include media('<tablet') {
					min-width: 178px;
				}
			}

			&.address-cell {
				flex: 1 0;
			}

			&:only-child {
				width: 100%;
			}
		}
	}

	.table-report-section {
		&:last-child {
			.table-row {
				@include media('<tablet') {
					border-bottom: 1px solid $lines-light-gray;
				}
			}
		}
	}

	.table-cell {
		padding: 19px 4px 12px;
		white-space: normal;
		width: 10.7%;
		min-width: 95px;
		text-align: right;

		@include media('>=tablet') {
			padding: 22px 4px;
		}
	}

	.table-row.sumary-row {
		background: $bg-light-gray;
		font-weight: 500;
		border: none;

		.table-cell {
			padding-top: 13px;
			padding-bottom: 12px;

			&:first-child {
				font-weight: 500;
			}

			@include media('>=tablet') {
				padding-top: 11px;
				padding-bottom: 14px;
			}
		}
	}

	.sub-text {
		display: block;
		color: $secondary-text-color;
		padding: 8px 0 0;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}
	}

	.campaign-img-box {
		position: relative;
		margin: 0 18px 0 0;
		width: 66px;
		height: 45px;
		border-radius: 5px;
		overflow: hidden;
		flex-shrink: 0;

		@include media('>=tablet') {
			width: 70px;
			height: 49px;
			margin: 0 22px 0 0;
		}

		.play-video {
			width: 23px;
			height: 23px;
			font-size: 7px;
			background: rgba($purple, 0.9);

			&:before{
				margin: 0 0 1px 3px;
			}

			&:hover {
				background: $purple;
			}
		}
	}

	.campaign-title {
		.name {
			display: block;
			font-weight: normal;
			@include media('>=tablet') {
				font-size: $medium-font-size;
				font-weight: 500;
				padding: 0 0 5px;
			}
		}

		.subtitle {
			color: $purple;
		}
	}

	.icon-statictics {
		font-size: 17px;
		color: $secondary-text-color;
		margin: 0 -16px 0 0;
		display: inline-block;
	}
}

.sorting-cell {
	color: $base-text-color;
	cursor: pointer;
	font-weight: 500;

	&.up {
		&:before {
			transform: scaleY(-1);
		}
	}

	&.down {
		&:before {
			transform: scaleY(1);
		}
	}

	&:before {
		content: "\e93f";
		font-family: 'icomoon';
		margin: 0 7px 0 0;
		display: inline-block;
		vertical-align: top;
		font-size: 12px;
		transition: transform $animation-speed;
	}
}

.mob-sorting-cell {
	@include media('<tablet') {
		color: $base-text-color;
		cursor: pointer;
		font-weight: 500;
	}


	&.up {
		&:before {
			@include media('<tablet') {
				transform: scaleY(-1);
			}
		}
	}

	&.down {
		&:before {
			@include media('<tablet') {
				transform: scaleY(1);
			}
		}
	}

	&:before {
		@include media('<tablet') {
			content: "\e93f";
			font-family: 'icomoon';
			margin: 0 7px 0 0;
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			transition: transform $animation-speed;
		}
	}
}

.campaing-view-table {
	font-size: 15px;
	padding: 0 0 35px;
	min-width: 1070px;

	@include media('>=tablet') {
		font-size: $font-size-base;
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		transition: all $animation-speed;
	}

	.table-head {
		font-size: $font-size-base;
		color: $secondary-text-color;
		font-weight: 500;

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 0 8px;
			font-weight: 500;
			@include media('>=tablet') {
				padding: 20px 4px;
			}
		}

		.simplebox {
			&.icon-statictics {
				margin: 0 -1px -6px 0;
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		padding: 14px 5px;
		min-height: 62px;

		&.name-cell{
			width: 25.6%;
			padding-left: 0;

			.sub-cell {
				&:first-child {
					width: 15%;

					@include media('<tablet') {
						display: none;
					}
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					width: 73%;
					@include media('<tablet') {
						width: 100%;
					}
				}
			}
			.has-img {
				@include flex-horizontal-align;
				white-space: normal;

				.img-box {
					margin: 0 22px 0 2px;
					width: 66px;
					height: 46px;
					border-radius: 4px;
					overflow: hidden;
					position: relative;
					background-size: cover;
					background-position: 50% 50%;

					@include media('>=tablet') {
						width: 70px;
						height: 49px;
					}

					.launch-action {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 22px;
						height: 22px;
						background: $purple;
						color: $white;
						margin: 0;
						transition: background $animation-speed;

						&:hover {
							background: lighten($purple, 5%)
						}
					}
				}
			}

			.campaign-name {
				font-weight: 500;
				font-size: $medium-font-size;
				flex: 1 0;
			}
		}
		&.status-cell {
			@include flex-horizontal-align;
			width: 11%;
		}
		&.data-cell {
			width: 54.7%;
			text-align: center;
			.sub-cell {
				padding: 0 3px;
				flex: 1;
			}
		}
		&.btn-cell {
			padding-right: 0;
			width: 8.7%;
			flex-shrink: 0;
			justify-content: flex-end;

			.open-close {

				.btn-copy {
					font-size: 17px;
				}

				.slide {
					@include media('>=tablet') {
						min-width: 292px;
					}
				}

			}

			.btn-edit,
			.btn-archive,
			.btn-copy {
				flex-shrink: 0;
				color: $light-purple;

				&:hover {
					color: $base-text-color;
				}
			}
		}

		@include media('>=tablet') {
			padding: 9px 5px 10px;
			min-height: 84px;
		}

		.status {
			@include flex-horizontal-align;
			white-space: normal;
		}
	}

	.table-body {
		.table-row {
			&:last-child {
				border-bottom: none;
			}
		}
	}
	
	.table-footer {
		font-weight: 500;
		padding: 9px 0 0;

		.table-row {
			background: $bg-light-gray;
			border-bottom: none;
			border-radius: 5px;
		}

		.table-cell {
			min-height: 0;

			&.name-cell {
				font-size: $medium-font-size;
				padding-left: 18px;
			}
		}
	}
}

.banners-table {
	@include media('>=tablet') {
		padding: 23px 0 0;
		font-size: $secondary-size-base;
	}

	.table-row {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		border-bottom: 1px solid $lines-light-gray;
		padding: 20px 50px 18px 0;
		position: relative;

		&:last-child {
			@include media('<desktop') {
				border-bottom: none;
			}
		}

		@include media('>=desktop') {
			padding: 0;
			flex-wrap: nowrap;
		}
	}

	.table-cell {
		padding: 9px 0;

		&.size-cell {
			padding-left: 0;

			@include media('>=widescreen') {
				width: 7.3%;
			}
		}

		&.name-cell {
			width: 100%;

			@include media('>=tablet') {
				padding-right: 55px;
			}

			@include media('>=desktop') {
				width: 12.5%;
				padding-right: 0;
			}
		}

		&.address-cell {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			line-height: 1.45;

			@include media('>=desktop') {
				flex-direction: column-reverse;
				font-weight: 500;
				width: 40%;
				font-size: $font-size-base;
			}

			.city {
				display: block;
				padding: 0 0 2px;
				width: 100%;
				@include media('>=desktop') {
					padding: 4px 0 0;
					font-weight: normal;
				}
			}
		}

		&.data-cell {
			@include flex-horizontal-align;
			justify-content: space-between;
			width: 100%;

			@include media('>tablet', '<=desktop') {
				justify-content: flex-start;
				margin: 0 -5px;
			}

			@include media('>=desktop') {
				width: 36.6%;
			}

			@include media('>=widescreen') {
				width: 29.3%;
			}

			dl {
				margin: 0;
				padding: 5px 0 0;

				&.subcell-operator {
					@include media('<desktop') {
						order: 1;
					}
				}

				&.subcell-id {
					@include media('<desktop') {
						order: 3;
					}
				}

				&.subcell-gid {
					@include media('<desktop') {
						order: 2;
					}
				}

				@include media('>tablet', '<=desktop') {
					padding-right: 5px;
					padding-left: 5px;
				}

				@include media('>=desktop') {
					display: flex;
					padding: 0 3px;
				}
			}

			dt {
				color: $secondary-text-color;
			}

			dd {
				margin: 8px 0 0 0px;

				@include media('>=desktop') {
					margin: 0 0 0 3px;
				}
			}
		}

		&.btn-cell {
			padding-right: 0;
			position: absolute;
			top: 11px;
			right: -3px;

			@include media('>=tablet') {
				@include flex-horizontal-align;
				flex-direction: row-reverse;
			}

			@include media('>=desktop') {
				position: static;
				width: 10.9%;
			}

			.open-close {
				.slide {
					width: 100%;
					display: flex;
					flex-direction: column-reverse;

					@include media('>=tablet') {
						align-items: center;
						flex-direction: row;
						justify-content: flex-end;
					}
				}
			}

			.btn-circle-lg + .btn-circle-lg {
				margin: 11px 0 0;

				@include media('>=tablet') {
					margin: 0 12px 0 0;
				}
			}
		}

		@include media('>=desktop') {
			padding: 23px 5px 22px;
		}
	}

	.banner-size {
		@include flex-central-align;
		font-weight: 500;
		width: 75px;
		height: 50px;
		border: 3px solid $lines-light-gray;
		border-radius: 6px;
		white-space: nowrap;
	}

	.name {
		font-weight: 500;
		display: block;
		font-size: 17px;
		padding: 0 0 5px;

		@include media('>=desktop') {
			padding: 0 0 9px;
			font-size: $secondary-size-base;
		}

		.size {
			white-space: nowrap;
			@include media('>=widescreen') {
				display: none;
			}
		}
	}

	.description {
		color: $secondary-text-color;

		@include media('>=desktop') {
			font-size: 12px;
		}
	}

	.badge {
		margin: 0 0 0 7px;

		@include media('>=desktop') {
			margin: 0 0 0 3px;
		}
	}
}

.rate-table {
	position: relative;
	padding: 79px 0 0;

	@include media('>=tablet') {
		padding: 14px 0 0;
	}

	.table-head {

		.table-row {
			flex-direction: row-reverse;
			border-width: 0;
			padding: 0;

			@include media('<tablet') {
				flex-wrap: nowrap;
			}

			@include media('>=tablet') {
				flex-direction: row;
				border-width: 0 0 1px 0;
			}
		}
		.table-cell {
			padding: 8px 0;

			&.search-cell {
				@include media('<tablet') {
					width: auto;
					padding: 0;
				}
			}

			&.name-cell {
				@include media('<tablet') {
					width: 20%;
					padding: 0;
				}

				.sub-cell {
					@include media('<tablet') {
						width: auto !important;
					}
				}
			}

			&:nth-child(3) {
				@include media('<tablet') {
					width: 80%;
					justify-content: flex-start;
				}
			}

			@include media('>=tablet') {
				padding: 8px 5px;
			}
		}

		.label {
			padding: 0;
			font-size: $secondary-size-base;
			.number {
				padding: 0 2px 0 0;
			}
		}
	}

	.table-row {
		@include flex-horizontal-align;
		border-botom: 1px solid $lines-light-gray;
		border-width: 0 0 1px 0;
		&:last-child {
			@include media('<tablet') {
				border: none;
			}
		}
		@include media('<tablet') {
			flex-wrap: wrap;
			padding: 27px 0 11px;
		}
	}

	.table-body {
		.table-row {
			&:first-child {
				@include media('<tablet') {
					padding-top: 17px;
				}
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		width: 100%;
		padding: 0 0 17px;

		&:first-child {
			padding-left: 0;
			@include media('>=tablet') {
				width: 24.5%;
			}

			@include media('>=desktop') {
				width: 16.7%;
			}

			.fake-input {
				position: relative;
				top: 0;
				left: 0;

				@include media('<tablet') {
					margin: 0;
				}
			}
		}

		&:nth-child(2) {
			@include media('>=tablet') {
				width: 49%;
			}

			@include media('>=desktop') {
				width: 57.6%;
			}
		}

		&:nth-child(3) {
			padding-right: 0;
			@include media('>=tablet') {
				width: 26.5%;
			}
		}

		&.name-cell {
			@include media('<tablet') {
				flex-direction: row-reverse;
				padding: 0 0 14px;
			}

			.sub-cell {
				&:first-child {
					width: 20%;
					text-align: right;
					@include media('>=tablet') {
						text-align: left;
					}
				}

				&:nth-child(2) {
					flex: 1 0;
				}

				label {
					@include media('<tablet') {
						padding: 0;
						margin: -17px -3px 0 0;
						display: block;
					}
				}
			}
		}

		&.address-cell {
			display: block;
			line-height: 1.45;

			@include media('>=tablet') {
				@include flex-horizontal-align;
				flex-direction: column-reverse;
				align-items: flex-start;
				font-weight: 500;
				font-size: $font-size-base;
			}

			.city {
				@include media('>=tablet') {
					display: block;
					width: 100%;
					padding: 4px 0 0;
					font-weight: normal;
				}
			}
		}

		&.input-cell {
			color: $secondary-text-color;

			&.without-icon {
				align-items: flex-start;

				@include media('<tablet') {
					padding: 7px 0 10px;
				}

				.sub-cell {
					padding: 0;

					&:first-child {
						font-size: 15px;
						padding: 10px 16px 0 0;

						@include media('>=tablet') {
							padding: 0;
							font-size: $secondary-size-base;
						}

						@include media('>=1200px') {
							text-align: right;
							padding: 12px 0 0;
						}
					}

					&:nth-child(2) {
						@include media('>=1200px') {
							max-width: 116px;
						}
					}
				}

				.sub-cell + .sub-cell {
					@include media('>=1200px') {
						margin-left: 17px;
					}
				}
			}

			@include media('>=tablet')  {
				justify-content: flex-end;
				padding: 24px 0 13px 5px;
			}

			@include media('>=tablet', '<1199px') {
				flex-wrap: wrap;
			}

			.sub-cell {
				position: relative;
				padding: 0 0 0 35px;

				@include media('>=tablet') {
					width: 100%;
				}

				@include media('>=1200px') {
					width: 50%;
				}
			}

			.sub-cell + .sub-cell {
				margin-left: 20px;
				@include media('>=tablet', '<1199px') {
					margin-left: 0;
					margin-top: 15px;
				}
			}

			i {
				font-size: 24px;
				position: absolute;
				top: 7px;
				left: 0;
			}

			.input-has-currency {
				margin: 0 0 9px;

				@include media('>=tablet') {
					margin: 0 0 6px;
				}

				input[type='text'],
				input[type='number'],
				input[type='tel'],
				input[type='email'],
				input[type='search'],
				input[type='password'] {
					background: $bg-light-gray;
					font-size: $secondary-size-base;
					height: 38px;
					padding: 5px 10px;
					@include placeholder {
						font-size: 15px;

						@include media('>=tablet') {
							font-size: $secondary-size-base;
						}
					}
				}
			}

			dl {
				margin: 0;
				width: 100%;
				font-size: 12px;

				dt, dd {
					display: inline-block;
					vertical-align: top;
					margin: 0;
				}

				dd {
					margin: 0 11px 0 0;
					color: $purple;

					@include media('>=tablet') {
						margin: 0 8px 0 0;
					}
				}
			}
		}

		@include media('>=tablet') {
			padding: 19px 5px;
		}
	}

	.search-holder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		@include media('>=tablet') {
			position: relative;
		}

		.btn-search {
			font-size: 17px;
			color: $secondary-text-color;
			@include media('>=tablet') {
				left: 0;
				font-size: 22px;
				color: $base-text-color;
			}
		}

		input[type="search"] {
			padding-left: 49px;

			@include placeholder {
				font-size: $font-size-base;
				@include media('>=tablet') {
					font-size: $secondary-size-base;
				}
			}

			@include media('<tablet') {
				background: $third-light-gray;
				border-radius: 7px;
				height: 45px;
			}

			@include media('>=tablet') {
				font-size: $secondary-size-base;
				border: 1px solid transparent;
				transition: border-color $animation-speed;
				padding-left: 36px;
			}
		}
	}

	.sorting-block {
		@include flex-horizontal-align;
		width: 100%;

		@include media('>=tablet') {
			justify-content: flex-end;
		}

		.open-close-title {
			padding: 0 6px 0 0;
		}
		.open-close {
			.opener {

				&:after {
					@include media('>=tablet') {
						margin: 0 0 0 1px;
					}
				}
			}

			.sorting-icon {
				@include media('<tablet') {
					padding: 0;
					margin: 0 5px 0 -3px;
				}
			}
		}
	}

	.name {
		font-weight: 500;
		display: block;
		font-size: $lg-font-size;
		padding: 0 0 2px;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}

		@include media('>=desktop') {
			padding: 0 0 6px;
		}

		.size {
			white-space: nowrap;
		}
	}

	.description {
		color: $secondary-text-color;
		font-size: $secondary-size-base;

		@include media('>=tablet') {
			font-size: 12px;
		}
	}

	.badge {
		margin: 0 0 0 7px;
		vertical-align: top;

		@include media('>=tablet') {
			margin: 0 0 0 3px;
		}
	}
}

.time-table {
	table-layout: fixed;
	width: 100%;
	max-width: 507px;
	margin: 0 0 7px;

	@include media('>=tablet') {
		margin: 0 0 29px;
	}

	thead,
	tr td:first-child {
		font-size: $secondary-size-base;
		color: $secondary-text-color;

		@include media('>=tablet') {
			font-size: 12px;
		}
	}

	thead {
		td {
			padding: 2px 0;
			text-align: center;

			@include media('>=tablet') {
				padding: 9px 0;
			}
		}
	}

	td {
		border: 5px solid $white;

		&:first-child {
			width: 40px;
			border-left: 0;

			@include media('>=tablet')  {
				width: 46px;
			}
		}

		&:last-child {
			border-right: 0;
		}

		@include media('>=tablet')  {
			border-width: 4px
		}
	}

	.fake-input {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		background: $lines-light-gray;
		width: 100%;
		min-width: 27px;
		max-width: 61px;
		height: 22px;
		margin: 0;
		border-radius: 3px;
		border: none;
		transition: background $animation-speed;

		@include media('>=370px') {
			min-width: 36px;
		}

		@include media('>=tablet') {
			height: 20px;
		}
	}
	input[type="checkbox"] + .fake-input:before {color: $white;}

	input[type="checkbox"]:checked + .fake-input {background: $green;}
}

.document-table  {
	font-size: 15px;
	padding: 0 0 41px;

	@include media('>=tablet') {
		padding: 0 0 68px;
		font-size: $font-size-base;
	}

	@include media('>=widescreen') {
		margin: 0 -5px;
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		transition: all $animation-speed;

		@include media('<tablet') {
			position: relative;
			width: calc(50% - 28px);
			border: none;
			background: $bg-light-gray;
			align-items: flex-start;
			flex-wrap: wrap;
			padding: 25px 27px 35px 76px;
			margin: 0 14px 15px;
			border-radius: 18px;
		}

		@include media('<600px') {
			margin: 0 0 15px;
			width: 100%;
			min-width: 0;
		}
	}

	.table-head {
		font-size: $font-size-base;
		color: $secondary-text-color;

		@include media('<tablet') {
			display: none;
		}

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			font-weight: 500;
			font-size: $font-size-base;

			@include media('>=tablet') {
				padding: 30px 4px 27px;
				color: $secondary-text-color !important;
			}
		}
	}

	.table-body {

		@include media('<tablet') {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		padding: 14px 5px;
		min-height: 62px;

		@include media('<tablet') {
			min-height: 0;
			padding: 0;
			position: relative;
			width: auto;
			font-size: $medium-font-size;
		}

		&:first-child {
			display: block;
			padding: 0;
			position: absolute;
			top: 23px;
			left: 21px;

			@include media('>=tablet') {
				display: flex;
				position: static;
				width: 16%;
				padding: 14px 5px;
			}

			@include media('>=desktop') {
				width: 10.1%;
			}

			img {
				margin: 0 11px 0 0;
				@include media('<tablet') {
					width: 32px;
					margin: 0 0 5px;
					display: block;
				}
			}

			span {
				@include media('<tablet') {
					display: block;
					padding: 0 0 0 2px;
					color: $gray;
				}
			}
		}

		&:nth-child(2) {
			padding: 0 0 8px;
			font-size: $lg-font-size;
			font-weight: 500;
			width: 100%;
			@include media('>=tablet') {
				width: 42.1%;
				font-size: $font-size-base;
				padding: 14px 5px;
			}

			@include media('>=desktop') {
				width: 53%;
			}
		}

		&:nth-child(3) {
			width: 28%;
			color: $secondary-text-color;
			@include media('>=tablet'){
				width: 12.9%;
				color: $base-text-color;
			}
		}

		&:nth-child(4) {
			width: 72%;
			color: $secondary-text-color;
			@include media('>=tablet') {
				width: 24%;
				color: $base-text-color;
			}

			@include media('>=desktop') {
				width: 14%;
			}
		}

		&:nth-child(5) {
			width: 5%;
			justify-content: flex-end;
			@include media('<tablet'){
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 20px;
				width: auto;
				font-size: 20px;
				z-index: 1;
			}

			@include media('>=desktop') {
				width: 10%;
			}

			.open-close {
				.opener {
					@include media('>=desktop') {
						display: none;
					}
				}

				.slide {
					z-index: 2;
					top: calc(100% + 5px);
					@include media('>=desktop') {
						box-shadow: none;
						padding: 0;
						min-width: 0;
						position: static !important;
						opacity: 1;
						visibility: visible;
						border: none;
						background: transparent;
					}
				}

				.list {
					@include media('>=desktop') {
						@include flex-horizontal-align;
					}

					li {

						&:last-child {
							padding: 0;
						}
						@include media('>=desktop') {
							padding: 0;
						}
					}
				}
			}
		}

		@include media('>=tablet') {
			padding: 10px 5px 14px;
			min-height: 80px;
		}
	}

	.btn-download,
	.btn-del {
		display: flex;
		color: $gray;

		&:before{
			@include media('<desktop') {
				display: none;
			}
		}

		@include media('<desktop') {
			font-size: $medium-font-size;
			margin: 0 8px;
			background: transparent;
			width: auto;
			height: auto;
			display: block;
			color: $base-text-color;
		}
	}
}

.client-table {
	padding: 25px 0 38px;
	font-size: 15px;

	@include media('>=desktop') {
		font-size: $font-size-base;
		padding: 0 0 38px;
	}

	.table-body {
		display: flex;
		flex-wrap: wrap;

		@include media('>=desktop')  {
			display: block;
		}
	}

	.table-row {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		margin: 0 0 26px;
		background: $bg-light-gray;
		border-radius: 18px;
		padding: 23px 19px 11px;
		width: 100%;
		position: relative;

		@include media('>=phone') {
			margin: 0 10px 26px;
		}

		@include media('>=660px') {
			width: calc(50% - 20px);
		}

		@include media('>=desktop') {
			flex-wrap: nowrap;
			width: auto;
			background: none;
			border-radius: 0;
			padding: 0;
			margin: 0 -5px;
			border-bottom: 1px solid $lines-light-gray;
		}
	}

	.table-head {
		font-weight: 500;
		color: $secondary-text-color;

		@include media('<desktop') {
			display: none;
		}

		.table-row {
			border-bottom: none;

			@include media('>=desktop') {
				@include flex-horizontal-align;
			}
		}

		.table-cell {
			min-height: 79px;
			font-weight: 500;
			padding: 10px 4px 20px;
			flex-wrap: nowrap;
			&:first-child {
				@include media('>=desktop') {
					padding-left: 1px;
				}
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		justify-content: space-between;
		padding: 8px 5px;
		width: 100%;

		&:first-child {
			font-size: 17px;
			font-weight: 500;
			@include media('<desktop') {
				padding-right: 150px;
				padding-bottom: 23px;
			}
			@include media('>=desktop') {
				width: 17.5%;
				justify-content: flex-start;
				font-size: $font-size-base;
				font-weight: 500;
			}
		}

		&:nth-child(2) {
			@include media('>=desktop') {
				width: 13%;
			}
		}

		&:nth-child(3) {
			@include media('>=desktop') {
				width: 13%;
			}
		}

		&:nth-child(4) {
			@include media('>=desktop') {
				width: 13%;
			}
		}

		&:nth-child(5) {
			@include media('>=desktop') {
				width: 19.5%;
				justify-content: flex-start;
				font-weight: 500;
			}

			@include media('>=widescreen') {
				width: 18.5%;
			}
		}

		&:nth-child(6) {
			width: 55%;
			@include media('>=desktop') {
				width: 11%;
			}

			.cell-title {
				color: $base-text-color;
				padding: 0 2px 0 0;
			}
		}

		&:nth-child(7) {
			width: 44%;
			justify-content: flex-end;
			@include media('>=desktop') {
				width: 13%;
				padding: 10px 5px 14px;
			}

			@include media('>=widescreen') {
				width: 14%;
			}
		}

		&:nth-child(6),
		&:nth-child(7) {
			@include media('<desktop') {
				padding-top: 19px;
			}
		}

		@include media('>=desktop') {
			justify-content: center;
			flex-wrap: wrap;
			padding: 10px 5px 17px;
			min-height: 65px;
		}

		.cell-title {
			font-size: $font-size-base;
			color: $secondary-text-color;
			@include media('>=desktop') {
				display: none;
			}
		}
	}

	.amount-cell {
		@include media('<desktop') {
			position: absolute;
			top: 16px;
			right: 9px;
			font-size: 16px;
			font-weight: 500;
			width: auto;
		}

		.amount {
			padding: 0 7px 0 0;
			@include media('>=desktop') {
				padding: 0 13px 0 0;
			}
		}

		.open-close {
			@include media('>=desktop') {
				margin: 0 0 0 10px;
			}
		}
	}

	.action-cell {
		@include media('>=desktop') {
			justify-content: flex-end;
		}

		.open-close {
			.opener {
				@include flex-central-align;
				width: 32px;
				height: 32px;
				background: #f8f8fd;
				border-radius: 9px;
				color: $secondary-text-color;
				font-size: 3px;
				@include media('<desktop') {
					display: none;
				}
			}

			.slide {
				right: -10px;
				left: auto;

				&:before {
					left: auto;
					right: 28px;

					@include media('<desktop') {
						display: none;
					}
				}

				@include media('<desktop') {
					position: static !important;
					display: block !important;
					background: none;
					min-width: 0;
					padding: 0;
					border: none;
					border-radius: 0;
					box-shadow: none;
					margin: 0;
					opacity: 1;
					visibility: visible;
				}

				.list {
					@include media('<desktop') {
						margin: 0 -15px 0 0;
					}
					li {
						@include media('<desktop') {
							display: inline-block;
							vertical-align: top;
							padding: 0 9px 0 0;
						}
					}

					a {
						@include media('<desktop') {
							display: flex;
						}
					}
				}
			}

			.btn-edit,
			.btn-del {
				background: none;
				width: auto;
				height: auto;

				&:before {
					font-size: 20px;
					@include media('>=desktop') {
						display: none;
					}
				}

				@include media('>=desktop') {
					margin: 0;
					border-radius: 0;
					color: $base-text-color;
					font-size: $font-size-base;
				}
			}
		}
	}

	.switch-frame {

		.switch {
			@include media('<desktop') {
				width: 30px;
				height: 18px;
			}

			.slider {
				background-color: $white;
			}

			.circle {
				@include media('<desktop') {
					width: 10px;
					height: 10px;
					bottom: 4px;
				}
			}
		}

		input[type="checkbox"]:checked + .slider .circle,
		input[type="checkbox"]:checked + .switch .slider .circle {
			@include media('<desktop') {
				transform: translateX(10px);
			}
		}
	}

	.circle-btn {

		@include media('<desktop') {
			border-color: $purple;
			margin: 0 0 0 7px;
		}

		@include media('>=desktop') {
			margin: 0 0 0 10px;
		}
	}
}

.payments-table {
	padding: 0 0 38px;
	min-width: 1070px;

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		margin: 0 -5px;
	}

	.table-head {
		font-weight: 500;
		color: $secondary-text-color;

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 4px 18px;

			@include media('>=tablet') {
				padding: 30px 4px 29px;
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		padding: 10px 3px;
		min-height: 54px;

		&:first-child {
			width: 14.2%;
			@include media('>=tablet') {
				width: 15.1%;
			}
		}
		&:nth-child(2) {
			width: 15.8%;
			@include media('>=tablet') {
				width: 15.1%;
			}
		}
		&:nth-child(3) {
			width: 9.5%;
			@include media('>=tablet') {
				width: 8.9%;
			}
		}
		&:nth-child(4) {
			width: 14.1%;
		}
		&:nth-child(5) {
			width: 23.2%;
			@include media('>=tablet') {
				width: 23.8%;
			}
		}
		&:nth-child(6) {
			width: 23.2%;
			justify-content: space-between;
			@include media('>=tablet') {
				width: 23%;
			}
		}

		&.sorting-cell {
			&:before {
				@include media('<tablet') {
					margin: 3px 5px 0 0;
				}
			}
		}

		@include media('>=tablet') {
			padding: 12px 5px;
			min-height: 72px;
		}
	}

	img {
		margin: 0 14px 0 0;
		@include media('<desktop') {
			width: auto;
		}
	}

	a {
		color: inherit;
	}

	.icon-dock {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		color: $secondary-text-color;
		background: #F8F8FD;
		border-radius: 9px;
		width: 32px;
		height: 32px;
		line-height: 31px;
		font-size: 19px;
	}
}

.user-table {
	padding: 25px 0 60px;

	@include media('>=widescreen') {
		padding: 5px 0 60px;
	}

	.table-body {
		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
		}

		@include media('>=widescreen') {
			display: block;
		}
	}

	.table-row {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		position: relative;
		background: $bg-light-gray;
		border-radius: 18px;
		padding: 31px 25px 27px;
		margin: 0 0 17px;

		@include media('>=tablet') {
			width: calc(50% - 20px);
			margin: 0 10px 17px;
		}

		@include media('>=desktop') {
			width: calc(33.33% - 20px);
		}

		@include media('>=widescreen') {
			border-bottom: 1px solid $lines-light-gray;
			flex-wrap: nowrap;
			margin: 0 -5px;
			padding: 0;
			background: transparent;
			border-radius: 0;
			width: 100%;
		}
	}

	.table-head {
		font-size: $secondary-size-base;
		color: $secondary-text-color;

		@include media('<widescreen') {
			display: none;
		}

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 0 12px;
			font-weight: 500;

			&:first-child,
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7){
				padding: 14px 0 12px;

				@include media('>=widescreen') {
					padding: 29px 4px 28px;
				}
			}
		}
	}

	.table-cell {

		&:first-child {
			padding: 6px 5px 14px;
			width: 20%;
			font-size: $font-size-base;

			@include media('<1299px') {
				width: 22%;
			}

			@include media('<widescreen') {
				width: 100%;
				font-size: 17px;
				padding: 0 60px 5px 0;
				order: 1;
			}
		}

		&:nth-child(2) {
			padding: 6px 5px 14px;
			width: 18.3%;
			font-size: $secondary-size-base;

			@include media('<1299px') {
				width: 20.3%;
			}

			@include media('<widescreen') {
				order: 3;
				width: 100%;
				font-size: $medium-font-size;
				padding: 0 0 10px;
			}
		}

		&:nth-child(3) {
			width: 9.8%;
			padding: 6px 5px 14px;

			@include media('<widescreen') {
				width: 100%;
				padding: 0 60px 22px 0;
				order: 2;
			}
		}

		&:nth-child(4) {
			width: 12.5%;
			padding: 6px 5px 14px;

			@include media('<widescreen') {
				font-size: $medium-font-size;
				width: 100%;
				padding: 0 0 11px;
				order: 4;
			}
		}

		&:nth-child(5) {
			width: 11.4%;

			@include media('<widescreen') {
				width: 100%;
				order: 5;
				padding: 0 0 12px;
			}
		}

		&:nth-child(6) {
			width: 22%;
			padding-right: 0;

			@include media('<1299px') {
				width: 18%;
			}

			@include media('<widescreen') {
				width: 50%;
				order: 6;
			}
		}

		&:nth-child(7) {
			justify-content: flex-end;
			width: 6%;
			padding-right: 0;

			@include media('<widescreen') {
				width: 50%;
				order: 7;
				padding: 12px 0 0;
			}
		}

		&.sorting-cell {
			&:before {
				content: "\e926";
				margin: 4px 6px 0 0;
				font-size: 9px;
			}
		}

		@include media('>=widescreen') {
			@include flex-horizontal-align;
			padding: 6px 5px 14px;
			min-height: 81px;
		}
	}

	.img-box {
		width: 49px;
		height: 49px;
		border-radius: 100%;
		overflow: hidden;
		position: absolute;
		top: 24px;
		right: 27px;

		img {
			width: 100%;
		}

		@include media('>=widescreen') {
			width: 46px;
			height: 46px;
			margin: 0 17px 0 0;
			position: static;
		}
	}

	.user-status {
		position: relative;

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin: 0 6px 0 0;
			border-radius: 100%;
			width: 6px;
			height: 6px;
		}

		&.active {
			&:before {
				background: -webkit-linear-gradient(#33CE9B 0%, #54DBA4 100%);
				background: -o-linear-gradient(#33CE9B 0%, #54DBA4 100%);
				background: linear-gradient(#33CE9B 0%, #54DBA4 100%);
			}
		}

		&.inactive {
			&:before {
				background: #ff6a6a;
			}
		}
	}

	.user-btn {
		@include flex-horizontal-align;
		justify-content: flex-end;

		.btn-edit,
		.btn-del {
			@include media('<widescreen') {
				width: 22px;
				height: 22px;
				color: $base-text-color;
				font-size: 19px;
				margin: 0;
				background: transparent;
			}
		}

		.btn-del {
			@include media('<widescreen') {
				margin: 0 -3px 0 10px;
			}
		}
	}

	.email {
		text-decoration: none;
		color: $base-text-color;
		transition: opacity $animation-speed;

		&:hover {
			opacity: 0.7;
		}

		@include media('>=widescreen') {
			font-size: $font-size-base;
		}
	}

	.name {
		font-weight: 500;

		&.lead {
			&:after {
				font-family: 'icomoon';
				content: "\e939";
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 7px;
				color: $light-red;
				font-size: 12px;

				@include media('>=widescreen') {
					font-size: 6px;
					margin: 0 0 2px 7px;
				}
			}
		}

		@include media('>=widescreen') {
			flex: 1 0;
		}
	}

	.list-inline {
		margin: 0 -3px;
		@include media('>=widescreen') {
			margin: 0 -3px;
		}

		li {
			padding: 0 2px 3px;

			@include media('>=widescreen') {
				padding: 0 3px;
			}
		}
	}

	.cell-title {
		color: $secondary-text-color;
		font-weight: 500;
		display: block;
		padding: 0 0 9px;
	}
}

.campaign-site-table {
	font-size: $medium-font-size;
	padding: 0 0 35px;
	min-width: 1070px;

	@include media('>=tablet') {
		font-size: $font-size-base;
		padding: 0 0 44px;
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		transition: all $animation-speed;
	}

	.table-head {
		font-size: $font-size-base;
		color: $secondary-text-color;
		font-weight: 500;

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 0 8px;
			font-weight: 500;
			@include media('>=tablet') {
				padding: 29px 4px;
			}
		}

		.simplebox {
			&.icon-statictics {
				margin: 0 -2px 0px 0;
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		padding: 14px 5px;
		min-height: 63px;

		&:first-child {
			width: 25%;
			font-weight: 500;
			padding-left: 0;

			@include media('>=tablet') {
				font-size: $medium-font-size;
			}

			label,
			.check-all {
				margin: 0 27px 0 0;
				@include media('<tablet') {
					display: none;
				}
			}
		}

		&:nth-child(2)  {
			@include flex-horizontal-align;
			width: 11.5%;
		}

		&.data-cell {
			width: 54.5%;
			text-align: center;
			.sub-cell {
				padding: 0 3px;
				flex: 1;
			}
		}

		&:last-child {
			padding-right: 0;
			width: 9%;
			flex-shrink: 0;
			justify-content: flex-end;

			.open-close {

				.btn-copy {
					font-size: 17px;
				}

				.slide {
					@include media('>=tablet') {
						min-width: 292px;
					}
				}

			}

			.btn-edit,
			.btn-archive,
			.btn-copy {
				flex-shrink: 0;
				color: $light-purple;

				&:hover {
					color: $base-text-color;
				}
			}
		}

		@include media('>=tablet') {
			padding: 10px 5px;
		}

		.status {
			@include flex-horizontal-align;
			white-space: normal;
		}
	}

	.table-body {
		.table-row {
			&:last-child {
				border-bottom: none;
			}
		}
	}

	.table-footer {
		font-weight: 500;
		padding: 9px 0 0;

		@include media('>=tablet') {
			font-size: $medium-font-size;
		}

		.table-row {
			background: $bg-light-gray;
			border-bottom: none;
			border-radius: 5px;
		}

		.table-cell {
			min-height: 0;

			&.name-cell {
				font-size: $medium-font-size;
				padding-left: 18px;
			}
		}
	}

	.cell-title {
		color: $secondary-text-color;
		@include media('>=tablet') {
			display: none;
		}
	}
}

.rate-modal-table {
	padding: 3px 0 0;

	.rate-row {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		padding: 22px 0;
		margin: 0 0 2px;
		
		&.has-bg-mob {
			@include media('<tablet') {
				border: none !important;
				background: $third-light-gray;
				border-radius: 8px;
				margin: 0;
			}
		}

		@include media('>=tablet') {
			flex-wrap: nowrap;
			padding: 11px 0;
			margin: 0;
		}
	}

	.rate-row + .rate-row {
		@include media('<tablet') {
			border-top: 1px solid $secondary-light-gray;
		}
	}

	.rate-row.has-bg-mob + .rate-row {
		@include media('<tablet') {
			border: none;
		}
	}

	.cell {
		width: 20%;

		@include media('>=tablet') {
			width: 12%;
		}

		&:first-child {
			font-size: $medium-font-size;
			width: 100%;
			font-weight: 500;
			padding: 0 0 14px;

			@include media('>=tablet') {
				width: 52%;
				padding: 0;
			}

			span {
				display: inline;
				@include media('>=tablet') {
					font-weight: normal;
					display: block;
					padding: 7px 0 0;
				}
			}
		}
	}

	.name {
		@include media('>=tablet') {
			max-width: 181px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.tiny-text {
		display: block;
		color: $secondary-text-color;
		font-size: $font-size-base;
		padding: 6px 0 0;
	}
}

.campaign-site-main-table {
	padding: 10px 0 41px;
	min-width: 1070px;

	@include media('>=tablet') {
		font-size: $font-size-base;
		padding: 0 0 41px;
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		transition: all $animation-speed;
	}

	.table-head {
		font-size: $font-size-base;
		color: $secondary-text-color;
		font-weight: 500;

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 0 17px;
			font-weight: 500;

			&:last-child {
				justify-content: space-between;
			}
			@include media('>=tablet') {
				padding: 20px 4px 21px;
			}
		}

		.simplebox {
			&.icon-statictics {
				margin: 0 -1px -6px 0;
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		padding: 14px 5px;
		min-height: 62px;

		&:first-child {
			font-weight: 500;
			width: 24.4%;
			padding-left: 0;

			@include media('>=tablet') {
				width: 28.4%;
			}

			.check-all,
			label {
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin: 0 26px 0 0;

				@include media('<tablet') {
					display: none;
				}
			}

			.check-all {
				margin: 0 30px 0 0;
			}
		}

		&:nth-child(2) {
			width: 16%;

			@include media('>=tablet') {
				width: 12%;
			}
		}

		&:nth-child(3) {
			width: 15.8%;

			.sub-cell + .sub-cell {
				@include media('>=desktop') {
					padding-left: 27px;
				}
			}
		}

		&:nth-child(4) {
			width: 21.5%;
		}

		&:nth-child(5) {
			width: 9.5%;
		}

		&:nth-child(6) {
			width: 12.8%;

			.list-inline {
				flex: 1;
				margin: 6px -7px 0 5px;
				text-align: right;
				>li {
					padding: 0;
					text-align: left;
				}

				.list {
					li {
						padding: 0 0 17px;
					}
				}
			}
		}

		@include media('>=tablet') {
			padding: 9px 5px 10px;
			min-height: 84px;
		}

		.sub-cell + .sub-cell {
			padding-left: 17px;
		}
	}

	.table-body {
		.table-row {
			&:last-child {
				border-bottom: none;
			}
		}

		.sub-cell {
			padding: 6px 0 0;
		}
	}

	.table-footer {
		font-weight: 500;
		padding: 5px 0 0;

		.table-row {
			background: $bg-light-gray;
			border-bottom: none;
			border-radius: 5px;
		}

		.table-cell {
			min-height: 0;
			padding: 12px 5px;

			&:first-child {
				font-size: $medium-font-size;
				padding-left: 18px;
			}

			@include media('>=tablet') {
				padding: 12px 5px;
			}
		}
	}

	.status {
		@include flex-horizontal-align;
		white-space: normal;
	}

	.lead,
	.tiny {
		display: block;
	}

	.tiny {
		font-size: $secondary-size-base;
		color: $secondary-text-color;
		padding: 5px 0 0;
	}

	.icon-statictics {
		color: $light-purple;
		font-size: 18px;
		font-weight: normal;
	}
}

.campaign-intro {
	@include flex-horizontal-align;
	white-space: normal;

	.img-box {
		margin: 0 22px 0 2px;
		width: 66px;
		height: 46px;
		border-radius: 4px;
		overflow: hidden;
		position: relative;
		background-size: cover;
		background-position: 50% 50%;
		flex-shrink: 0;

		@include media('>=tablet') {
			width: 70px;
			height: 49px;
		}

		.launch-action {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 22px;
			height: 22px;
			background: $purple;
			color: $white;
			margin: 0;
			transition: background $animation-speed;

			&:hover {
				background: lighten($purple, 5%)
			}
		}
	}

	.campaign-name {
		font-size: $medium-font-size;
		color: $base-text-color;
	}
}