// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

form {
	label,
	.check-all-label {
		position: relative;
		line-height: 1.6;

		.fake-input,
		.check-all {
			position: absolute;
			top: 0;
			left: 0;
		}

		.fake-label {
			display: inline-block;
			vertical-align: top;
			padding-left: 32px;
			cursor: pointer;

			@include media('>=tablet') {
				padding-left: 26px;
			}
		}
	}
}

input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
	//input[type='url'],
	// input[type='date'],
textarea {
	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid $form-element-border-color;
	padding: $form-element-padding;
	color: $base-text-color;
	width: 100%;
	border-radius: 5px;
	display: block;
	height: 45px;
	background: $bg-light-gray;

	// &:hover {

	// }

	&:focus {
		border-color: $form-element-focus-border-color;
	}
}

input[type='password'] {
	font-size: 21px;
	letter-spacing: 3.7px;
	padding: 10px 15px;
}

input[type='search'] {
	@include placeholder {
		color: $placeholder-color;
	}
	border: none;
	padding: 5px 7px 5px 54px;
	outline: none;
	width: 100%;
	height: 48px;
	line-height: 1.2;
	background: $bg-light-gray;
	border-radius: 5px;

	@include media('>=tablet') {
		background: transparent;
		padding: 5px 7px 5px 28px;
		height: 32px;
	}
}

.serach-frame {
	position: relative;

	input[type='search'] {
		@include placeholder {
			color: $placeholder-color;
			font-size: 13px;
			@include media('>=tablet') {
				font-size: 13px;
			}
		}
		background: $bg-light-gray;
		height: 49px;
		font-size: 13px;
		padding-left: 63px;

		@include media('>=tablet') {
			height: 46px;
			font-size: 13px;
			padding-left: 54px;
		}
	}

	.btn-search {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 27px;

		@include media('>=tablet') {
			left: 20px;
		}
	}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

.label {
	display: block;
	font-weight: 500;
	color: $secondary-text-color;
	padding: 0 0 12px;
}


/* custom checkbox and radio styles */
input[type="checkbox"],
input[type="radio"]{
	position:fixed;
	left:-9999px;
	top:0;
	opacity:0;
	z-index: -1;
}

.fake-label {
	cursor: pointer;
}

.fake-input,
.check-all {
	display: inline-block;
	width: 20px;
	height: 20px;
	border:1.5px solid $input-border-color;
	border-radius: 4px;
	vertical-align: middle;
	position: relative;
	margin-right: 12px;

	@include media('>=tablet') {
		width:  18px;
		height: 18px;
		margin-right: 4px;
	}
}

.check-all {
	margin: 0;

	&:before {
		font-family: 'icomoon';
		content:"\e902";
		font-size: 6px;
		color: $purple;
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	&.checked {
		border-color:$purple;
		&:before {
			content:'';
			width: 6px;
			height: 2px;
			background: $purple;
			opacity: 1;
		}
	}

	&.checked-all {
		border-color:$purple;
		&:before {
			content:"\e902";
			font-family: 'icomoon';
			font-size: 6px;
			color: $purple;
			opacity: 1;
		}
	}
}

input[type="radio"] + .fake-input {
	border-width: 2px;
}

input[type=radio] + .fake-input{border-radius:100%;}

input[type="checkbox"] + .fake-input:before{
	content:"\e902";
	font-family: 'icomoon';
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	font-size: 6px;
	color: $purple;
	opacity: 0;
}

input[type="radio"] + .fake-input:before{
	content:'';
	position: absolute;
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	background: $purple;
	border-radius:100%;
	opacity: 0;
}

input[type="checkbox"]:checked + .fake-input {border-color:$purple;}

input[type="radio"]:checked + .fake-input:before,
input[type="checkbox"]:checked + .fake-input:before{opacity:1;}

input[type="radio"]:checked ~ .fake-label,
input[type="checkbox"]:checked ~ .fake-label {font-weight:500;}

input:disabled + .fake-input,
input:disabled ~ .fake-label{opacity: .5;}

.radio-list {
	li {
		&:nth-child(2) {
			label {
				min-width: 97px;
			}
		}
	}

	label {
		color: $secondary-text-color;
		border-radius: 7px;
		border: 2px solid $lines-light-gray;
		display: block;
		padding: 8px 14px;
		min-width: 93px;
		text-align: center;
		cursor: pointer;
		transition: border-color $animation-speed, color $animation-speed;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
			min-width: 86px;
		}
	}

	input[type="radio"]:checked + label {
		border-color: $purple;
		color: $purple;
		font-weight: 500;
	}
}


/* switch input styles */


.switch-frame {
	@include flex-horizontal-align;
	justify-content: space-between;

	&.mob-reverse {
		@include media('<tablet') {
			flex-direction: row-reverse;
			align-items: flex-start;
		}

		.switch {
			@include media('<tablet') {
				margin: 0 0 0 23px;
			}
		}
	}

	&.lead {

		.fake-switch-label {
			font-size: $medium-font-size;

			@include media('>=tablet') {
				font-size: $medium-font-size;
			}
		}
	}

	@include media('>=tablet') {
		justify-content: flex-start;
	}

	.switch {
		margin: 0 12px 0 0;
	}

	.fake-switch-label {
		font-weight: 500;
		font-size: $medium-font-size;
		flex: 1 0;

		&.base-color {
			color: $base-text-color;
		}

		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}

	.fake-switch-label + .icon-info-icon {
		margin: 0 0 0 1px;
	}

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.clickable-switch {
		@include flex-horizontal-align;
		cursor: pointer;

		&.mob-reverse {
			@include media('<tablet') {
				flex-direction: row-reverse;
				align-items: flex-start;
				width: 100%;
			}

			.switch {
				@include media('<tablet') {
					margin: 0 0 0 5px;
				}
			}
		}

		&.mob-tablet-reverse {
			@include media('<desktop') {
				flex-direction: row-reverse;
				align-items: flex-start;
				width: 100%;
			}

			.switch {
				@include media('<desktop') {
					margin: 0 0 0 5px;
				}
			}
		}
	}

	input[type="checkbox"]:checked + .slider,
	input[type="checkbox"]:checked + .switch .slider {
		background-color: $purple;
	}

	input[type="checkbox"]:focus + .slider,
	input[type="checkbox"]:focus + .switch .slider {
		box-shadow: 0 0 1px $purple;
	}

	input[type="checkbox"]:checked + .slider .circle,
	input[type="checkbox"]:checked + .switch .slider .circle {
		background: $white;
		transform: translateX(12px);

		@include media('>=tablet') {
			transform: translateX(11px);
		}
	}

	input[type="checkbox"]:checked + .slider .circle:before,
	input[type="checkbox"]:checked + .switch .slider .circle:before {
		background: $purple;
	}

	.fake-switch-label {
		color: $secondary-text-color;
		&.on {
			color: $base-text-color;
			display: none;
		}
	}

	input[type="checkbox"]:checked ~ .fake-switch-label {
		&.on {
			display: block;
		}

		&.off {
			display: none;
		}
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 20px;

	@include media('>=tablet') {
		width: 27px;
		height: 16px;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $lines-light-gray;
		border-radius: 18px;
		transition: all $animation-speed;

		.circle {
			position: absolute;
			height: 11px;
			width: 11px;
			left: 5px;
			bottom: 5px;
			background: $secondary-text-color;
			transition: all $animation-speed;
			border-radius: 50%;

			&:before{
				content: "";
				position: absolute;
				top: 3px;
				left: 3px;
				right: 3px;
				bottom: 3px;
				border-radius: 50%;
				background: $lines-light-gray;
				transition: all $animation-speed;

				@include media('>=tablet') {
					top: 2px;
					left: 2px;
					right: 2px;
					bottom: 2px;
				}
			}

			@include media('>=tablet') {
				height: 8px;
				width: 8px;
				left: 4px;
				bottom: 4px;
			}
		}
	}
}

/* input with currency styles */

.input-has-currency {
	position: relative;

	.currency {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 11px;
		color: $secondary-text-color;
	}

	input[type='text'],
	input[type='number'],
	input[type='tel'],
	input[type='email'],
	input[type='search'],
	input[type='password'] {
		width: 100%;
		padding-right: 20px;
	}
}

/* custom file upload styles */
.custom-file-upload {
	@include flex-central-align;
	text-align: center;
	flex-flow: column nowrap;
	cursor: pointer;
	border: 3px dashed $secondary-light-gray;
	border-radius: 18px;
	padding: 6px 26px;
	min-width: 310px;
	max-width: 395px;
	width: 100%;
	min-height: 193px;
	font-weight: 500;
	font-size: $medium-font-size;
	line-height: 1.4;
	margin: 0 0 22px;
	transition: background $animation-speed;

	&.dashed-bordered {
		border-style: dashed;
		@include media('>=tablet') {
			border-style: dashed;
			border-width: 3px;
		}
	}

	&:hover {
		background: rgba($lines-light-gray, 0.25);
	}

	@include media('>=tablet')  {
		justify-content: flex-end;
		padding-bottom: 20px;
		width: 100%;
		max-width: none;
		height: 260px;
		border: 10px solid $secondary-light-gray;
		border-radius: 25px;
		color: $base-text-color;
		margin: 0 0 24px;
		text-align: center;
		line-height: 1.5;
	}

	input[type="file"] {
		position:fixed;
		left:-9999px;
		top:0;
		opacity:0;
		z-index: -1;
	}

	img {
		margin: 0 0 21px;
		@include media('>=tablet') {
			margin: 0 0 19px;
			width: 75px;
		}
	}

	.help-text {
		max-width: 385px;
		font-size: $font-size-base;
		color: $secondary-text-color;
		padding: 12px 0 0;
		line-height: 1.4;
		font-weight: normal;

		@include media('>=tablet') {
			padding: 27px 0 0;
			font-size: $secondary-size-base;
		}
	}
}

.inline-file-upload {
	color: $purple;
	font-size: $font-size-base;
	cursor: pointer;

	input[type="file"] {
		position:fixed;
		left:-9999px;
		top:0;
		opacity:0;
		z-index: -1;
	}
}

.upload-btn {
	input[type="file"] {
		position:fixed;
		left:-9999px;
		top:0;
		opacity:0;
		z-index: -1;
	}
}

.add-document {
	@include flex-central-align;
	cursor: pointer;
	flex-flow: column nowrap;
	width: 100%;
	min-height: 141px;
	font-weight: 500;
	font-size: $lg-font-size;

	&:hover {
		@include media('>=tablet') {
			background: rgba($lines-light-gray, 0.2);
			color: $purple;
		}
	}

	@include media('>=600px') {
		min-height: 124px;
		width: calc(50% - 28px);
		margin: 0 14px;
	}

	@include media('>=tablet') {
		border: 6px solid $lines-light-gray;
		border-radius: 18px;
		font-size: $secondary-size-base;
		transition: color $animation-speed, background $animation-speed;
	}

	@include media('>=desktop') {
		width: calc(33.33% - 28px);
		margin: 0 14px 28px;
	}

	@include media('>=widescreen') {
		width: calc(25% - 28px);
	}

	@include media('>=1500px') {
		width: 290px;
	}

	input[type="file"] {
		position:fixed;
		left:-9999px;
		top:0;
		opacity:0;
		z-index: -1;
	}

	img {
		margin: 0 0 15px;

		@include media('>=600px') {
			margin: 0 0 20px;
		}
	}
}

.add-item {
	cursor: pointer;

	input[type="file"] {
		position:fixed;
		left:-9999px;
		top:0;
		opacity:0;
		z-index: -1;
	}
}

.input-group {
	.help-text {
		font-size: $secondary-size-base;
		padding: 10px 0 0 2px;
	}
}