@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y2dtj3');
  src:  url('../fonts/icomoon.eot?y2dtj3#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?y2dtj3') format('truetype'),
  url('../fonts/icomoon.woff?y2dtj3') format('woff'),
  url('../fonts/icomoon.svg?y2dtj3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sorting2:before {
  content: "\e926";
}
.icon-thin-check:before {
  content: "\e916";
}
.icon-clock:before {
  content: "\e937";
}
.icon-import:before {
  content: "\e92f";
}
.icon-dublicate:before {
  content: "\e908";
}
.icon-directions:before {
  content: "\e93a";
}
.icon-del-bt:before {
  content: "\e921";
}
.icon-edit-btn:before {
  content: "\e925";
}
.icon-actions-btn:before {
  content: "\e91f";
}
.icon-archive-action:before {
  content: "\e922";
}
.icon-area-on-a-map:before {
  content: "\e923";
}
.icon-back-small-arrow:before {
  content: "\e924";
}
.icon-cost-icon:before {
  content: "\e927";
}
.icon-list:before {
  content: "\e92c";
}
.icon-list-view:before {
  content: "\e92d";
}
.icon-map-pin:before {
  content: "\e92e";
}
.icon-night-bid:before {
  content: "\e930";
}
.icon-OTS:before {
  content: "\e931";
}
.icon-pause-action:before {
  content: "\e932";
}
.icon-radius-map:before {
  content: "\e933";
}
.icon-star:before {
  content: "\e935";
}
.icon-table-view:before {
  content: "\e936";
}
.icon-thin-close:before {
  content: "\e92a";
}
.icon-dock:before {
  content: "\e93c";
}
.icon-actions2:before {
  content: "\e91a";
}
.icon-icon_1:before {
  content: "\e919";
}
.icon-table_2:before {
  content: "\e91d";
}
.icon-thin-arrow:before {
  content: "\e91e";
}
.icon-geo:before {
  content: "\e93e";
}
.icon-geo-crossed:before {
  content: "\e941";
}
.icon-list1:before {
  content: "\e942";
}
.icon-arrow1:before {
  content: "\e93d";
}
.icon-code:before {
  content: "\e913";
}
.icon-star-fill:before {
  content: "\e939";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-balance-header:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-chevron:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-costs-sumary:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-eye:before {
  content: "\e92b";
}
.icon-filter:before {
  content: "\e91c";
}
.icon-icon-OTS:before {
  content: "\e909";
}
.icon-info-icon:before {
  content: "\e90a";
}
.icon-menu-help:before {
  content: "\e90b";
}
.icon-menu-list:before {
  content: "\e90c";
}
.icon-menu-users:before {
  content: "\e90e";
}
.icon-nav-menu2:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-price:before {
  content: "\e911";
}
.icon-profile-header:before {
  content: "\e912";
}
.icon-refresh:before {
  content: "\e920";
}
.icon-save:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
}
.icon-sorting3:before {
  content: "\e928";
}
.icon-drag-dots:before {
  content: "\e93b";
}
.icon-sorting-aroow:before {
  content: "\e93f";
}
.icon-link:before {
  content: "\e940";
}
.icon-statictics:before {
  content: "\e943";
}
.icon-change:before {
  content: "\e934";
}
.icon-calendar:before {
  content: "\e917";
}
.icon-thin-chevron:before {
  content: "\e918";
}
.icon-launch-action:before {
  content: "\e938";
}
.icon-close-medium:before {
  content: "\e91b";
}
.icon-eye2:before {
  content: "\e90d";
}
.icon-companies:before {
  content: "\e907";
}
.icon-daily-bis:before {
  content: "\e929";
}
