// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: $headings-font-family;
	font-weight: 500;
	margin: 0 0 0.5em;
	color: $headings-color;
}

h1, .h1 {
	font-size: $h1-font-size;

	@include media('>=tablet') {
		font-size: 21px;
	}
}

h2, .h2 {
	font-weight: normal;
	font-size: $h2-font-size;

	@include media('>=tablet') {
		font-size: 18px;
	}
}

h3, .h3 {
	font-size: $h3-font-size;
	font-weight: 500;
	@include media('>=tablet') {
		font-size: 14px;
		margin: 0 0 21px;
	}
}

h4, .h4 {
	font-size: $h4-font-size;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 27px;
}

a {
	color: $base-link-color;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $base-text-color;
	}
}