// Colors

$gray: #8191af;
$light-gray: #f9faff;
$secondary-light-gray: #dce5f4;
$third-light-gray: #F6F7FD;
$lighter-gray: #eaeff8;
$black: #333;
$white: #fff;
$dark-purple: #221c55;
$purple: #5a4bc9;
$light-purple: #687897;
$light-red: #f07255;
$green: #008985;

$input-border-color: #bdc6d7;
$lines-light-gray: $lighter-gray;
$bg-light-gray: $light-gray;
$text-black: $dark-purple;

$base-font-sans-serif: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $text-black !default;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;
$base-font-weight: normal;

$secondary-text-color: $light-purple;
$secondary-size-base: 13px;
$medium-font-size: 15px;
$lg-font-size: 16px;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $purple;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 5px 15px !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $lighter-gray !default;
$form-element-focus-border-color: $lighter-gray !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 22px !default;
$h2-font-size: 16px !default;
$h3-font-size: 14px !default;
$h4-font-size: 14px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;

$sm-border-radius: 6px;
$base-border-radius: 8px;
$lg-border-radius: 11px;