.action-window {
  min-height: calc(100vh - 128px);
  position: relative;
  padding: 0 0 136px;

  &.without-btn {
    padding-bottom: 20px;
    @include media('>=tablet') {
      padding-bottom: 20px;
    }
  }

  &.one-button {
    @include media('<tablet') {
      padding: 0 0 80px;
    }
  }

  &.site-page-steps {

    &.one-button {
      .button-frame {
        border-top: none;
        padding-bottom: 0;
      }
    }

    .form-row {
      padding: 35px 0 26px;

      &:first-of-type {
        padding-top: 0;
        @include media('>=tablet') {
          padding-top: 2px;
        }
      }

      @include media('>=tablet') {
        padding: 48px 0 52px;
      }
    }

    .form-row + .form-row {
      border-top: 1px solid $lines-light-gray;
    }

    .button-frame {
      border-top: none;
    }

    .help-text {
      font-size: $medium-font-size;

      @include media('>=tablet') {
        font-size: $secondary-size-base;
      }
    }

    .custom-file-upload {
      @include media('<tablet') {
        min-height: 262px;
      }

      .help-text {
        @include media('<tablet') {
          font-size: $font-size-base;
        }
      }
    }

    .time-table-caption,
    .geography-frame-caption {
      padding: 0 0 34px;

      @include media('>=tablet') {
        padding: 2px 0 30px;
      }
    }
  }

  @include media('>=tablet') {
    min-height: calc(100vh - 190px);
    padding: 0 0 90px;
  }

  h2, .h2 {
    margin: 0 0 27px;

    &.mb-sm-tablet {
      margin: 0 0 7px;
      @include media('>=tablet') {
        margin: 0 0 22px;
      }
    }

    &.mob-mb-sm {
      @include media('<tablet') {
        margin: 0 0 7px;
      }
    }

    @include media('>=tablet') {
      margin: 0 0 41px;
    }
  }

  h2 + .form-row,
  .h2 + .form-row {
    @include media('>=tablet') {
      padding-top: 2px;
    }
  }

  .button-frame {
    @include flex-horizontal-align;
    position: absolute;
    left: 0;
    width: calc(100% + 60px);
    bottom: 0;
    margin: 0 -30px;
    padding: 26px 30px 47px;
    border-top: 1px solid $secondary-light-gray;

    &.edit-page {
      @include media('<tablet') {
        padding-bottom: 70px;
      }

      .btn {
        &.btn-green {
          @include media('<tablet') {
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 0;
          }
        }
      }
    }

    @include media('>=tablet') {
      margin: 0;
      padding: 0;
      width: 100%;
      bottom: 24px;
      justify-content: space-between;
      border-top: none;
    }

    .btn-holder {
      @include flex-horizontal-align;

      &:only-child {
        width: 100%;
      }
    }

    .btn-holder + .btn-holder {
      @include media('<tablet') {
        flex: 1 0;
      }
    }

    .link {
      font-size: $lg-font-size;
      font-weight: 500;
      color: $base-text-color;
      transition: color $animation-speed;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;

      @include media('>=tablet') {
        font-size: $font-size-base;
        margin: 0 33px;
        position: static;
        transform: translateX(0);
      }

      &:hover {
        color: $base-link-color;
      }
    }

    .btn,
    .submit {

      &:only-child {
        @include media('<tablet') {
          width: 100%;
        }
      }

      @include media('<tablet') {
        flex: 1 0;
        font-size: $lg-font-size;
      }

      &.has-plus,
      &.has-checkmark {
        &:before {
          @include media('<tablet') {
            display: none;
          }
        }
      }
    }

    .btn + .btn,
    .submit + .btn {
      @include media('>=tablet') {
        margin: 0 0 0 18px;
      }
    }

    .step-back {
      margin: 0 12px 0 0;

      @include media('>=tablet') {
        font-size: $medium-font-size;
      }
    }
  }

  label:not(.custom-file-upload),
  .label:not(.custom-file-upload) {
    padding: 0 0 7px;
    font-size: $medium-font-size;

    @include media('>=tablet') {
      font-size: $font-size-base;
    }
  }

  .radio-col {
    padding: 9px 0 0;
    @include media('>=tablet') {
      @include flex-horizontal-align;
      padding: 8px 0 0;
    }

    .help-text {
      line-height: 1.45;
      @include media('>=tablet') {
        flex: 1 0;
      }

      @include media('>=desktop') {
        padding: 0 12px 0 0;
      }
    }
  }

  .radio-list {
    label, .label {
      padding: 7px 15px;
    }
  }

  input[type='text'],
  input[type='number'],
  input[type='tel'],
  input[type='email'],
  input[type='search'],
  input[type='password'],
  textarea {
    font-size: $medium-font-size;
    padding: 5px 15px;
  }

  .form-row {
    padding: 0 0 38px;

    &:first-child {
      @include media('>=tablet') {
        padding: 16px 0 49px;
      }
    }

    @include media('>=tablet') {
      padding: 46px 0;
    }

    .input-group + .label,
    .input-group + label {
      padding-top: 32px;

      @include media('>=tablet') {
        padding-top: 38px;
      }
    }

    .geography-row {
      &:last-child {
        padding-bottom: 11px;
        @include media('>=tablet') {
          padding-bottom: 0;
        }
      }
    }
  }

  .form-row + .form-row {
    @include media('>=tablet') {
      border-top: 1px solid $lines-light-gray;
    }
  }

  .impression-options-form {
    .form-row {
      padding: 30px 0 29px;

      &:first-child {
        padding: 20px 0 4px;
        @include media('>=tablet') {
          padding: 16px 0 29px;
        }
      }

      @include media('>=tablet') {
        padding: 42px 0;
      }
    }

    .form-row + .form-row {
      border-top: 1px solid $lines-light-gray;
    }

    .switch-frame {
      padding: 8px 0 13px;
    }
  }

  .upload-video-form {
    padding: 16px 0 0;

    .form-row {
      max-width: 733px;
      padding: 0;

      &:last-child {
        @include media('>=tablet') {
          padding: 0 0 17px;
        }
      }

      @include media('>=tablet') {
        padding: 0 0 106px;
        border: none;
      }
    }

    .form-row + .form-row {
      border: none;
      @include media('<tablet') {
        border-top: 1px solid $lines-light-gray;
        padding-top: 38px;
      }
    }

    .two-column {
      .col {
        &:first-child {
          .simplebox {
            @include media('<tablet') {
              font-size: $font-size-base;
            }
          }
        }
      }

      h3 {
        color: $secondary-text-color;
      }

      .simplebox {
        font-size: $medium-font-size;
        @include media('>=tablet') {
          font-size: $font-size-base;
        }
      }
    }

    .custom-file-upload {
      font-size: $medium-font-size;
      font-weight: 500;
      padding: 11px 5px 5px;
      justify-content: center;

      @include media('>=tablet') {
        justify-content: center;
        font-size: $secondary-size-base;
        font-weight: normal;
        padding: 9px 5px 5px;
        width: 398px;
      }

      img {
        margin: 0 0 18px;
        @include media('>=tablet') {
          margin: 0 0 33px;
        }
      }
    }
  }

  .add-video-form {
    padding: 12px 0 0;

    .form-row {
      padding-bottom: 33px;


      &:first-child {
        padding: 0 0 36px;
        @include media('>=tablet') {
          padding-bottom: 43px;
        }
      }

      @include media('<tablet') {
        padding: 35px 0;
      }
    }

    .form-row + .form-row {
      border-top: 1px solid $secondary-light-gray;
    }

    h2 {
      @include media('<tablet') {
        margin: 0 0 22px;
        font-size: 18px;
      }
    }

    .default-radio-list {
      padding: 8px 0 24px;
      @include media('>=tablet') {
        padding: 11px 0 48px;
      }

      label, .label {
        font-size: $font-size-base;
      }
    }

    .custom-file-upload {
      width: 100%;
      max-width: none;
      font-size: $medium-font-size;
      line-height: 1.4;
      text-align: center;
      height: auto;
      min-height: 257px;
      padding: 21px 15px 15px;

      @include media('>=tablet') {
        justify-content: flex-end;
        padding-bottom: 22px;
        min-height: 260px;
      }

      img {
        margin: 0 0 21px;
        @include media('>=tablet') {
          width: 78px;
          margin: 0 0 22px;
        }
      }

      .help-text {
        font-size: $font-size-base;
        font-weight: normal;
        max-width: 385px;
        padding: 12px 0 0;
        line-height: 1.3;

        @include media('>=tablet') {
          font-size: $secondary-size-base;
          line-height: 1.4;
          padding: 30px 0 0;
        }
      }
    }

    .button-frame {
      @include media('<tablet') {
        padding: 0 30px;
        border: none;
      }

      .btn-holder {
        @include media('<tablet') {
          display: block;
          width: 100%;
        }
      }

      .btn {
        font-size: $font-size-base;
        min-width: 118px;
        width: 100%;
        @include media('>=tablet') {
          font-size: $font-size-base;
          width: auto;
        }
      }
    }
  }

  .payment-radio-row + .form-row {
    padding: 0 0 30px;

    .help-text {
      padding-top: 12px;
    }
  }

  .switch-frame {
    padding: 0 9px 5px 0;

    &.lead {
      @include media('>=tablet') {
        padding-top: 12px;
      }
    }

    &.payment-switch {
      padding: 12px 0;
      @include media('<tablet') {
        padding: 12px 9px 10px 0;
      }

      .clickable-switch {
        @include media('<tablet') {
          flex-direction: row-reverse;
          justify-content: space-between;
          width: 100%;
        }
      }

      .fake-switch-label {
      }

      .switch {
        @include media('<tablet') {
          margin: 0 0 0 10px;
        }
      }
    }

    @include media('>=tablet') {
      padding: 0 0 12px 3px;
    }

    .fake-switch-label {
      color: $base-text-color;
      font-weight: $base-font-weight
    }

    input[type="checkbox"]:checked ~ .fake-switch-label {
      font-weight: 500;
    }
  }

  .input-group + .switch-frame {
    padding-top: 36px;
  }

  .help-text {
    line-height: 1.6;
    display: block;
    color: $secondary-text-color;

    @include media('>=tablet') {
      max-width: 400px;
    }
  }

  .uploaded-video-block + .help-text {
    @include media('>=tablet') {
      max-width: none;
    }
  }

  .total-block {
    .submit {
      padding: 21px 15px;
      width: 100%;

      @include media('>=tablet') {
        padding: 21px 15px;
        width: 100%;
      }
    }
  }

  .edit-banner-panel {
    .label, label {
      padding: 0 0 8px;
      font-size: $font-size-base;
      font-weight: normal;
      @include media('>=tablet') {
        padding: 0 0 5px;
        font-size: $secondary-size-base;
      }
    }

    input {
      padding: 5px 10px;
      font-size: $medium-font-size;

      @include media('>=tablet') {
        font-size: $secondary-size-base;
      }
    }
  }

  .time-table-caption + .btn-list {
    margin: 0 -15px 12px;

    @include media('<tablet') {
      white-space: nowrap;
      overflow: auto;
      margin: 0 -28px 30px -10px;
    }

    li {
      padding: 0 2px;
      display: inline-block;
      vertical-align: top;

      &.active {
        .simple-btn {
          color: $purple;
          background: $bg-light-gray;
        }
      }

      @include media('>=tablet') {
        padding: 0 7px;
      }
    }
  }

  .actions-client-form {
    .switch-frame {
      padding: 48px 13px 0 0;

      @include media('>=tablet') {
        padding: 33px 0 0;
      }
    }

    .button-frame {
      border-top: none;
      @include media('<tablet') {
        padding: 0 30px;
      }
    }
  }

  .select-row {

    .open-close-title {
      display: block;
      color: $gray;
      font-size: $medium-font-size;
      font-weight: 500;
      padding: 0 0 10px;

      @include media('>=tablet') {
        font-size: $font-size-base;
        padding: 0 0 12px;
      }
    }
  }

  .transfer-total-form {
    .form-row {
      padding: 0;
    }
  }

  .add-payment-form {
    .input-group + .switch-frame {
      padding-top: 42px;
    }

    .button-frame {
      border-top: none;
      @include media('<tablet') {
        padding: 0 30px;
      }
    }
  }

  .user-form {
    .switch-frame {
      padding: 10px 0 0;
    }

    .select-row {
      .open-close-title {
        @include media('<tablet') {
          padding: 0 0 5px;
        }
      }
    }

    .button-frame {
      border-top: none;
      padding-bottom: 0;
    }
  }

  .custom-file-upload {
    .help-text {
      @include media('<tablet') {
        line-height: 1.4;
      }
    }
  }

  .video-link-block {
    @include media('>=tablet') {
      font-size: $font-size-base;
    }
  }

  .video-link-block + .switch-frame {
    padding: 32px 0 0;

    @include media('>=tablet') {
      padding: 17px 0 0;
    }
  }

  .open-close {
    .slide {
      .serach-frame {
        padding: 0 0 15px;

        input[type='search'] {
          height: 46px;
          font-size: 13px;
          padding-left: 54px;
        }

        .btn-search {
          padding: 0;
          left: 13px;
          top: 52%;
          font-size: 16px;
          width: auto;
          @include media('>=tablet') {
            left: 13px;
          }
        }
      }
    }
  }

  h2 + .step-subtitle,
  .h2 + .step-subtitle {
    margin: -18px 0 35px;

    @include media('>=tablet') {
      margin: -32px 0 40px;
    }
  }

  .switch-group {
    padding: 43px 0 0;

    @include media('>=tablet') {
      padding: 38px 0 0;
    }

    .switch-frame {
      padding: 0 0 0 9px;
      @include media('>=tablet') {
        padding: 0 0 5px 3px;
      }

      .clickable-switch {
        @include media('>=tablet') {
          padding: 0;
        }
      }
    }
  }

  .banners-frame {

    .tabs-label {
      @include flex-central-align;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-align: center;
      color: $secondary-text-color;
      padding: 9px 25px;
      transition: font-weight $animation-speed, color $animation-speed, background $animation-speed;

      @include media('>=desktop') {
        flex-flow: column nowrap;
        justify-content: space-between;
        font-size: 12px;
        padding: 10px 3px;
        width: 58px;
        height: 58px;
        border-radius: $base-border-radius;
      }

      i {
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        margin: 0 12px 0 0;
        color: $input-border-color;
        transition: color $animation-speed;

        &.icon-map-pin {
          font-size: 23px;

          @include media('>=desktop') {
            font-size: 17px;
          }
        }

        @include media('>=desktop') {
          display: block;
          margin: 0 0 5px;
          min-height: 17px;
        }
      }
    }
  }
}

.switch-group {

  &.small {
    @include media('>=tablet') {
      max-width: 290px;
    }
  }
}

.action-caption {
  @include flex-horizontal-align;
  padding: 6px 0 34px;

  &.has-btn-back {
    display: block;
    padding: 11px 0 35px;

    @include media('>=tablet') {
      padding: 16px 0 78px;
    }
  }

  &.caption-pb-md {
    padding-bottom: 25px;
    @include media('>=tablet') {
      padding-bottom: 53px;
    }
  }

  &.has-steps {
    display: block;
    padding: 16px 0 37px;

    @include media('>=tablet') {
      padding: 16px 0 62px 2px;
    }

    @include media('>=desktop') {
      @include flex-horizontal-align;
      justify-content: space-between;
    }

    .action-title {
      padding: 0 0 26px;
      @include media('>=desktop') {
        padding: 0;
      }
    }
  }

  &.mob-arrow-btn-back {
    padding: 15px 0 21px;

    @include media('>=tablet') {
      padding: 24px 0 53px 4px;
    }

    .action-title {
      @include media('>=tablet') {
        flex-direction: row;
        justify-content: flex-start;
      }

      .back-button {
        margin: 0 17px 0 0;

        &:before {
          @include media('<tablet') {
            content: "\e91e";
            position: static;
            transform: translate(0, 0);
          }
        }

        @include media('<tablet') {
          border-radius: 0;
          color: $base-text-color;
          margin: 0 12px 0 0;
          background: transparent;
          width: auto;
          height: auto;
          font-size: 17px;
        }
      }
    }
  }

  @include media('>=tablet') {
    padding: 16px 0 61px 4px;
  }
}

.action-caption.has-steps + .action-form {
  padding-top: 19px;

  @include media('>=tablet') {
    padding-top: 16px;
  }
}

.action-title {
  @include flex-horizontal-align;
  justify-content: space-between;

  @include media('>=tablet') {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  h1, .h1,
  h2, .h2 {
    margin: 0;
  }

  .back-button {
    margin: 0 17px 0 0;

    &:before {
      @include media('<tablet') {
        content: "\e91b";
        position: static;
        transform: translate(0, 0);
      }
    }

    @include media('<tablet') {
      border-radius: 0;
      color: $base-text-color;
      margin: 0;
      background: transparent;
      width: auto;
      height: auto;
      font-size: 17px;
    }
  }
}

.step-frame {
  margin: 0 -9px;

  @include media('>=tablet') {
    padding: 6px 0 0 15px;
  }

  @include media('>=desktop') {
    margin: 0 -10px 0 0;
  }
}

.step-subtitle {
  display: block;
  color: $secondary-text-color;
  line-height: 1.5;
}

.input-group + .select-group {
  padding: 25px 0 0;

  @include media('>=tablet') {
    padding: 30px 0 0;
  }
}

.select-group {

  .open-close-title {
    display: block;
    font-size: $medium-font-size;
    font-weight: 500;
    color: $secondary-text-color;
    padding: 0 0 10px;

    @include media('>=tablet') {
      font-size: $font-size-base;
    }
  }

  .open-close {

    &.select-company {
      .slide {
        padding: 5px 10px;

        .top-lead-link {
          border-bottom: 1px solid $secondary-light-gray;
          margin: 0 -10px 5px;
          padding: 14px 19px;

          a {
            color: $base-text-color;

            &:hover {
              color: $base-link-color;
            }
          }
        }

        .list {
          li {
            padding: 9px 9px;
            margin: 0 0 2px;
            border-radius: 5px;
            transition: background $animation-speed;

            &:hover,
            &.selected {
              background: $third-light-gray;
            }

            a {
              color: $base-text-color;
            }
          }
        }
      }
    }

    .opener {
      font-size: $medium-font-size;
      @include media('>=tablet') {
        font-size: $medium-font-size;
      }
    }
  }
}

.select-group + .input-group {
  padding: 10px 0 15px;

  @include media('>=tablet') {
    padding: 13px 0 0;
  }
}

.select-group + .custom-file-upload {
  margin: 27px 0 18px;

  @include media('>=tablet') {
    margin: 31px 0 6px;
  }
}

.select-group + .uploaded-video-block {
  margin: 17px 0 45px;

  @include media('>=tablet') {
    margin: 32px 0 0;
  }
}

.rate-form {
  padding: 13px 0 20px;

  &.has-edit-panel {
    .button-frame {
      @include media('<tablet') {
        bottom: -16px;
      }
    }
  }

  @include media('>=tablet') {
    padding: 0 0 60px;
  }
}

.impression-options-form {

  .switch-frame {
    padding: 0 0 24px;

    .switch {
      margin: 0;

      @include media('>=tablet') {
        margin: 0 15px 0 0;
      }
    }

    .fake-switch-label {
      font-size: $font-size-base;
    }
  }

  .input-group {
    input[type='text'],
    input[type='number'],
    input[type='tel'],
    input[type='email'],
    input[type='search'],
    input[type='password'] {
      margin: 0 0 12px;

      @include media('>=tablet') {
        margin: 0 0 9px;
      }
    }
  }

  .help-text {
    max-width: 300px;
    @include media('>=tablet') {
      font-size: 12px;
    }
  }
}


.datepicker-group {
  max-width: 367px;
  padding: 6px 0 0;

  @include media('>=tablet') {
    @include flex-horizontal-align;
    margin: 0 -5px;
    padding: 0 0 0 5px;
  }

  .datepicker-col {
    padding: 0 0 5px;

    @include media('>=tablet') {
      width: 50%;
      padding: 0 5px;
    }

    .datepicker-label {
      font-size: $font-size-base;
      font-weight: 500;
      padding: 0 0 10px;
    }
  }

  .datepicker-open-close {
    @include flex-horizontal-align;

    @include media('>=widescreen') {
      width: auto;
    }

    .selected-date {
      @include flex-horizontal-align;
      width: 100%;
      min-width: 0;
      padding: 0;

      &.selected {
        font-weight: 500;

        .btn-remove {
          display: inline-block;
        }
      }

      @include media('<tablet') {
        @include flex-horizontal-align;
        justify-content: space-between;
      }

      .icon-calendar {
        padding: 0 10px 0 0;

        @include media('>=tablet') {
          padding: 0 7px 0 0;
        }
      }

      .date {
        font-size: $medium-font-size;
      }
    }

    .btn-remove {
      width: 23px;
      height: 23px;
      line-height: 23px;
      margin: 0 0 0 3px;
      display: none;
      background: $secondary-light-gray;
      color: $secondary-text-color;
      vertical-align: middle;
      font-size: 9px;

      @include media('>=tablet') {
        width: 17px;
        height: 17px;
        line-height: 17px;
        margin: 0 0 0 8px;
        background: $lines-light-gray;
        font-size: 7px;
      }
    }
  }
}

.time-table-caption,
.geography-frame-caption {
  padding: 0 0 31px;

  @include media('>=tablet') {
    padding: 11px 0 28px;
  }

  h2, .h2 {
    margin: 0 0 10px;
    @include media('>=tablet') {
      margin: 0 0 10px;
    }
  }

  .simplebox,
  .link {
    font-size: $medium-font-size;
    font-weight: 500;
    @include media('>=tablet') {
      font-size: $secondary-size-base;
    }
  }
}

.form-group {
  padding: 52px 0 0;

  &.has-select {
    padding: 0;
    @include media('>=tablet') {
      padding: 0 0 6px;
    }

    .input-col {
      padding: 0 0 18px;

      &:first-child {
        @include media('>=tablet') {
          max-width: 212px;
        }
      }

      &:last-child {
        @include media('<tablet') {
          padding-bottom: 9px;
        }
      }

      @include media('>=tablet') {
        width: auto;
        flex: 1 0;
        padding: 0 14px;
      }
    }
  }

  @include media('>=tablet') {
    display: flex;
    margin: 0 -14px;
  }

  .input-col,
  .datepicker-col {
    padding: 0 0 24px;
    &:only-child {
      @include media('>=tablet') {
        width: 100%;
      }
    }
    @include media('>=tablet') {
      width: 50%;
      padding: 0 14px;
    }

    input {
      margin: 0 0 7px;
    }
  }

  label {
    font-weight: 500;
  }

  .input-has-currency {
    .currency {
      right: 15px;
    }
  }

  .help-text {
    font-size: $font-size-base;
    @include media('>=tablet') {
      font-size: 12px;
    }

    dl {
      margin: 0;

      dt, dd {
        display: inline-block;
        vertical-align: top;
        margin: 0;
      }

      .lead {
        margin: 0 11px 0 0;
        color: $purple;

        @include media('>=tablet') {
          margin: 0 8px 0 0;
        }
      }
    }
  }
}

.total-help-text {
  line-height: 1.75;
  color: $secondary-text-color;

  @include media('>=tablet') {
    line-height: 1.6;
    font-size: 12px;
    width: 90%;
  }
}

.step-action-buttons {
  @include flex-central-align;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $bg-light-gray;
  padding: 26px 29px 78px;


  @include media('>=tablet') {
    justify-content: space-between;
    background: none;
    position: static;
    padding: 52px 0 0;
  }

  .btn {
    margin: 0 0 0 17px;

    &.btn-green-border {
      @include media('<tablet') {
        border: none;
        padding: 0;
        min-width: 0;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
      }
    }

    &.btn-has-arrow {
      padding-right: 10px !important;

      &:after {
        position: static;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 18px;
      }

      @include media('<tablet') {
        min-width: 248px;
      }
    }

    @include media('>=tablet') {
      margin: 0 0 0 19px;
    }
  }
}

.switch-label-group {

  .input-group {
    @include media('>=tablet') {
      @include flex-horizontal-align;
    }

    .input-has-currency,
    input[type='text']{
      @include media('>=tablet') {
        width: 105px;
      }
    }

    .help-text {
      padding: 0 0 10px;

      @include media('>=tablet') {
        padding: 0 0 0 20px;
        max-width: 215px;
      }
    }
  }
}

.switch-label-group + .switch-label-group {
  padding: 28px 0 0;

  @include media('>=tablet') {
    padding: 43px 0 0;
  }
}