.chart-frame {
	display: flex;
	flex-wrap: wrap;
	padding: 16px 0 50px;

	@include media('>=tablet')  {
		padding: 22px 0 47px;
	}

	.report-box {
		width: 69%;

		@include media('>=tablet') {
			display: flex;
			align-items: flex-start;
		}
		@include media('>=desktop') {
			width: calc(100% - 100px);
			order: 1;
			padding: 0 10px 0 0;
		}

		@include media('>=widescreen') {
			padding: 0;
			width: 90%;
		}

		h1 {
			margin: 0;
		}

		.btn-back {
			margin: 0 19px 0 0;

			@include media('<tablet') {
				background: transparent;
			}
		}

		.open-close-title {
			font-size: 22px;
			font-weight: 500;
			display: block;
			color: $base-text-color;
			padding: 0 0 7px;

			@include media('>=tablet') {
				font-size: 21px;
				padding: 0 7px 0 0;
			}
		}

		.open-close {
			.opener {
				color: $base-text-color;
				font-size: 22px;
				font-weight: normal;

				&.has-arrow {
					&:after {
						@include media('<tablet') {
							margin: 0 0 0 10px;
							font-size: 5px;
						}
					}
				}

				@include media('>=tablet') {
					font-size: 21px;
				}
			}

			.slide {
				min-width: 345px;
				padding: 29px 27px;
				@include media('>=tablet') {
					left: 0;
					min-width: 328px;
					font-size: $medium-font-size;
				}
			}

			.search-box {
				input {
					width: 91%;
				}
			}

			.list {
				@include media('>=tablet') {
					font-size: $medium-font-size;
				}

				li {
					padding: 0 0 21px;
				}
				a {
					@include media('>=tablet') {
						padding-left: 0;
					}

					&:before {
						@include media('>=tablet') {
							left: -15px;
						}
					}
				}
			}
		}
	}

	.chart-caption-btn {
		width: 31%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		padding: 2px 0 0;

		@include media('>=tablet') {
			align-items: center;
		}

		@include media('>=desktop') {
			width: 100px;
			order: 2;
			padding: 0 0 19px;
		}

		.open-close {
			padding: 0;
			margin:0 -9px 0 17px;

			@include media('>=tablet') {
				margin: 0 0 0 10px;
			}

			.opener {
				&.btn-actions-bordered {
					color: $purple;
					&:before {
						@include media('<tablet') {
							content: "\e91a";
							font-size: 19px;
						}
					}

					@include media('<tablet') {
						width: 19px;
						height: 24px;
						border: none;
						color: $base-text-color;
					}
				}
			}

			.slide {
				font-size: $medium-font-size;
				min-width: 234px;
				padding: 28px 26px 5px;

				@include media('>=tablet') {
					min-width: 258px;
				}

				.list {
					li {
						padding: 0 0 21px;
					}
				}
			}
		}

		.btn-actions,
		.btn-download-bordered {
			color: $purple;
			@include media('<tablet') {
				border: none;
				height: auto;
				width: auto;
				color: $base-text-color;
			}
		}

		.btn-download-bordered {
			@include media('<tablet') {
				font-size: 20px;
			}
		}
	}

	.selected-companies {
		display: flex;
		flex-direction: row-reverse;
		padding: 29px 0 44px;

		@include media('>=tablet') {
			align-items: center;
			flex-direction: row;
			padding: 0;
		}

		@include media('>=desktop') {
			width: calc(100% - 240px - 170px);
			order: 3;
		}

		.title {
			font-size: $medium-font-size;
			color: $secondary-text-color;
			display: inline-block;
			vertical-align: middle;
			padding: 0 13px 0 0;
		}

		.selected-companies-list {
			margin-bottom: -10px;
		}

		.open-close {
			&.add-company {
				padding: 0 6px 0 0;

				@include media('>=tablet') {
					padding: 0 0 0 6px;
				}

				.opener {
					display: inline-block;
					vertical-align: middle;
					width: 35px;
					height: 35px;
					border: 1px dashed $purple;
					color: $purple;
					border-radius: 100%;
					line-height: 35px;
					text-align: center;
					font-size: 15px;
					transition: border-style $animation-speed, background  $animation-speed;

					&:before{
						font-family: 'icomoon';
						content: "\e910";
					}

					&:hover {
						border-style: solid;
						background: $bg-light-gray;
					}

					@include media('>=tablet') {
						width: 38px;
						height: 38px;
						line-height: 38px;
					}
				}

				.slide {
					top: calc(100% + 10px);
					min-width: 270px;
					font-size: $medium-font-size;
					@include media('>=350px') {
						min-width: 320px;
					}
					@include media('>=phone') {
						min-width: 344px;
					}
					@include media('>=tablet') {
						left: -55px;
					}
				}

				.bottom-btn {
					text-align: center;

					@include media('>=tablet') {
						text-align: left;
					}

					.link-button {
						margin: 15px 0 0;
						@include media('>=tablet') {
							margin: 0 0 0 26px;
						}
					}
				}
			}
		}
	}

	.datepicker-open-close {
		padding: 0 0 61px;

		@include media('>=desktop') {
			width: 240px;
			order: 5;
			padding: 0;
			justify-content: flex-end;
		}

		.opener {
			@include media('>=desktop') {
				margin-right: -11px;
			}
		}

		.slide {
			.slide-title {
				@include media('>=tablet') {
					flex-wrap: nowrap;
				}
			}
			.date {
				font-size: 16px;
				font-weight: 500;
				padding: 11px 10px 10px;
				white-space: nowrap;
				max-width: 138px;

				@include media('>=tablet') {
					max-width: none;
				}
			}
		}
	}

	.detail-box {
		@include flex-horizontal-align;
		width: 100%;
		padding: 0 0 4px;

		@include media('>=desktop') {
			width: 170px;
			order: 4;
			padding: 0;
		}

		.open-close-title {
			font-size: $medium-font-size;
			font-weight: 500;

			@include media('>=desktop') {
				font-size: $font-size-base;
			}
		}

		.open-close {
			display: inline-block;
			vertical-align: top;

			.slide {
				min-width: 195px;
			}
		}

		.opener {
			font-weight: 500;
		}

		.has-arrow {
			&:after {
				content: "\e903";
				font-size: 5px;
				margin: 0 0 0 7px;
			}
		}
	}

	.chart-info {
		width: 100%;
		padding: 0 0 38px;

		@include media('>=desktop') {
			display: block;
			width: 25.4%;
			max-width: 316px;
			order: 6;
			padding: 49px 15px 0 0;
		}

		@include media('>=widescreen') {
			margin: 0 0 0 -14px;
		}

		.scroll-box {
			display: flex;
			min-width: 0;
			flex-wrap: wrap;

			@include media('<desktop') {
				min-width: 0;
				flex-wrap: nowrap;
			}
		}
	}

	.chart-box {
		width: 100%;
		@include media('>=desktop') {
			width: 74.6%;
			order: 7;
			padding: 52px 0 0;
			position: relative;
		}

		@include media('>=widescreen') {
			width: calc(100% - 316px);
		}

		.scroll-holder {
			@include media('<desktop') {
				margin-bottom: 20px;
			}
		}
	}

	.scroll-box {
		@include media('<desktop') {
			min-width: 863px;
		}

		img {
			@include media('<desktop') {
				max-width: none;
				width: 100%;
			}
		}
	}

	.open-close-title {
		color: $secondary-text-color;
		display: inline-block;
		vertical-align: top;
		font-weight: normal;
		padding: 0 7px 0 0;
	}
}

.scroll-holder {
	@include media('<desktop') {
		overflow-x: scroll;
		margin-right: -15px
	}

	@include media('<tablet') {
		margin-right: -28px
	}

	.scroll-box {
		white-space: nowrap;
		min-width: 863px;

		@include media('>=tablet') {
			padding-right: 15px;
		}

		@include media('>=widescreen') {
			padding-right: 0;
		}
	}

	img {
		max-width: none;
	}
}

.chart-info-box {
	border-radius: 18px;
	width: 144px;
	padding: 21px 19px 17px;
	border: 1px solid $lines-light-gray;
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;

	&.lead {
		background: $bg-light-gray;

		.icon-box {

			@include media('>=desktop') {
				background: $white;
				border-color: $white;
			}
		}

		i {
			color: $purple;
		}

		.image-holder {
			.default {
				opacity: 0;
			}
			.active-item {
				opacity: 1;
			}
		}
	}

	@include media('>=tablet') {
		width: calc(25% - 10px);
		align-items: center;
	}

	@include media('>=desktop') {
		width: 100%;
		border: none;
		margin: 0 0 11px;
		flex-wrap: nowrap;
		justify-content: flex-start;
		padding: 14px;
	}

	.icon-box {
		@include flex-horizontal-align;
		margin: 0 0 27px;
		width: 100%;

		@include media('>=desktop') {
			justify-content: center;
			border: 1px solid $secondary-light-gray;
			border-radius: 15px;
			height: 65px;
			width: 65px;
			margin: 0 22px 0 0;
		}
	}

	i {
		color: $base-text-color;
		font-size: 20px;

		&.icon-click {
			font-size: 31px;

			@include media('>=desktop') {
				font-size: 30px;
			}
		}

		&.icon-eye2 {
			@include media('>=desktop') {
				font-size: 17px;
			}
		}

		@include media('>=desktop') {
			font-size: 21px;
		}
	}

	.info-box {
		font-size: $lg-font-size;
		width: 100%;

		@include media('>=desktop') {
			font-size: $medium-font-size;
			flex: 1 0;
		}
	}

	.title {
		display: block;
		font-size: $lg-font-size;
		padding: 0 0 9px;
		font-weight: $base-font-weight;
		white-space: normal;

		@include media('>=desktop') {
			font-size: $medium-font-size;
		}
	}

	.number {
		display: block;
		font-size: 21px;
		font-weight: 500;
		@include media('>=desktop') {
			font-size: 22px;
			font-weight: $base-font-weight;
		}
	}
}

.chart-info-box + .chart-info-box {
	margin-left: 12px;

	@include media('>=desktop') {
		margin-left: 0;
	}
}

.report-frame {
	padding: 0 0 29px;

	@include media('>=tablet') {
		padding: 0 0 38px;
	}

	.scroll-holder {
		@include media('<tablet') {
			margin: 0 -30px 20px;
		}

		.scroll-box {
			min-width: 1097px;

			&.xs-width {
				min-width: 620px;
			}

			&.md-width {
				min-width: 805px;
			}
		}
	}

}

.report-caption {
	@include flex-horizontal-align;
	justify-content: space-between;
	padding: 0 0 25px;

	@include media('>=tablet') {
		padding: 0 0 13px;
	}

	@include media('>tablet', '<=desktop') {
		display: block;
	}

	.icon-statictics {
		font-size: 17px;
		color: $base-text-color;
		margin: 3px 8px 0 0;
		display: inline-block;
	}
}

.report-detail {
	@include flex-horizontal-align;
	flex: 1 0;
	padding: 3px 0 0;

	@include media('>=tablet') {
		padding: 0 0 4px;
	}

	.open-close-title {
		display: block;
		font-size: $lg-font-size;
		font-weight: 500;
		padding: 0 5px 0 0;

		@include media('>=tablet') {
			font-size: 18px;
			padding: 0 4px 0 0;
		}

		@include media('>=desktop') {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.open-close {
		font-size: $lg-font-size;

		@include media('>=tablet') {
			font-weight: normal;
			font-size: 18px;
		}

		@include media('>=desktop') {
			display: inline-block;
			vertical-align: middle;
		}

		.opener {
			font-weight: normal;
			white-space: nowrap;

			&.has-arrow {
				&:after {
					margin: 0 0 0 5px;
					@include media('>=tablet') {
						font-size: 7px;
						margin: 0 0 0 10px;
					}
				}
			}
		}

		.slide {
			min-width: 292px;
		}
	}

	.has-arrow {
		&:after {
			@include media('>=tablet') {
				margin: 0 0 0 8px;
			}
		}
	}
}

.report-sorting {
	@include flex-horizontal-align;
	justify-content: flex-end;
	padding: 5px 0 0;

	@include media('>=tablet') {
		padding: 0;
	}
	@include media('>tablet', '<=desktop') {
		justify-content: space-between;
	}

	.filter-btn {
		margin: 0 -1px 0 17px;
		font-weight: 700;

		@include media('>=tablet') {
			margin: 0 0 0 31px;
			font-weight: normal;
		}
	}

	.simplebox {
		font-size: 17px;
		color: $base-text-color;
		margin: 0 -1px 0 16px;
	}

	.sorting-block {
		.has-arrow {
			&:after {
				@include media('<tablet') {
					display: none !important;
				}
			}
		}
	}
}

.sorting-block {
	@include flex-horizontal-align;

	.open-close-title {
		color: $secondary-text-color;
		font-weight: normal;
		padding: 0 8px 2px 0;
	}

	.open-close {
		display: inline-block;
		vertical-align: top;

		.opener {
			font-weight: 500;
			font-size: 15px;
			@include media('>=tablet') {
				font-size: $font-size-base;
			}
		}

		.has-arrow {
			&:after {
				content: "\e903";
				font-size: 5px;
				margin: 0 0 0 5px;
			}
		}

		.icon-sorting {
			display: inline-block;
			vertical-align: middle;
			min-height: 20px;
			font-size: 17px;
			transition: transform $animation-speed;

			@include media('>=tablet') {
				font-size: 10px;
				margin: 0 3px 3px 0;
				min-height: 0;
			}
		}

		.slide {
			min-width: 209px;
			&.xs-width {
				min-width: 182px;
			}
		}
	}
}

.sorting-block + .sorting-block {
	padding-left: 32px;
}

.icon-info-icon {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	font-style: normal;
	border-radius: 100%;
	width: 17px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	background: $bg-light-gray;
	color: $secondary-text-color;
	margin: 0 0 0 4px;
}

.caption {
	@include flex-horizontal-align;
	justify-content: space-between;
	padding: 0 0 33px;
	position: relative;

	&.help-page-caption {
		padding: 16px 0 49px;
		justify-content: flex-start;

		&.py-sm {
			padding: 16px 0 45px;
			@include media('>=tablet') {
				padding: 20px 0 63px;
			}
		}

		@include media('>=tablet') {
			padding: 30px 0 71px;
			justify-content: flex-start;
		}

		.back-button {
			margin: 0 17px 0 0;

			&:before {
				@include media('<tablet') {
					content: "\e91e";
					position: static;
					transform: translate(0, 0);
				}
			}

			@include media('<tablet') {
				border-radius: 0;
				color: $base-text-color;
				margin: 0 12px 0 0;
				background: transparent;
				width: auto;
				height: auto;
				font-size: 17px;
			}
		}
	}

	&.mobile-two-line {
		@include media('<tablet') {
			display: block;
			padding: 0 0 24px;
		}

		.title-box {
			@include media('<tablet') {
				padding: 0 0 41px;
			}
		}

		.btn-box {
			@include media('<tablet') {
				padding-left: 0;
			}
		}
	}

	&.widescreen-one-line {
		@include media('<widescreen') {
			display: block;
			padding: 4px 0 21px;
		}

		.title-box {
			@include media('<widescreen') {
				padding: 0 0 23px;
			}
		}
	}

	&.py-md {
		padding: 17px 0 37px;
		@include media('>=tablet') {
			padding: 31px 0 35px;
		}
	}

	@include media('>=tablet') {
		padding: 15px 0 30px;
	}

	.title-box {
		@include flex-horizontal-align;
		justify-content: space-between;
		flex-wrap: wrap;
		flex: 1 0;

		@include media('>=tablet') {
			justify-content: flex-start;
			flex-wrap: nowrap;
			align-items: center;
		}

		h1 + .search-holder,
		.h1 + .search-holder {
			margin: 0 0 0 16px;
		}

		.open-close {
			.opener {
				font-size: 22px;
				font-weight: 500;
				color: $base-text-color;

				@include media('>=tablet') {
					font-size: 21px;
					font-weight: normal;
				}
			}
		}
	}

	.btn-box {
		padding: 0 0 0 23px;

		@include media('>=tablet') {
			padding: 0 0 0 10px;
		}
	}

	h1, .h1,
	h2, .h2{
		margin: 0;
	}

	.title-line {
		display: inline-block;
		vertical-align: middle;
		height: 1px;
		background: $base-text-color;
		width: 21px;
		margin: 0 8px 0 5px;
	}

	.data-sampling {
		display: flex;
		flex-direction: column-reverse;
		@include media('>=tablet') {
			align-items: center;
			flex-direction: row;
		}

		.sorting-block {
			flex-shrink: 0;
			padding: 0 0 10px;
			@include media('>=tablet') {
				padding: 0 15px;
			}
			@include media('>=widescreen') {
				padding: 0 25px;
			}

			.open-close {
				.slide {
					min-width: 140px;
					&.lg-width {
						min-width: 264px;
					}
				}
			}
		}

		.caption-sorting {
			@include media('>=tablet') {
				@include flex-horizontal-align;
				margin: 0 -15px;
			}

			@include media('>=widescreen') {
				margin: 0 -25px;
			}

		}

		.datepicker-open-close {
			padding: 0 0 11px;
			@include media('>=tablet') {
				padding: 0 0 0 15px;
				width: auto;
			}

			@include media('>=widescreen') {
				padding: 0 0 0 22px;
			}

			.icon-calendar {
				margin: 0 10px 0 0;
				font-size: 20px;
			}

			.selected-date {
				font-size: $font-size-base;
				padding: 0;

				.date {
					font-weight: normal;
				}
			}
		}
	}
}

.search-holder {
	@include flex-horizontal-align;
	width: auto;
	height: 52px;

	&.active {
		.serach-slide {
			background: $bg-light-gray;
			opacity: 1;
		}

		.serach-opener {
			opacity: 0;
		}
	}

	.serach-opener {
		margin: 0 0 0 15px;
		outline: none;
		display: inline-block;
		vertical-align: top;
		background: transparent;
		padding: 0;
		border: none;
		position: relative;
		font-size: 22px;
		transition: color $animation-speed, opacity 0.5s;

		&:before{
			content: "\e915";
			font-family: 'icomoon';
			display: inline-block;
			vertical-align: middle;
		}

		&:hover {
			color: $purple;
		}
	}

	.serach-slide {
		width: 100%;
		border-radius: 6px;
		position: absolute;
		height: 59px;
		left: 0;
		top: 5px;
		z-index: 1;
		opacity: 0;
	}

	.btn-search {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15px;

		@include media('>=tablet') {
			font-size: 22px;
		}
	}

	input[type="search"] {
		height: 59px;
		padding: 5px 40px 5px 53px;
		@include placeholder {
			@include media('>=tablet') {
				font-size: 14px;
			}
		}
	}

	.close-slide {
		@include flex-central-align;
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 33px;
		height: 33px;
		border-radius: 100%;
		right: 23px;
		font-size: 11px;
		background: $secondary-light-gray;
		color: $gray;
		transition: color $animation-speed;

		&:before{
			content: "\e904";
			font-family: 'icomoon';
		}

		&:hover {
			color: $base-text-color;
		}
	}
}

.campaing-frame,
.document-frame {
	position: relative;

	.caption {
		align-items: flex-start;
		padding: 8px 0 68px;

		@include media('>=desktop') {
			align-items: flex-end;
			padding: 8px 0 33px;
		}

		.title-box {
			align-items: flex-start;
			@include media('>=tablet') {
				justify-content: space-between;
			}

			@include media('>=desktop') {
				align-items: center;
				justify-content: flex-start;
			}
		}

		.title-holder {
			width: calc(100% - 37px);
			padding: 7px 0 0;

			@include media('>=tablet') {
				width: auto;
				padding: 0 10px 0 0;
			}

			@include media('>=desktop') {
				@include flex-horizontal-align;
				padding: 0 21px 0 0;
			}

			h1, .h1,
			h2, .h2 {
				margin: 0 0 8px;

				@include media('>=tablet') {
					margin: 0;
				}

				.title-line {
					margin: 0 6px;
					width: 21px;
				}
			}

			.has-arrow {
				&:after {
					margin: 0 0 0 7px;
				}
			}
		}

		.serach-opener {
			@include media('<tablet') {
				margin-bottom: 15px;
			}
		}

		.btn-box {
			padding: 0 0 0 18px;
			@include media('>=tablet') {
				padding: 0 0 0 10px;
			}
		}
	}

	.search-holder {
		.serach-slide {
			@include media('>=tablet', '<desktop') {
				right: 0;
				left: auto;
			}
		}
	}

	.simplebox {
		&.icon-statictics {
			color: $light-purple;
			font-size: 18px;
			font-weight: normal;
		}
	}

	.top-actions-panel {
		@include media('<tablet') {
			margin-top: -34px;
			position: relative;
			z-index: 2;
		}
	}

	.open-close,
	.interior-open-close,
	.datepicker-open-close {
		&.sorting {
			.list {
				&.has-active-checkmark {
					@include media('<tablet') {
						font-size: $lg-font-size;
						padding: 22px 0;
					}
					li {
						&.active {
							.sorting-icon {
								@include media('<tablet') {
									display: inline-block;
								}
							}
						}

						@include media('<tablet') {
							padding: 0 0 22px;
						}
					}

					a {
						&:before {
							@include media('<tablet') {
								@include flex-central-align;
								left: auto;
								right: 2px;
								top: -2px;
								width: 23px;
								height: 23px;
								color: $white;
								background: $purple;
								border-radius: 100%;
							}
						}
						@include media('<tablet') {
							display: block;
							padding: 0 21px 0 0;
						}
					}

					.sorting-icon {
						@include media('<tablet') {
							vertical-align: top;
							display: none;
							margin: 0 4px 0 -5px;
						}
					}
				}
			}
		}
	}
}

.campaign-site-main {
	position: relative;

	.caption {
		align-items: flex-start;
		padding: 8px 0 65px;

		@include media('>=tablet', '<1399px') {
			flex-wrap: wrap;
		}

		@include media('>=tablet') {
			align-items: flex-end;
			padding: 8px 0 45px;
		}

		.title-box {
			align-items: flex-start;
			@include media('>=tablet') {
				justify-content: space-between;
			}

			@include media('>=tablet') {
				align-items: center;
				justify-content: flex-start;
			}
		}

		.title-holder {
			@include flex-horizontal-align;
			flex-wrap: wrap;
			padding: 7px 0 0 38px;

			@include media('<tablet') {
				flex: 1 0;
			}

			@include media('>=tablet') {
				flex-wrap: nowrap;
				padding: 0 10px 0 0;
			}

			@include media('>=tablet') {
				padding: 0 21px 0 0;
			}

			h1, .h1,
			h2, .h2 {
				margin: 0 10px 5px 0;

				@include media('>=tablet') {
					margin: 0;
				}

				.title-line {
					margin: 0 6px;
					width: 21px;
				}
			}

			.open-close {
				@include media('<tablet') {
					margin: 0 15px 5px 0;
				}
			}

			.has-arrow {
				&:after {
					margin: 0 0 0 7px;
				}
			}

			.back-button {
				margin: 0 20px 0 0;
				&:before{
					@include media('<tablet') {
						position: static;
						transform: translate(0, 0);
					}
				}

				@include media('<tablet') {
					font-size: 17px;
					position: absolute;
					top: 17px;
					left: 0;
					background: transparent;
					width: auto;
					height: auto;
					color: $base-text-color;
				}
			}
		}

		.serach-opener {
			@include media('<tablet') {
				margin-bottom: 15px;
			}
		}
	}

	.search-holder {
		.serach-opener {
			@include media('<tablet') {
				margin: 0 9px 10px 0;
			}
		}
		.serach-slide {
			@include media('>=tablet', '<desktop') {
				right: 0;
				left: auto;
			}
		}
	}

	.caption-nav-panel {
		@include flex-horizontal-align;

		@include media('>=tablet', '<1399px') {
			width: 100%;
			justify-content: space-between;
		}

		.datepicker-open-close {
			padding: 0;

			@include media('>=1399px') {
				padding: 0 0 0 44px;
			}

			.opener {
				@include media('<tablet') {
					align-items: flex-start;
				}
			}

			.selected-date {
				@include media('<desktop') {
					font-size: $font-size-base;
				}

				.date {
					@include media('<tablet') {
						display: block;
						font-weight: normal;
						padding: 3px 0 0;
					}
				}
			}
		}

		.list-inline {
			margin: 0;
			padding: 0 4px 0 0;

			@include media('>=tablet') {
				padding: 0 4px 0 10px;
			}

			@include media('>=desktop') {
				padding: 0 4px 0 28px;
			}

			li {
				vertical-align: middle;
			}

			a[class*="btn"],
			button[class*="btn"] {
				width: 45px;
				height: 45px;

				@include media('<tablet') {
					color: $base-text-color;
					width: auto;
					height: auto;
					border: none;
					min-width: 12px;
				}
			}

			.btn-archive-bordered {
				&:before {
					@include media('<tablet') {
						font-size: 23px;
					}
				}
			}

			.btn-actions-bordered {
				&:before {
					@include media('<tablet') {
						font-size: 18px;
						content: "\e91a";
					}
				}
			}
		}

		.date-frame {
			position: absolute;
			bottom: 0;

			@include media('>=tablet') {
				position: static;
			}
		}

		.date-frame {
			left: 0;
		}

		.simplebox {
			&.icon-statictics {
				position: absolute;
				color: $light-purple;
				font-size: 18px;
				font-weight: normal;
				bottom: 12px;
				right: 0;
				@include media('>=tablet') {
					position: static;
				}
			}
		}
	}

	.edit-campaign-panel {
		margin-bottom: 20px;
	}
}

.document-frame {
	position: relative;

	.sorting-frame {
		position: absolute;
		bottom: 24px;
		left: -7px;
		width: 100%;
		@include media('>=desktop') {
			position: static;
			padding-right: 147px;
			width: auto;
		}

		.open-close {
			&.sorting {
				.opener {
					font-size: $lg-font-size;

					&.has-arrow {
						&:after {
							@include media('>=tablet') {
								display: none;
							}
						}
					}

					@include media('>=tablet') {
						@include flex-horizontal-align;
						flex-direction: row-reverse;
					}

					.sorting-icon {
						padding: 0 5px 0 0;
						@include media('>=tablet') {
							padding: 0 0 0 7px;
						}
					}
				}
			}
		}
	}

	.add-item {
		white-space: nowrap;
	}
}

.caption-actions-frame {
	@include media('>=desktop') {
		@include flex-horizontal-align;
	}

	.date-frame {
		@include media('>=desktop') {
			padding: 0 120px 0 0;
		}
	}

	.datepicker-open-close {
		padding: 0;
	}
	.date-frame {
		@include flex-horizontal-align;
		justify-content: space-between;
		position: absolute;
		bottom: 0;
		left: -2px;
		right: -2px;

		@include media('>=desktop') {
			padding: 0 121px 0 0;
			position: static;
			width: auto;
		}

		.opener {
			@include media('<tablet') {
				align-items: flex-start;
			}
		}

		.icon-calendar {
			@include media('<tablet') {
				display: inline-block;
				vertical-align: top;
				margin-top: 5px;
			}
		}

		.date {
			@include media('<tablet') {
				display: block;
				font-weight: normal;
			}
		}
	}
}

.top-actions-panel {
	@include flex-horizontal-align;
	justify-content: flex-end;
	padding: 0 0 19px;

	@include media('>=tablet') {
		justify-content: space-between;
		padding: 15px 0 0;
	}

	@include media('>=desktop') {
		padding: 0;
	}

	.sorting-block {
		padding: 0 0 4px;

		.open-close-title {
			@include media('>=desktop') {
				padding: 0 8px 0 0;
			}
		}

		.open-close {
			&.sorting {

				.bottom-btn {
					.btn {
						@include media('<tablet') {
							width: 100%;
						}
					}
				}

				.opener {
					.sorting-icon {
						margin: 0;
						padding: 0 16px 0 0;

						&:before {
							@include media('<tablet') {
								content: "\e928";
							}
						}

						&:after {
							@include media('<tablet') {
								display: none;
							}
						}

						@include media('>=tablet') {
							margin: 0;
							padding: 0;
						}
					}
				}
			}
		}
	}

	.data-block {
		@include flex-horizontal-align;
	}

	.datepicker-open-close {
		width: auto;
		padding: 0 0 0 11px;

		.selected-date {
			color: $light-purple;
			padding: 0;
			font-weight: normal;
		}
	}
}

.edit-campaign-panel {
	background: $bg-light-gray;
	border-radius: 11px;
	padding: 27px 20px 12px;

	@include media('>=tablet') {
		padding: 27px 35px 12px;
	}

	.edit-campaign-caption {
		padding: 0 0 24px;
		&:only-child {
			padding-bottom: 7px;
		}

		@include media('>=tablet') {
			@include flex-horizontal-align;
		}
	}

	.edit-title {
		@include flex-horizontal-align;
		flex-shrink: 0;
		font-size: $lg-font-size;
		padding: 0 0 20px;

		@include media('>=tablet') {
			padding: 0 42px 0 0;
		}

		strong {
			font-weight: 500;
			padding: 0 0 0 2px;
		}

		.btn-remove {
			width: 23px;
			height: 23px;
			line-height: 24px;
		}
	}
	.btn-remove {
		width: 20px;
		height: 20px;
		line-height: 21px;
		font-size: 9px;
		background: $secondary-light-gray;
		color: $secondary-text-color;
		margin: 0 11px 0 0;
		&:hover {
			color: $base-text-color;
		}
	}

	.list-inline {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		margin-bottom: -7px;

		li {
			padding: 0 14px 7px;

			@include media('>=desktop') {
				padding: 0 21px 7px;
			}
		}

		.open-close {
			.opener {
				font-weight: 500;
				color: $base-link-color;

				.icon {
					margin: 0 3px 0 0;
				}
			}
		}
	}
}

.edit-form {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: 0 -4px;

	@include media('>=desktop') {
		flex-wrap: nowrap;
	}

	.form-col {
		width: 50%;
		padding: 0 8px 16px;

		@include media('>=tablet') {
			width: 33.33%;
		}
		@include media('>=desktop') {
			width: auto;
		}
	}

	label, .label {
		color: $gray;
		font-size: $secondary-size-base;
		display: block;
		padding: 0 0 5px;
	}

	.input-holder {
		@include flex-horizontal-align;
	}

	input {
		background: $white;
		height: 38px;
		@include media('>=desktop') {
			max-width: 149px;
		}
	}

	.btn-remove {
		margin: 0 0 0 9px;
		flex-shrink: 0;
	}

	.input-has-currency {
		&:only-child {
			width: 100%;
		}
	}

	.btn,
	.submit,
	button[type="submit"]:not(.btn-search) {
		white-space: nowrap;

		@include media('<desktop') {
			width: 100%;
		}

		@include media('>=widescreen') {
			margin: 0 0 0 14px;
		}
	}
}

.uploaded-block {
	@include flex-horizontal-align;
	justify-content: space-between;
	background: $third-light-gray;
	border-radius: 10px;
	padding: 28px 33px;
	margin: 0 0 43px;

	.uploaded-file {
		font-size: $medium-font-size;
		font-weight: 500;
		position: relative;

		&:after {
			@include green-circled-checkmark;
			width: 18px;
			height: 18px;
			margin: 0 0 0 8px;
			line-height: 18px;
		}
	}
}

.edit-banner-panel {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: $white;
	border-top: 1px solid $secondary-light-gray;
	padding: 19px 30px 9px;
	font-size: 15px;
	z-index: 2;

	@include media('>=tablet') {
		width: 100%;
		position: static;
		border-top: none;
		background: $bg-light-gray;
		border-radius: 11px;
		align-items: center;
		justify-content: space-between;
		padding: 17px 35px;
		font-size: $font-size-base;
		margin: 0 0 10px;
		min-height: 99px;
	}

	@include media('>=widescreen') {
		flex-wrap: nowrap;
		align-items: center;
	}

	.title-holder {
		@include flex-horizontal-align;
		padding: 0 0 15px;
		width: 100%;

		@include media('>=desktop') {
			padding: 0 10px 0 0;
			width: 25.5%;
		}

		@include media('>=widescreen') {
			padding: 9px 10px 0 0;
		}
	}

	.btn-remove {
		width: 23px;
		height: 23px;
		line-height: 23px;
		background: $secondary-light-gray;
		color: $secondary-text-color;
		margin: 0 6px 0 0;
		flex-shrink: 0;

		@include media('>=tablet') {
			margin: 0 11px 0 0;
		}
	}

	.edit-panel-title {
		display: block;
		width: 100%;
		font-size: $medium-font-size;
		@include media('>=tablet') {
			font-size: $lg-font-size;
		}
	}

	.edit-holder {
		@include flex-horizontal-align;

		@include media('>=tablet') {
			flex: 1 0;
		}

		@include media('>=tablet', '<widescreen') {
			align-items: flex-end;
		}
	}

	.input-group {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		padding: 0 0 22px;
		margin: 0 -8px;
		width: calc(100% - 49px);

		@include media('>=tablet') {
			padding: 0;
		}
	}

	.title-label {
		display: block;
		font-size: 15px;
		color: $secondary-text-color;
		padding: 3px 0 9px 8px;
		width: 100%;
		@include media('>=tablet') {
			font-size: $secondary-size-base;
			padding: 14px 5px 0 8px;
			width: auto;
		}
	}

	.title-label + .input-col {
		width: 100%;
		@include media('>=tablet') {
			padding-top: 10px;
			width: auto;
		}
	}

	.label, label {
		font-size: $font-size-base;
		font-weight: normal;

		@include media('>=tablet')  {
			font-size: $secondary-size-base;
		}
	}

	.icon-info-icon {
		background: $lines-light-gray;
		@include media('<tablet') {
			display: none;
		}
	}

	.input-col {
		padding: 0 8px;
		width: 50%;

		@include media('>=tablet')  {
			max-width: 201px;
		}

		input {
			height: 38px;
			width: 100%;
			font-size: $medium-font-size;

			@include media('>=tablet') {
				background: $white;
				border: 1px solid $lines-light-gray;
				border-radius: 5px;
				padding: 5px 10px;
				@include media('>=tablet') {
					font-size: $secondary-size-base;
				}
			}
		}
	}

	.btn-group {
		@include flex-horizontal-align;

		@include media('>=tablet') {
			padding: 0 0 0 10px;
		}

		@include media('>=widescreen') {
			padding: 5px 0 0 10px;
		}
	}

	.btn {
		min-width: 87px;
		white-space: nowrap;

		&.btn-green {
			&:before {
				@include media('<tablet') {
					content: "\e916";
					font-family: 'icomoon';
					font-size: 10px;
				}
			}
			@include media('<tablet') {
				width: 38px;
				height: 38px;
				line-height: 37px;
				text-align: center;
				border-radius: 100%;
				min-width: 0;
				padding: 0;
				margin: 0 0 0 27px;
			}
		}
	}


	.btn + .btn {
		margin-left: 18px;

		@include media('>=tablet') {
			margin-left: 16px;
		}
	}
}

.form-row + .edit-banner-panel {
	@include media('>=tablet') {
		margin-top: -4px;
	}
}

.upload-video-form {
	@include media('>=tablet') {
		padding-top: 48px
	}

	.video-requirements {
		@include media('<tablet') {
			padding-top: 8px;
		}
	}

	.video-block {
		max-width: 391px;
		border-radius: 18px;
		overflow: hidden;
		margin: 0 0 21px;
		position: relative;
	}

	.uploaded-video {
		@include flex-horizontal-align;
		justify-content: space-between;
		font-size: $medium-font-size;
		font-weight: 500;
		padding: 0 0 19px;
		@include media('>=tablet') {
			display: block;
		}
	}

	.status {
		&:before{
			@include green-circled-checkmark;
			margin: 0 6px;
		}
		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}
	}

	.open-close {

		@include media('<tablet') {
			text-align: left;
		}

		.opener {
			font-weight: 500;
			color: $base-link-color;
		}

		.slide {
			@include media('>=tablet') {
				min-width: 501px;
				padding: 22px 29px 16px;
			}

			.serach-frame {
				margin: 0 0 20px;

				@include media('>=tablet') {
					margin: 0 0 15px;
				}
			}

			.btn-search {
				padding: 0;
				left: 13px;
				top: 52%;
				font-size: 16px;
				width: auto;
			}

			input[type="search"] {
				height: 45px;
				padding: 9px 15px 5px 48px;
				font-size: $font-size-base;
				@include placeholder {
					font-size: $font-size-base;
				}
				@include media('>=tablet') {
					font-size: $font-size-base;
					height: 36px;
					padding: 7px 15px 5px 39px;
				}
			}
		}
	}
}

.two-column {
	@include media('>=tablet') {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px;
	}

	.col {
		padding: 0 0 37px;

		&:nth-child(2) {
			@include media('>=tablet') {
				padding-top: 11px;
			}
		}

		&.pb-mob-xs {
			@include media('<tablet') {
				padding-bottom: 22px;
			}
		}

		@include media('>=tablet') {
			padding: 0 10px;
		}
	}

	.simplebox {
		display: inline-block;
		vertical-align: top;

		.icon-change {
			font-size: 21px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 11px 0 0;

			@include media('>=tablet') {
				font-size: 18px;
			}
		}

		.icon-thin-chevron {
			font-size: 7px;
			display: inline-block;
			vertical-align: middle;
			transform: rotate(-90deg);
			margin: 0 0 2px 10px;

			@include media('>=tablet') {
				display: none;
			}
		}
	}

	.slide-video-list {
		text-align: left;
	}
}

.two-column-video {

	@include media('>=375px') {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.uploaded-video {
		@include media('>=375px') {
			display: block;
		}

		.name {
			@include media('>=375px') {
				display: block;
				padding: 0 0 6px;
			}
		}

		.status {
			&:before {
				@include media('>=375px') {
					margin: 0 6px 0 0;
				}
			}

			@include media('>=375px') {
				display: block;
			}
		}
	}

	.link-change-video {
		font-size: $secondary-size-base;
		font-weight: 500;

		&:before {
			display: inline-block;
			vertical-align: middle;
			font-family: 'icomoon';
			content: "\e934";
			margin: 0 11px 0 0;
			font-size: 18px;
		}
	}
}

.video-tile-sorting {
	@include flex-horizontal-align;
	justify-content: space-between;
	padding: 0 0 22px;

	@include media('>=tablet') {
		padding: 29px 0 22px;
	}
}

.amount-found {
	display: block;
	font-weight: 500;
	font-size: $medium-font-size;
	color: $secondary-text-color;
}

.video-tile-frame {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -11px 12px;

	@include media('>=tablet') {
		margin: 0 -14px;
	}

	.video-tile-block {
		width: calc(50% - 22px);
		margin: 0 11px 36px;

		@include media('>=tablet') {
			width: calc(33.33% - 28px);
			margin: 0 14px 58px;
		}

		@include media('>=desktop') {
			width: calc(25% - 28px);
		}

		.img-box {
			margin: 0 0 13px;
			border-radius: 7px;
			overflow: hidden;
			position: relative;

			@include media('>=tablet') {
				margin: 0 0 28px;
				border-radius: 13px;
			}

			img {
				width: 100%;
			}

			.launch-action {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 33px;
				height: 33px;
				background: rgba($purple, 0.9);
				color: $white;

				@include media('>=tablet') {
					width: 65px;
					height: 65px;
					font-size: 16px;
				}
			}

			.time-label {
				position: absolute;
				bottom: 14px;
				right: 11px;
				display: block;
				background: $base-text-color;
				color: $white;
				padding: 4px 9px;
				border-radius: 2em;

				&:before{
					font-family: 'icomoon';
					content: "\e937";
					display: inline-block;
					vertical-align: middle;
					font-size: 18px;
					margin: -1px 5px 0 0;
				}

				@include media('<tablet') {
					display: none;
				}
			}
		}

		h3, .h3 {
			font-size: $medium-font-size;
			font-weight: 500;
			margin: 0 0 10px;

			@include media('>=tablet') {
				font-size: 19px;
				margin: 0 0 9px;
			}
		}

		.bullet-inline-list {
			flex-wrap: wrap;
			padding: 0 0 20px;

			@include media('<tablet') {
				margin: 0 -5px;
				padding: 0 0 10px;
			}

			li {
				&:before {
					@include media('<tablet') {
						display: none;
					}
				}

				@include media('<tablet') {
					padding: 0 5px 5px;
				}
			}
		}

		.vertical-aligned-items {
			margin: 0 -4px;

			@include media('<tablet') {
				margin: 0 -7px;
			}

			.btn-edit,
			.btn-del,
			.btn-download {
				margin: 0 4px;

				@include media('<tablet') {
					background: transparent;
					color: $base-text-color;
					font-size: 20px;
					width: auto;
					height: auto;
					margin: 0 7px;
				}
			}
		}
	}
}

.video-link-block {
	@include flex-horizontal-align;
	justify-content: space-between;
	background: $light-gray;
	border: 1px solid $lighter-gray;
	border-radius: 5px;
	padding: 13px 14px 12px;
	font-size: $medium-font-size;

	.icon-link {
		font-size: 13px;
		margin: 0 0 0 10px;
	}

	.link-src {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.label + .video-link-block,
label + .video-link-block {
	margin-top: 4px;
}

.uploaded-video-block {
	background: $light-gray;
	border-radius: 9px;
	padding: 14px 16px;
	margin: 0 0 45px;
	position: relative;

	@include media('>=tablet') {
		@include flex-horizontal-align;
		justify-content: space-between;
		margin: 0;
		padding: 15px 14px;
	}

	.video-file-info {
		@include flex-horizontal-align;
	}

	.img-box {
		position: relative;
		margin: 0 22px 0 0;
		width: 73px;
		height: 51px;
		border-radius: 5px;
		overflow: hidden;

		.play-video {
			width: 23px;
			height: 23px;
			font-size: 7px;
			background: rgba($purple, 0.9);

			&:before{
				margin: 0 0 1px 3px;
			}

			&:hover {
				background: $purple;
			}
		}
	}

	.name {
		display: block;
		font-weight: 500;
		font-size: $medium-font-size;
		padding: 0 0 9px;

		@include media('>=tablet') {
			padding: 0 0 5px;
		}
	}

	.status {
		color: $secondary-text-color;

		&:before {
			@include green-circled-checkmark;
			margin: 0 10px 0 0;
		}

		@include media('>=tablet') {
			font-size: 13px;
		}
	}

	.inline-file-upload {
		display: inline-block;
		vertical-align: middle;
		font-size: $medium-font-size;
		position: absolute;
		bottom: -44px;
		left: 50%;
		transform: translateX(-50%);

		@include media('>=tablet') {
			position: static;
			transform: translateX(0);
			font-size: $font-size-base;
			font-weight: 500;
			padding: 9px 15px !important;
			margin: 0 7px;
			border: 1px solid $secondary-light-gray;
			border-radius: 7px;
		}
	}

	.open-close {
		.slide {
			@include media('>=tablet') {
				min-width: 501px;
				top: calc(100% + 40px);
			}
		}
	}
}

.uploaded-video-block + .help-text {
	max-width: none;
	padding-top: 7px;
	text-align: center;
	font-size: $secondary-size-base !important;

	@include media('>=tablet') {
		text-align: left;
		padding-top: 12px;
	}
}

.default-radio-list + .uploaded-video-block {
	@include media('>=tablet') {
		margin-top: -12px;
	}
}

.actions-client-form {

	.switch-frame {
		@include media('<tablet') {
			flex-direction: row-reverse;
		}
		.clickable-switch {
			@include media('<tablet') {
				flex-direction: row-reverse;
				justify-content: space-between;
				width: 100%;
			}
		}
	}

	.help-text {
		font-size: $secondary-size-base;
	}
}

.action-caption + .actions-client-form {
	p {
		&:first-child {
			font-size: $lg-font-size;
			margin: 4px 0 11px;
			line-height: 1.7;

			@include media('>=tablet') {
				font-size: $font-size-base;
				margin: -13px 0 15px;
				line-height: 1.8;
			}
		}
	}

	p + .form-row {
		padding: 14px 0;
	}
}

.select-row {
	padding: 0 0 14px;

	@include media('>=tablet') {
		padding: 36px 0;
	}

	.open-close {
		&.select {
			@include media('<tablet') {
				border: none;
			}
			.opener {
				&.has-arrow {
					&:after {
						@include media('<tablet') {
							font-size: 6px;
							right: -7px;
							top: calc(50% - 3px);
							transform: rotate(-90deg);
						}
					}
				}

				@include media('<tablet') {
					padding: 5px 0;
					margin: 0 -2px;
					min-height: 47px;
				}
			}
		}
	}

	.input-group {
		padding: 0 0 12px;

		@include media('>=tablet') {
			padding: 10px 0 4px;
		}

		.help-text {
			padding: 13px 0 28px;
			@include media('>=tablet') {
				padding: 13px 0 17px;
			}
		}
	}
}

.total-block {
	background: $bg-light-gray;
	border-radius: 16px;
	margin: 0 0 30px;

	@include media('>=tablet') {
		margin: 0 0 26px;
	}

	.top {
		border-bottom: 1px solid $lines-light-gray;
		padding: 32px 25px 12px;

		@include media('>=tablet') {
			padding: 30px 46px 12px 33px;
		}

		dt {
			font-size: $medium-font-size;
			@include media('>=tablet') {
				font-size: $font-size-base;
			}
		}

		dd {
			font-weight: 500;
			font-size: $lg-font-size;
			@include media('>=tablet') {
				font-size: $medium-font-size;
				font-weight: $base-font-weight;
			}
		}
	}

	.bottom {
		padding: 22px 25px 17px;

		@include media('>=tablet') {
			padding: 22px 46px 21px 33px;
		}
		dl {
			font-size: $medium-font-size;
			font-weight: 500;
			padding: 0 0 11px;

			@include media('>=tablet') {
				padding: 0 0 28px;
			}
		}

		dd {
			font-size: 19px;
			font-weight: 500;
		}
	}

	dl {
		margin: 0;

		div{
			@include flex-horizontal-align;
			justify-content: space-between;
			margin: 0 0 12px;

			@include media('>=tablet') {
				margin: 0 0 13px;
			}
		}
	}
	dt,dd {
		margin: 0;
		width: 50%;
	}

	dd {
		text-align: right;
		padding: 0 0 0 15px;
		font-size: 15px;
	}

	.submit {
		margin: 0 0 22px;
		font-size: $lg-font-size;

		@include media('>=tablet') {
			margin: 0 0 26px;
		}
	}

	.btn-cancellation {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

.payment-radio-row {
	padding: 16px 0 38px;

	@include media('>=tablet') {
		padding: 0 0 44px;
	}

	.payment-radio-title {
		color: $secondary-text-color;
		font-size: $medium-font-size;
		font-weight: 500;
		display: block;
		padding: 0 0 16px;

		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}
}

.money-transfer-form {
	padding: 11px 0 0;

	@include media('>=tablet') {
		padding: 8px 0 0;
	}

	.open-close {
		&.select {
			.slide {
				padding: 25px 19px 0;
			}


			.list {
				padding: 0 0 7px;
				li {
					padding: 0 0 13px;
					@include media('<tablet') {
						@include flex-horizontal-align;
						justify-content: space-between;
					}
				}
			}

			.saved-payment-methods {

				.list {
					li {
						padding: 0 0 17px;
					}
				}
			}
		}
	}
}

.two-column-transfer {
	display: flex;
	align-items: flex-start;

	.icon-directions,
	.icon-thin-close {
		display: inline-block;
		vertical-align: middle;
		margin: 48px 12px 0;
		font-size: 14px;
		color: $secondary-text-color;
		transform: rotateX(180deg);
	}

	.icon-thin-close {
		font-size: 7px;
	}

	.col {
		flex: 1 0;
	}
}

.two-column-transfer + .help-text {
	padding-top: 10px;
}

.transfer-total-form {
	@include media('>=tablet') {
		padding: 17px 0 0;
	}

	.two-column-transfer {
		padding: 0 0 30px;

		@include media('>=tablet') {
			padding: 0 0 29px;
		}
	}

	.jcf-select {
		min-width: 142px;
	}

	.input-col {
		padding: 0 0 51px;
		@include media('>=tablet') {
			padding: 0 0 68px;
		}
	}

	.help-text {
		padding: 11px 0 0;
		@include media('>=tablet') {
			font-size: $secondary-size-base;
			padding: 11px 0 0;
		}
	}

	.total-block {
		padding: 32px 25px 7px 25px;

		@include media('>=tablet') {
			padding: 30px 45px 12px 33px;
		}

		.transfer-total-list {
			padding: 0 0 46px;

			@include media('>=tablet') {
				padding: 0 0 37px;
			}

			dt {
				width: 60%;
			}
			dd {
				width: 40%;
			}
		}
	}
}

.payment-frame {
	margin: 21px 0 0;
	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		margin: 47px -14px 0;
	}
}

.add-payment-box {
	font-weight: 500;
	text-align: center;
	margin: 0 0 28px;
	padding-top: 38px;
	color: $base-text-color;

	@include media('>=tablet') {
		font-size: $secondary-size-base;
		width: calc(50% - 28px);
		border: 6px solid $lines-light-gray;
		border-radius: 18px;
		margin: 0 14px 28px;
		padding: 18px 31px;
	}

	@include media('>=desktop') {
		max-width: 290px;
		width: calc(25% - 28px);
	}

	a {
		@include flex-central-align;
		color: inherit;
		flex-flow: column nowrap;
		width: 100%;
		height: 100%;
		transition: background $animation-speed;

		&:hover {
			@include media('>=tablet') {
				background: rgba($lines-light-gray, 0.2);
			}
		}
	}

	img {
		display: block;
		margin: 0 auto 22px;

		@include media('>=tablet') {
			width: 49px;
		}
	}

	span {
		width: 100%;
		display: block;
	}
}

.payment-box {
	display: flex;
	background: $bg-light-gray;
	border-radius: 18px;
	padding: 18px 30px 21px 17px;
	margin: 0 0 17px;
	width: 100%;
	position: relative;

	&.selected {
		.payment-title {

			&:after {
				font-family: 'icomoon';
				content: "\e939";
				font-size: 9px;
				color: $light-red;
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 7px;
			}
		}
	}

	@include media('>=tablet') {
		display: block;
		width: calc(50% - 28px);
		margin: 0 14px 28px;
		padding: 18px 31px 25px;
	}

	@include media('>=desktop') {
		max-width: 290px;
		width: calc(25% - 28px);
	}

	.img-box {
		width: 45px;
		height: 46px;
		margin: 0 19px 0 0;

		@include media('>=tablet') {
			margin: 0 0 17px -4px;
		}

		img {
			max-width: 100%;
		}
	}
}

.payment-info {
	.payment-title {
		display: block;
		font-weight: 700;
		font-size: $medium-font-size;
		padding: 0 0 8px;
	}
}

.payment-actions {
	position: absolute;
	top: calc(50% - 11px);
	right: 14px;
	@include media('>=tablet') {
		top: 33px;
		right: 30px;
	}

	.open-close {
		.opener {
			@include flex-central-align;
			width: 15px;
			height: 12px;
			font-size: 3px;
			color: $gray;

			&:before{
				@include media('<tablet') {
					content: "\e91a";
				}
			}

			&:hover {
				color: $base-text-color;
			}

			@include media('<tablet') {
				width: 15px;
				height: 18px;
				font-size: 18px;
				color: $base-text-color;
			}
		}

		.slide {
			right: -33px;
			left: auto;

			&:before {
				right: 28px;
				left: auto;
			}
		}
	}
}

.add-payment-form {
	padding: 9px 0 29px;

	.switch-frame {
		.switch {
			@include media('>=tablet') {
				margin: 0 6px 0 0;
			}
		}
	}
}

.help-page-layout {
	&.article-page {
		.aside {
			@include media('>=desktop') {
				border-left: 1px solid $secondary-light-gray;
			}
		}
	}

	@include media('>=desktop') {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.help-content {
		padding: 0 0 12px;
		font-size: $medium-font-size;

		&.content-two-column {
			@include media('>=tablet') {
				display: flex;
				align-items: flex-start;
				margin: 0 -15px;
			}

			@include media('>=desktop') {
				max-width: 879px;
			}
		}

		@include media('>=desktop') {
			width: 65%;
			max-width: 700px;
			padding: 0 15px 0 0;
		}

		@include media('>=1280px') {
			width: 72%;
			padding: 0 28px 0 0;
		}

		.content-col {
			@include media('>=tablet') {
				width: 50%;
				padding: 0 15px;
			}
		}

		h2, .h2 {
			font-weight: 500;
			font-size: $lg-font-size;
			margin: 0 0 28px;

			@include media('<tablet') {
				line-height: 1.7;
			}
		}

		p {
			line-height: 1.8;
			@include media('>=tablet') {
				line-height: 1.75;
			}
		}

		.help-block {
			h2, .h2 {
				font-size: 17px;
				font-weight: 500;
				margin: 0 0 18px;

				@include media('>=tablet') {
					font-size: 17px;
					margin: 0 0 32px;
				}
			}
		}
	}

	.aside {
		@include media('>=desktop') {
			width: 35%;
			max-width: 318px;
			padding: 0 0 0 15px;
		}

		@include media('>=1280px') {
			width: 28%;
			padding: 0 0 0 28px;
		}

		.help-block {
			@include media('>=desktop') {
				padding: 2px 0 47px;
			}

			.list {
				font-size: $font-size-base;
				li {
					@include media('>=tablet') {
						padding: 0 0 19px;
					}
				}
				a {
					&:after {
						content: "\e918";
						font-family: icomoon;
						display:inline-block;
						vertical-align: middle;
						margin: 0 0 0 6px;
						font-size: 4px;
						color: inherit;
						transform: rotate(-90deg);
						transition: transform $animation-speed;
					}
				}
			}
		}
	}
}

.support-block {
	background: $bg-light-gray;
	border-radius: 12px;
	padding: 28px 32px 21px;

	&:only-child {
		@include media('>=tablet') {
			margin-top: -4px;
		}
	}

	@include media('>=tablet') {
		padding: 45px 45px 52px;
	}

	.icon {
		margin: 0 0 30px;
	}

	.title {
		display: block;
		font-size: $medium-font-size;
		font-weight: 600;
		padding: 0 0 19px;

		@include media('>=tablet') {
			font-size: 17px;
			padding: 0 0 5px;
		}
	}

	.work-time {
		display: block;
		color: $secondary-text-color;
		padding: 0 0 22px;
	}

	.contact-block {
		@include flex-horizontal-align;

		@include media('>=tablet') {
			display: block;
		}

		img {
			margin: 0 18px 0 0;
			@include media('>=tablet') {
				display: none;
			}
		}
	}

	.tel {
		font-size: 17px;
		font-weight: 700;
		color: $base-text-color;
	}

	.email {
		font-size: $medium-font-size;
		color: $purple;

		@include media('>=tablet') {
			font-size: 17px;
			font-weight: 500;
			color: $base-text-color;
		}
	}
}

.help-block {
	padding: 0 0 22px;

	@include media('>=tablet') {
		padding: 0 0 63px;
	}

	h2, .h2 {
		font-size: 17px;
		font-weight: 500;
		margin: 0 0 18px;

		@include media('>=tablet') {
			font-size: 17px;
			margin: 0 0 32px;
		}
	}

	.list {
		font-size: $medium-font-size;

		li {
			padding: 0 0 15px;
			@include media('>=tablet') {
				padding: 0 0 17px;
			}

			>a {
				color: $purple;

				&:hover {
					color: $base-text-color;
				}
			}
		}
	}
}

.profile-frame {
	padding: 0 0 24px;

	@include media('>=desktop') {
		padding: 0 0 9px;
		display: flex;
		align-items: flex-start;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	h3 {
		margin: 0 0 19px;
		font-size: 18px;
		font-weight: normal;

		@include media('>=desktop') {
			margin: 0 0 41px;
		}
	}
}

.profile-button-frame {
	.btn {
		@include media('<tablet') {
			width: 100%;
		}
	}
}

.profile-info {
	padding: 54px 0 0;

	@include media('>=desktop') {
		width: 49%;
		padding: 30px 0 0;
	}

	@include media('>=widescreen') {
		width: 58.8%;
	}

	.definition-list {
		dt, dd {
			@include media('>=tablet') {
				margin: 0 0 29px;
			}
		}

		dt {
			@include media('>=tablet') {
				max-width: 202px;
			}
		}

		input[type='text'],
		input[type='number'],
		input[type='tel'],
		input[type='email'],
		input[type='search'],
		input[type='password'] {
			font-size: 15px;

			@include media('>=tablet') {
				height: 37px;
				padding: 5px 12px;
				font-size: $font-size-base;
			}
		}

		.address-check-label {
			font-size: $font-size-base;
			font-weight: $base-font-weight;
			display: block;
			padding: 13px 0 0;
			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}

			.fake-input {
				margin-right: 6px;

				@include media('>=tablet') {
					width: 17px;
					height: 17px;
					margin-right: 2px;
				}
			}

			input[type="checkbox"]:checked ~ .fake-label {
				font-weight: $base-font-weight;
			}
		}
	}
}

.profile-card {
	background: $bg-light-gray;
	border-radius: 16px;
	padding: 25px 26px 12px;

	&.unverified-email {
		border-radius: 16px 16px 0 0;
		padding-bottom: 0;

		.bottom {
			padding-bottom: 30px;
		}
	}

	@include media('>=desktop') {
		border: none;
		max-width: 396px;
		width: 49%;
		padding: 40px 37px 20px;
	}

	@include media('>=widescreen') {
		width: 32%;
	}

	.profile-img {
		width: 68px;
		height: 68px;
		border-radius: 100%;
		overflow: hidden;
		margin: 0 auto 16px;

		@include media('>=tablet') {
			width: 70px;
			height: 70px;
			margin: 0 auto 26px;
		}

		img {
			width: 100%;
		}
	}

	.profile-title {
		display: block;
		text-align: center;
		padding: 0 0 13px;

		@include media('>=desktop') {
			padding: 0;
		}

		.btn-edit {
			background: transparent;

			@include media('<tablet') {
				color: $base-text-color;
			}
		}
	}

	.name {
		@include flex-central-align;
		font-weight: 500;
		font-size: 16px;
		padding: 0 0 7px 25px;

		@include media('>=tablet') {
			font-size: 18px;
		}

		.btn-edit {
			width: auto;
			height: auto;
			padding: 0;
			font-size: $font-size-base;
			margin: 0 0 0 12px;
		}

		.bottom {
			font-size: 13px;
			padding: 14px 2px 0;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: -25px;
				right: -25px;
				height: 1px;
				background: $lines-light-gray;
			}

			a {
				color: $base-text-color;
			}
		}
	}

	.profile-id {
		color: $secondary-text-color;
		display: block;

		@include media('>=tablet') {
			padding: 0 0 13px;
			font-size: 12px;
		}
	}

	.profile-status {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		border-radius: 2em;
		font-size: 11px;
		font-weight: 500;
		position: relative;
		background: $bg-light-gray;
		margin: 0 0 48px;
		letter-spacing: 0.9px;
		left: 50%;
		transform: translateX(-50%);
		background: $white;
		padding: 9px 10px;

		&:before {
			font-family: 'icomoon';
			content: "\e939";
			font-size: 10px;
			color: $light-red;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px 1px 0;
		}

		@include media('>=tablet') {
			margin: 0 0 43px;
		}
	}

	.definition-list {

		dt {
			font-weight: normal;
			margin: 0 0 5px;
			font-size: $font-size-base;
			color: $secondary-text-color;

			&.large-cell {
				display: inline-block;
				vertical-align: top;
				width: 70%;
				padding-top: 12px;

				@include media('>=tablet') {
					width: 60%;
					padding: 0;
					max-width: none;
				}

				.switch-frame {
					@include media('>=tablet') {
						margin: 0 -12px 0 0;
					}
				}
			}

			@include media('>=desktop') {
				font-weight: normal;
				margin: 15px 0;
			}
		}

		dt.large-cell + dd {
			display: inline-block;
			vertical-align: top;
			width: 30%;
			text-align: right;
			margin-right: -4px;
			padding-top: 10px;
			@include media('>=tablet') {
				width: 40%;
				margin-right: 0;
				padding-top: 0;
			}
		}

		dd {
			@include flex-horizontal-align;
			justify-content: space-between;
			font-size: $medium-font-size;
			margin: 0 0 26px;

			@include media('>=desktop') {
				justify-content: flex-end;
				margin: 15px 0;
			}
		}

		dd + .profile-confirm-email {
			@include media('<tablet') {
				margin: -14px auto 23px;
			}
		}

		.icon-info-icon {
			background: $secondary-light-gray;
			margin: 0 0 0 2px;
		}

		.email, .tel {
			color: $base-text-color;
		}

		.btn-edit {
			background: none;
			width: auto;
			height: auto;
			padding: 0;
			margin: 0 0 0 27px;
			font-size: 15px;

			@include media('<tablet') {
				margin: -9px 0 0 10px;
				color: $base-text-color;
			}
		}

		.switch-frame {
			flex-direction: row;
			justify-content: flex-end;
			margin: 0 0 0 10px;

			@include media('>=desktop') {
				margin: 0;
			}

			.clickable-switch {
				@include media('>=tablet') {
					flex-direction: row-reverse;
				}
			}

			.switch {
				margin: 0;
			}

			input[type="checkbox"]:checked ~ .fake-switch-label {
				color: $base-text-color;
			}
		}

		.fake-switch-label {
			padding: 0 3px 0 0;

			@include media('<tablet') {
				display: none;
			}
		}

		.hidden-password {
			display: inline-block;
			vertical-align: top;
			letter-spacing: 6.4px;
			font-size: 43px;
			line-height: 1;
			margin: -24px 0 0 -2px;

			@include media('>=desktop') {
				margin: -23px -2px 0 0;
				letter-spacing: 3.6px;
				font-size: 31px;
			}
		}
	}

	.waring-icon {
		flex-shrink: 0;
		margin: 0 8px 0 0;
	}

	.top {
		border-bottom: 1px solid $lines-light-gray;
		padding: 0 0 1px;

		@include media('>=tablet') {
			padding: 0 0 18px;
		}

		.definition-list {
			dd {
				padding-right: 38px;
				position: relative;

				.btn-edit {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}

	.bottom {
		padding: 34px 0 0;

		@include media('>=tablet') {
			padding: 19px 0 0;
		}

		.definition-list {
			display: flex;
			flex-wrap: wrap;

			dt, dd {
				@include media('<tablet') {
					margin-bottom: 19px;
				}
			}

			dt:not(.large-cell) {
				width: 30%;
			}

			dt {
				&.large-cell {
					@include media('<tablet') {
						font-size: 15px;
						color: $base-text-color;
						font-weight: 500;
					}
				}
			}

			dd {
				width: 70%;
				justify-content: flex-end;
				padding-right: 0;
			}
		}
	}

	.unverified-email-block {
		padding: 20px 26px;
		border-radius: 0 0 16px 16px;
		margin: 0 -26px;
		background: $light-red;
		color: $white;

		@include media('>=desktop') {
			margin: 0 -37px;
			padding: 26px 36px;
		}

		.title {
			font-weight: 700;
			font-size: 17px;
			display: block;
			padding: 0 0 10px;
		}

		p {
			font-size: $font-size-base;
			line-height: 1.6;
			margin: 0 0 27px;
		}

		.list-inline {
			font-weight: 500;

			li {
				@include media('<349px') {
					padding: 0 2px;
				}
				&:before {
					content: '';
					height: 17px;
					width: 1px;
					background: $white;
					vertical-align: top;
					margin: 0 6px;
					display: none;

					@include media('>=350px') {
						margin: 0 19px 0 6px;
					}

					@include media('>=tablet') {
						margin: 0 19px 0 6px;
					}
				}
			}

			li + li {
				&:before {
					display: inline-block;
				}
			}

			a {
				color: inherit;
			}
		}
	}
}

.profile-row {
	padding: 0 0 39px;
	@include media('>=tablet') {
		padding: 0 0 36px;
	}
}

.profile-confirm-email {
	width: 100%;
	margin: 0 auto 23px;
	padding: 21px 18px 14px;
	border: 2px solid $light-red;
	border-radius: 10px;
	@include media('>=desktop') {
		max-width: 319px;
		font-size: $secondary-size-base;
		border-radius: 5px;
		padding: 17px 18px 8px;
	}

	.title {
		display: block;
		font-size: 15px;
		font-weight: 700;
		padding: 0 0 6px;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
			padding: 0 0 10px;
		}
	}

	.link {
		display: inline-block;
		vertical-align: top;
		margin: 0 13px 5px 0;
		font-size: $font-size-base;
		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}
}

.edit-profile-page {

	.caption {
		@include media('<tablet') {
			@include flex-horizontal-align;
			justify-content: space-between;
			padding: 11px 0 45px;
		}

		.back-cross-button {
			@include media('<tablet') {
				margin: 5px -3px 0 10px;
			}
		}
	}

	.profile-card {
		@include media('<desktop') {
			display: none;
		}
	}

	.profile-frame {
		padding: 0;

		@include media('>=desktop') {
			padding: 0 0 11px;
		}
	}

	.profile-info {
		padding: 0;

		@include media('>=desktop') {
			padding: 29px 0 0
		}

		h3 {
			margin: 0 0 26px;

			@include media('>=desktop') {
				margin: 0 0 31px;
			}
		}

		.profile-row {
			padding: 0 0 8px;
			margin: 0 0 27px;
			border-bottom: 1px solid $secondary-light-gray;

			&:last-of-type {
				border-bottom: none;
			}

			&.has-checkbox {
				@include media('>=desktop') {
					padding: 0 0 15px;
				}
			}

			@include media('>=desktop') {
				border: none;
				margin: 0;
				padding: 0 0 46px;
			}
		}

		.definition-list {
			@include media('>=desktop') {
				align-items: flex-start;
			}

			dt {
				margin: 0 0 12px;
				font-size: $medium-font-size;
				@include media('>=desktop') {
					padding-top: 10px;
					margin: 0 0 10px;
					font-size: $font-size-base;
				}
			}
			dd {
				margin: 0 0 22px;
				@include media('>=desktop') {
					margin: 0 0 10px;
				}
			}
		}
	}

	.profile-button-frame {
		.btn {
			&.has-checkmark {
				&:before {
					@include media('<desktop') {
						display: none;
					}
				}
			}
		}

		.btn + .btn {
			@include media('>=tablet') {
				margin: 0 0 0 15px;
			}
		}
	}
}

.user-form {
	padding: 1px 0 14px;

	@include media('>=tablet') {
		padding: 15px 0 14px;
	}

	.input-group {
		padding: 0 0 24px;
		@include media('>=tablet') {
			padding: 0 0 22px;
		}
	}

	.open-close{
		.slide-caption {
			@include media('<tablet') {
				padding: 0 0 38px;
			}
		}

		p {
			line-height: 1.7;
		}

		.list-inline {
			padding: 6px 0 24px;
			margin: 0 -10px;
			li {
				padding: 0 10px;
			}
		}

		.list {
			li {
				padding: 0 0 18px;
			}
		}

		.fake-input {
			margin-right: 7px;
		}

		.fake-label {
			font-size: $lg-font-size;
		}
	}

	.switch-frame {
		.clickable-switch {
			&.mob-reverse {
				.switch {
					@include media('<tablet') {
						margin: 3px 25px 0 5px;
					}
				}
			}
		}
	}

	.help-text {
		font-size: $medium-font-size;
		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}
	}

	.fake-input {
		position: relative;
	}

	.select-row {
		padding: 30px 0;
		@include media('>=tablet') {
			padding: 48px 0;
		}

		.open-close {
			&.select {
				.opener {
					@include media('<tablet') {
						min-height: 0;
						margin: 0;
					}
				}
			}
		}
	}
}

.amount-number {
	color: $secondary-text-color;
}

.campaign-site-frame {
	position: relative;
	.caption {
		align-items: flex-start;
		padding: 8px 0 68px;

		@include media('>=desktop') {
			align-items: flex-end;
			padding: 8px 0 36px;
		}

		.title-box {
			align-items: flex-start;

			@include media('>=tablet') {
				align-items: center;
				justify-content: flex-start;
			}
		}

		.title-holder {
			width: calc(100% - 37px);
			padding: 7px 0 0;

			@include media('>=tablet') {
				@include flex-horizontal-align;
				width: auto;
				padding: 0 10px 0 0;
			}

			@include media('>=desktop') {
				padding: 0 21px 0 0;
			}

			h1, .h1,
			h2, .h2 {
				margin: 0 0 8px;

				@include media('>=tablet') {
					margin: 0;
				}

				.title-line {
					margin: 0 6px;
					width: 21px;
				}
			}

			.has-arrow {
				&:after {
					margin: 0 0 0 7px;
				}
			}
		}

		.serach-opener {
			@include media('<tablet') {
				margin-bottom: 15px;
			}
		}

		.btn-box {
			padding: 0 0 0 18px;
			@include media('>=tablet') {
				padding: 0 0 0 10px;
			}
		}

		.caption-actions-frame {
			.date-frame {
				@include media('>=desktop') {
					padding: 0 32px 0 0;
				}
			}
		}
	}

	.simplebox.icon-statictics {
		color: #687897;
		font-size: 18px;
		font-weight: normal;
	}

	.top-actions-panel {
		@include media('<tablet') {
			position: relative;

			margin-top: -34px;
		}
	}
}

.video-rate-frame {
	max-width: 670px;
	padding: 0 0 21px;
	@include media('>=tablet') {
		@include flex-horizontal-align;
		padding: 0;
	}

	.video-rate-row {
		margin: 0 0 8px;
		@include media('>=tablet') {
			@include flex-horizontal-align;
			margin: 0 -7px;
			max-width: 518px;
		}

		.col {
			@include flex-horizontal-align;
			flex-wrap: wrap;
			min-width: 121px;
			padding: 0 0 14px;

			@include media('>=tablet') {
				display: block;
				padding: 0 7px;
			}
		}

		.input-group {
			@include media('<tablet') {
				width: 147px;
				flex-shrink: 0;
			}
		}

		label, .label {
			@include media('<tablet') {
				flex: 1 0;
				padding: 0 15px 23px 0 !important;
				font-size: $lg-font-size !important;
			}
		}
	}

	.help-text {
		display: block;
		padding: 6px 0 0;
		@include media('>=tablet') {
			font-size: 12px !important;
			width: auto;
			padding: 7px 0 0;
		}
	}

	.simplebox {
		line-height: 1.4;
		font-weight: 500;
		font-size: $medium-font-size;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
			margin: 0 0 0 27px;
		}
	}
}

.geography-row {
	padding: 0 0 52px;

	@include media('>=tablet') {
		padding: 0 0 31px;
	}

	&.two-column-row {
		@include media('>=tablet') {
			display: flex;
			align-items: flex-start;
		}

		.region-col {
			margin: 0 0 19px;
			@include media('>=tablet') {
				width: 70%;
				max-width: 502px;
				margin: 0 27px 0 0;
			}
		}

		.simplebox {
			@include media('>=tablet') {
				margin-top: 42px;
			}
		}
	}

	.label {
		padding: 0 0 12px !important;
		font-size: $font-size-base !important;
	}

	.open-close {
		border: 1px solid $lines-light-gray;
		border-radius: 5px;
		padding: 13px 13px 12px;
		margin: 0 0 20px;

		@include media('>=tablet') {
			padding: 13px 11px 12px;
			margin: 0 0 18px;
		}

		.opener {
			@include flex-horizontal-align;
			color: $gray;
			font-size: $secondary-size-base;

			&.selected {
				color: $base-text-color;
			}

			i {
				margin: 0 14px 0 0;
				font-size: 17px;
				color: $base-text-color;
			}
		}

		.slide {
			width: 100%;
			@include media('>=tablet') {
				padding: 11px 12px;
				left: 0;
			}

			.lead {
				display: block;
				font-weight: 500;
				background: $third-light-gray;
				border-radius: 5px;
				padding: 10px 11px 12px;
				margin: 0 0 8px;
				cursor: pointer;
			}

			.list {
				padding: 0 11px;
				margin: 0 0 -8px;

				li {
					@include flex-horizontal-align;
					justify-content: space-between;
					margin: 0 0 20px;
					padding: 0;
					cursor: pointer;
				}
			}
		}
	}

	.tiny-text {
		font-size: $secondary-size-base;
		color: $secondary-text-color;
		padding: 0 0 0 10px;
	}

	.simplebox {
		font-weight: 500;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}
	}
}

.simplebox,
.secondary-simplebox {
	.icon-list {
		display: inline-block;
		vertical-align: middle;
		font-size: 11px;
		margin: 0 8px 0 0;

		@include media('>=tablet') {
			margin: 0 10px 0 0;
		}
	}
}

.status-icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
	width: 21px;
	height: 21px;
	border-radius: 100%;
	line-height: 21px;
	font-size: 7px;
	text-align: center;

	&.icon-pause-action {
		background: #ffe9c0;
		color: #f8af21;
	}

	&.icon-launch-action {
		background: #d4f8e3;
		color: #33ce9b;
	}

	&.icon-archive-action {
		background: #ffdbd2;
		color: $light-red;
		font-size: 10px;
	}

	&.icon-del-bt {
		background: #DCE5F4;
		color: $light-purple;
		font-size: 10px;
	}
}