#header {
	@include flex-horizontal-align;
	padding: 9px 28px 9px 23px;
	border-bottom: 1px solid $lines-light-gray;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $white;
	z-index: 2;
	font-size: $lg-font-size;

	@include media('>=tablet') {
		padding: 15px 15px 12px;
		border: none;
		background: $bg-light-gray;
		position: relative;
		z-index: 2;
		justify-content: space-between;
		font-size: $font-size-base;
	}

	@include media('>=desktop') {
		padding: 15px 58px 12px 15px;
	}

	.company-select {
		margin-left: auto;
		@include media('>=tablet') {
			margin-left: 0;
		}
	}

	.logo {
		position: relative;
		z-index: 2;
		margin: 0 16px 0 0;

		@include media('>=tablet') {
			margin: 0 2% 0 0;
		}

		@include media('>=desktop') {
			margin: 0 5.1% 0 0;
		}

		a {
			display: block;
		}

		img {
			@include media('>=tablet') {
				width: 53px;
				height: 53px;
			}
		}
	}

	.amount-block {
		background: #f6f7fd;
		border-radius: $lg-border-radius;
		padding: 26px 25px 10px;
		margin: 0 0 41px;

		@include media('>=tablet') {
			background: none;
			border-radius: 0;
			padding: 0;
			margin: 0;
		}

		.btn-add {
			background: $purple;
			width: 30px;
			height: 30px;
			font-size: 12px;
		}
	}

	.open-close {

		&.user-frame,
		&.amount {
			.slide {
				@include media('<tablet') {
					position: static !important;
					box-shadow: none;
					min-width: 0;
					border: none;
					border-radius: 0;
					padding: 0;
					opacity: 1;
					visibility: visible;
					background: none;
				}
			}

			.list {
				@include media('>=tablet') {
					font-size: $medium-font-size;
				}

				li {
					padding: 0 0 17px;

					a {
						position: relative;
						display: block;

						&:after {
							font-family: 'icomoon';
							content: "\e918";
							font-size: 5px;
							position: absolute;
							right: -1px;
							top: 50%;
							transform: translateY(-50%) rotate(-90deg);
						}
					}
				}
			}
		}

		&.amount {
			position: relative;

			@include media('>=tablet') {
				padding: 0 0 0 15px;
			}

			.opener {
				font-size: 22px;
				font-weight: 500;
				display: block;
				padding: 0 65px 0 0;
				margin: 0 0 26px;

				@include media('>=tablet') {
					@include flex-horizontal-align;
					padding: 0;
					margin: 0;
					font-size: 15px;
				}

				i {
					color: $purple;
					font-size: 19px;
					padding: 0 7px 0 0;
					@include media('>=tablet') {
						font-size: 16px;
						padding: 0 9px 0 0;
					}
				}

				.currency {
					font-size: 15px;
					padding: 0 0 0 6px;

					@include media('>=tablet') {
						padding: 0 0 0 4px;
					}
				}
			}
			.slide {
				@include media('>=tablet') {
					min-width: 181px;
					padding: 18px 28px 21px;
				}
			}

			.list {

				li {
					&:first-child {
						color: $purple;
						font-weight: 500;
						padding: 0;
						@include media('>=tablet') {
							padding: 0 0 20px;
						}

						a {
							position: absolute;
							top: -2px;
							right: 1px;
							transition: background $animation-speed;

							&:after {
								display: none;
							}

							&:hover {
								@include media('>=tablet') {
									background: rgba($lines-light-gray, 0.3%);
								}
							}

							@include media('>=tablet') {
								@include flex-horizontal-align;
								position: static;
								font-size: $font-size-base;
								border: 1px solid $lines-light-gray;
								border-radius: 2em;
								padding: 12px 12px 8px;
								margin: 0 -12px;
							}

							i {
								margin: 0 13px 0 0;
								font-size: 19px;
								display: inline-block;
								vertical-align: middle;
								@include media('<tablet') {
									display: none;
								}
							}
						}
					}

					a {
						&:after {
							@include media('>=tablet') {
								display: none;
							}
						}
					}
				}
			}
		}

		&.user-frame {

			@include media('>=tablet') {
				padding: 0 0 0 15px;
			}

			@include media('>=desktop') {
				padding: 0 0 0 44px;
			}

			.opener {
				@include media('>=tablet') {
					@include flex-horizontal-align;
				}

				i {
					@include media('>=tablet') {
						@include flex-central-align;
						width: 33px;
						height: 33px;
						background: $white;
						border-radius: 9px;
						margin: 0 13px 0 0;
						color: $purple;
						font-size: 16px;
					}
				}
			}
			.user-name {
				@include media('>=tablet') {
					font-size: 13px;
					font-weight: 500;
					display: block;
					padding: 0 0 3px;
				}
			}
			.post {
				@include media('>=tablet') {
					display: block;
					font-size: 12px;
					color: $gray;
				}
			}

			.slide {
				@include media('>=tablet') {
					left: auto;
					right: 0;
					min-width: 298px;
					padding: 16px 18px 20px;
				}
				.list {
					padding: 0 0 16px;

					@include media('>=tablet') {
						padding: 18px 7px 9px 11px;
					}

					li {
						@include media('>=tablet') {
							padding: 0 0 11px;
						}
					}

					a {
						&:after {
							right: -6px;
						}
					}
				}

				.member-profile {
					@include flex-horizontal-align;
					font-size: 16px;
					padding: 0 0 24px;

					&:after {
						@include media('>=tablet') {
							content: '';
							position: absolute;
							left: -18px;
							right: -18px;
							bottom: 0;
							height: 1px;
							background: #DCE5F4;
						}
					}

					@include media('>=tablet') {
						padding: 0 0 13px;
						position: relative;
					}

					.img-box {
						display: inline-block;
						vertical-align: top;
						width: 47px;
						height: 47px;
						border-radius: 100%;
						overflow: hidden;
						margin: 0 13px 0 0;

						@include media('>=tablet') {
							margin: 0 15px 0 0;
						}

						img {
							width: 100%;
							max-width: 100%;
						}
					}

					a {
						color: $base-text-color;
						flex: 1 0;
						font-weight: 500;
						position: relative;

						&:after {
							font-family: 'icomoon';
							content: "\e918";
							font-size: 5px;
							position: absolute;
							right: -6px;
							top: 45%;
							transform: translateY(-50%) rotate(-90deg);

							@include media('>=tablet') {
								right: 1px;
								top: 43%;
							}
						}

						&:hover {
							color: $purple;
						}

						@include media('>=tablet') {
							font-size: $medium-font-size;
						}
					}

					.email {
						color: $purple;
						font-size: $font-size-base;
						display: block;
						padding: 4px 0 0;
						@include media('>=tablet') {
							font-size: $secondary-size-base;
							padding: 5px 0 0;
						}
					}
				}

				.cancel {
					color: #687897;
					display: block;
					text-decoration: none;
					cursor: pointer;
					@include media('>=tablet') {
						padding: 0 0 0 11px;
					}
				}
			}
		}

		.title {
			color: $secondary-text-color;
			padding: 0 4px 0 0;
			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}
		}
	}
}

.company-select {
	&.purpule {
		.opener {
			color: $purple;
		}
	}

	.opener {
		font-size: $lg-font-size;
		font-weight: 500;

		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}

	.slide {
		min-width: 289px;
		padding: 20px 8px;

		.bottom-block {
			margin-bottom: -5px;
		}
	}

	.list{
		font-size: $medium-font-size;

		&.has-active-checkmark {
			padding-right: 14px;
		}

		li {
			&.active {
				.name {
					font-weight: 700;
				}
				.company-balance {
					color: $base-text-color;
				}
			}
		}

		a {
			@include flex-horizontal-align;
			justify-content: space-between;
			width: 100%;
		}

		.company-balance {
			font-size: $font-size-base;
			color: $secondary-text-color;
			font-weight: 500;
		}
	}

	.bottom-block {
		margin: 0 -10px;
		padding: 16px 26px 0;
		border-top: 1px solid $lines-light-gray;
		font-weight: 500;
	}

	.add-client {
		font-weight: 500;

		&:before {
			font-family: "icomoon";
			content: "\e910";
			display: inline-block;
			vertical-align: middle;
			margin: 0 11px 0 0;
			font-size: 15px;
		}
	}
}

#nav {
	@extend %listreset;
	color: $text-black;

	li {
		padding: 0 0 31px;

		&.active {
			>a {
				color: $purple;
				font-weight: 500;

				&:before {
					@include media('>=tablet')  {
						width: 3px;
					}
				}

				i {
					color: $purple;
				}
			}

			.active-icon {
				display: block;
			}

			.default-icon {
				display: none;
			}
		}

		@include media('>=tablet') {
			color: $secondary-text-color;
			padding: 0 0 34px;
		}
	}

	i {
		margin: 0 27px 0 0;
		display: inline-block;
		vertical-align: top;
		color: $base-text-color;
		font-size: 25px;
		transition: color $animation-speed;

		&.image {
			font-size: 0;
		}

		@include media('>=tablet') {
			margin: 0;
			color: $input-border-color;
		}
	}

	a {
		@include flex-horizontal-align;
		text-decoration: none;
		color: inherit;

		&:before {
			@include media('>=tablet')  {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: -10px;
				border-radius: 0 2em 2em 0;
				background: $purple;
				width: 0;
				transition: width $animation-speed;
			}
		}

		&:hover {
			&:before {
				@include media('>=tablet')  {
					width: 3px;
				}
			}

			i {
				color: $purple;
			}

			.active-icon {
				display: block;
			}

			.default-icon {
				display: none;
			}
		}
		
		@include media('>=tablet') {
			color: $secondary-text-color;
			min-height: 45px;
			position: relative;
			justify-content: center;
		}
	}

	.active-icon {
		display: none;
	}

	.line {
		@include media('>=tablet') {
			display: block;
			height: 1px;
			background: #BDC6D7;
			opacity: 0.4;
			width: 38px;
			margin: 0 auto;
		}
	}
}

.nav-opener {
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 46px;
	height: 46px;
	z-index: 5;
	background-image: url("../images/nav-opener.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 36px 14px;

	.nav-active & {
		position: absolute;
		top: 10px;
		right: 14px;
		background-image: url("../images/nav-close.svg");
		background-size: 17px 17px;
	}

	@include media('>=tablet') {
		display: none;
	}
}

.nav-holder {
	z-index: 1;

	.nav-active & {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	@include media('>=tablet') {
		@include flex-horizontal-align;
		justify-content: space-between;
		flex: 1 0;
	}

	@include media('<tablet') {
		background: $white;
		position: fixed;
		top: 0;
		bottom: 0;
		left: -9999px;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		padding: 24px 31px;
		overflow-y: auto;
	}
}

.fixed-panel {
	border-bottom: 1px solid $lines-light-gray;
	padding: 37px 0 5px;

	@include media('>=tablet') {
		position: absolute;
		top: 100px;
		left: 0;
		width: 79px;
		background: $bg-light-gray;
		padding: 64px 9px 8px 10px;
		border-bottom: none;
	}
}

.top-panel {
	padding: 30px 0 0;

	@include media('>=tablet') {
		@include flex-horizontal-align;
		justify-content: space-between;
		flex: 1 0;
		padding: 0 0 5px;
	}

	.holder {
		@include media('>=tablet') {
			@include flex-horizontal-align;
			justify-content: space-between;
		}
	}

	.company-select {
		padding: 0 0 20px;

		@include media('>=tablet') {
			padding: 0;
		}

		.slide {
			@include media('<tablet') {
				top: calc(100% - 11px);
			}
		}
	}

	.list {
		padding: 0 0 10px;
		font-size: $medium-font-size;

		@include media('>=tablet') {
			padding: 0 0 1px;
		}

		li {
			@include media('<tablet') {
				padding: 0 0 21px;
			}
		}
	}
}

.user-frame {
	padding: 0 0 23px;

	@include media('>=tablet') {
		padding: 2px 0 0 32px;
	}

	a {
		text-decoration: none;
	}
}

.user-block {
	@include flex-horizontal-align;
	background: $bg-light-gray;
	padding: 17px 30px 17px 18px;
	border-radius: 11px;
	position: relative;
	text-decoration: none;
	color: inherit;
	transition: opacity $animation-speed;

	&:hover {
		opacity: 0.7;
	}

	&:after {
		position: absolute;
		top: calc(50% - 6px);
		right: 20px;
		content:'';
		width: 7px;
		height: 12px;
		background: url(../images/chevron-right.svg) 50% 50% no-repeat;
		background-size: contain;

		@include media('>=tablet') {
			display: none;
		}
	}

	@include media('>=tablet') {
		padding: 7px 5px;
	}

	.icon-profile-header {
		@include flex-central-align;
		background: $white;
		border-radius: 100%;
		width: 41px;
		height: 41px;
		margin: 0 14px 0 0;
		color: $purple;
		font-size: 16px;

		@include media('>=tablet') {
			border-radius: 9px;
			width: 33px;
			height: 33px;
			margin: 0 12px 0 0;
		}
	}

	.user-name {
		font-size: 15px;
		font-weight: 500;

		@include media('>=tablet') {
			font-size: 13px;
		}
	}

	.post {
		font-size: 14px;
		display: block;
		color: $secondary-text-color;
		margin: 5px 0 0;

		@include media('>=tablet') {
			font-size: 12px;
			margin: 3px 0 0;
		}
	}
}

.select-adv-block {
	padding: 0 75px;
	margin: 0 -32px;
	border-bottom: 1px solid $lines-light-gray;

	@include media('>=tablet') {
		border-bottom: none;
		padding: 0 15px 0 0;
		margin: 0;
	}

	@include media('>=desktop') {
		padding: 0 35px 0 0;
	}

	.opener {
		@include flex-horizontal-align;
		font-weight: 500;
		color: $base-link-color;

		@include media('<tablet') {
			display: none !important;
		}

		span {
			@include media('>=tablet') {
				display: inline-block;
				vertical-align: middle;
				padding: 0 0 4px;
			}
		}
	}

	.slide {
		min-width: 347px;
		padding: 22px 23px 8px;
		font-size: $medium-font-size;
		@include media('<tablet') {
			box-shadow: none;
			opacity: 1;
			visibility: visible;
			position: static !important;
			border: none;
			padding: 0;
			min-width: 0;
			background: transparent;
		}
	}

	.list {

		&.active-checkmark-end {
			li {
				>a {
					@include media('>=tablet') {
						padding: 0 22px 0 0;
					}
				}
			}
		}

		@include media('<tablet') {
			@include flex-central-align;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		li {
			padding: 0 2px 21px;

			&.active {

				>a {
					&:before {
						@include media('<tablet') {
							width: 100%;
						}
					}
				}
				.active-icon {
					display: block;
				}

				.default-icon {
					display: none;
				}
			}
			@include media('>=tablet') {
				padding: 0 0 22px;
			}

			>a {
				@include flex-horizontal-align;
				position: relative;
				padding: 0 10px;

				&:before {
					top: 6px;
					right: -4px;
					@include media('<tablet') {
						content: '';
						position: absolute;
						top: auto;
						bottom: -23px;
						left: 0;
						right: auto;
						height: 3px;
						border-radius: 2em 2em 0 0;
						background: $purple;
						width: 0;
						opacity: 1;
						transition: width $animation-speed;
					}
				}

				@include media('>=tablet') {
					padding: 0;
				}
			}
		}

		.active-icon {
			display: none;
		}

		.icon-box {
			@include media('>=tablet') {
				margin: 0 14px 0 0;
			}
		}
	}

	.icon-box {
		display: block;
		width: 24px;

		@include media('>=tablet') {
			margin: 0 9px 0 0;
		}
	}
}