.reference-frame {
	min-height: calc(100vh - 144px);
	padding: 9px 0 160px;
	line-height: 1.75;
	position: relative;

	&:before {
		@include media('>=tablet') {
			content: '';
			width: 1px;
			background: $lines-light-gray;
			position: absolute;
			top: -35px;
			bottom: -35px;
			left: 250px;
		}

		@include media('>=widescreen') {
			bottom: -25px;
		}
	}

	@include media('>=tablet') {
		min-height: calc(100vh - 192px);
		padding: 16px 0 0;
		display: flex;
	}

	.tabs-label,
	input[type="radio"] {
		@include media('<tablet') {
			display: none;
		}
	}

	.tabs-label {
		&:hover {
			&:before {
				@include media('>=tablet') {
					opacity: 1;
				}
			}
			@include media('>=tablet') {
				opacity: 1;
				color: $purple;
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 18px;
			transform: none;
			background: $purple;
			left: -12px;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			opacity: 0;
			transition: opacity $animation-speed;
		}

		@include media('>=tablet') {
			display: block;
			padding: 8px 10px 9px 0;
			position: relative;
			font-size: $font-size-base;
			color: $secondary-text-color;
			transition: color $animation-speed;
			cursor: pointer;
			width: 250px;
		}
	}

	#info-radio-1:checked ~ .aside #info-label-1 {
		&:before {
			@include media('>=tablet') {
				opacity: 1;
			}
		}
		@include media('>=tablet') {
			color: $purple;
			font-weight: 500;
		}
	}
	#info-radio-2:checked ~ .aside #info-label-2 {
		&:before {
			@include media('>=tablet') {
				opacity: 1;
			}
		}
		@include media('>=tablet') {
			color: $purple;
			font-weight: 500;
		}
	}
	#info-radio-3:checked ~ .aside #info-label-3 {
		&:before {
			@include media('>=tablet') {
				opacity: 1;
			}
		}
		@include media('>=tablet') {
			color: $purple;
			font-weight: 500;
		}
	}
	#info-radio-4:checked ~ .aside #info-label-4 {
		&:before {
			@include media('>=tablet') {
				opacity: 1;
			}
		}
		@include media('>=tablet') {
			color: $purple;
			font-weight: 500;
		}
	}
	#info-radio-5:checked ~ .aside #info-label-5 {
		&:before {
			@include media('>=tablet') {
				opacity: 1;
			}
		}
		@include media('>=tablet') {
			color: $purple;
			font-weight: 500;
		}
	}
	#info-radio-6:checked ~ .aside #info-label-6 {
		&:before {
			@include media('>=tablet') {
				opacity: 1;
			}
		}
		@include media('>=tablet') {
			color: $purple;
			font-weight: 500;
		}
	}
	#info-radio-7:checked ~ .aside #info-label-7 {
		&:before {
			@include media('>=tablet') {
				opacity: 1;
			}
		}
		@include media('>=tablet') {
			color: $purple;
			font-weight: 500;
		}
	}


	#info-radio-1:checked ~ .info-content #info-content-1 .slide {
		display: block !important;
		opacity: 1;
		visibility: visible;
	}
	#info-radio-2:checked ~ .info-content #info-content-2 .slide {
		display: block !important;
		opacity: 1;
		visibility: visible;
	}
	#info-radio-3:checked ~ .info-content #info-content-3 .slide {
		display: block !important;
		opacity: 1;
		visibility: visible;
	}
	#info-radio-4:checked ~ .info-content #info-content-4 .slide {
		display: block !important;
		opacity: 1;
		visibility: visible;
	}
	#info-radio-5:checked ~ .info-content #info-content-5 .slide {
		display: block !important;
		opacity: 1;
		visibility: visible;
	}
	#info-radio-6:checked ~ .info-content #info-content-6 .slide {
		display: block !important;
		opacity: 1;
		visibility: visible;
	}
	#info-radio-7:checked ~ .info-content #info-content-7 .slide {
		display: block !important;
		opacity: 1;
		visibility: visible;
	}

	h2, .h2 {
		font-size: 20px;
		margin: 0 0 38px;

		@include media('>=tablet') {
			font-size: 21px;
			margin: 0 0 57px;
		}
	}

	h3, .h3 {
		font-size: 22px;
		margin: 0 0 46px;
		@include media('>=tablet') {
			font-size: 18px;
			font-weight: 500;
			margin: 0 0 34px;
		}
	}

	h4, .h4 {
		font-size: 16px;
		font-weight: 500;
		margin: 0 0 18px;
	}

	p {
		font-size: $font-size-base;

		&.mb-0 {
			line-height: 1.8;
		}

		@include media('>=tablet') {
			font-size: 15px;
		}
	}

	.aside {
		@include media('>=tablet') {
			width: 250px;
		}
	}

	.info-content {
		@include media('>=tablet') {
			flex: 1 0;
		}
		@include media('>=widescreen') {
			padding-right: 13%;
		}
	}

	.open-close {
		padding: 13px 0 14px;

		@include media('>=tablet') {
			position: static;
			padding: 0;
		}

		.opener {
			font-size: 16px;
			position: relative;
			width: 100%;
			display: block;

			&:before {
				font-family: 'icomoon';
				content: "\e918";
				position: absolute;
				top: calc(50% - 4px);
				right: -4px;
				font-size: 7px;
				transform: rotate(-90deg);
				@include media('>=tablet') {
					display: none;
				}
			}

			@include media('>=tablet') {
				display: none;
			}
		}

		.slide {

			&:before {
				@include media('>=tablet') {
					display: none;
				}
			}

			@include media('>=tablet') {
				top: 0;
				margin: 0;
				box-shadow: none;
				border: none;
				border-radius: 0;
				padding: 4px 15px 35px;
				position: static !important;
				display: none !important;
			}
			@include media('>=widescreen') {
				padding: 4px 59px 25px 68px;
			}


			.btn-back {
				margin: 0 0 8px;
				@include media('>=tablet') {
					display: none;
				}
			}
		}
	}

	.info-block {
		padding: 0 0 58px;
	}

	.definition-list-inline {
		padding: 3px 0 29px;
	}

}

.supprot-block {
	width: 100%;
	padding: 25px 20px 21px;
	background: $bg-light-gray;
	border-radius: 16px;
	text-align: center;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);

	@include media('>=tablet') {
		background: transparent;
		border-radius: 0;
		text-align: left;
		position: static;
		left: 0;
		transform: translateX(0);
		padding: 71px 0 10px;
		width: 240px;
	}

	span {
		display: block;
		@include media('>=tablet') {
			padding: 0 0 1px;
		}
	}

	.email {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		font-weight: 500;
		color: $purple;
		transition: opacity $animation-speed;

		&:hover {
			opacity: 0.7;
		}
	}
}