.registration-page {
  #header {
    position: static;
    padding: 10px 0 8px;

    @include media('>=tablet') {
      background: $white;
      padding: 26px 0 8px;
    }

    .container {
      @include flex-horizontal-align;
      justify-content: space-between;
      max-width: 1346px;
    }

    .right-block {
      @include flex-horizontal-align;
      font-size: $lg-font-size;
      padding: 0 6px 0 0;

      @include media('>=tablet') {
        padding: 0 10px 0 0;
      }

      .link {
        font-weight: 500;
        color: $purple;
      }
    }

    .circle-cross-button {
      margin: 0 0 0 33px;

      @include media('>=tablet') {
        margin: 0 0 0 47px;
      }
    }
  }

  main, #main {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 0 !important;
  }
}

.container {
  width: 100%;
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 23px;
}

.full-page-centered {
  min-height: calc(100vh - 423px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 39px 29px 52px;
  text-align: center;

  &.py-md {
    padding: 39px 29px 25px;
    @include media('>=tablet') {
      padding: 60px 0 50px;
    }
  }

  &.py-lg {
    padding: 39px 29px 40px;
    @include media('>=tablet') {
      padding: 92px 0 82px;
    }
  }

  &.top-aligned {
    @include media('>=tablet') {
      justify-content: flex-start;
      padding: 10.5vh 0 20px;
    }
  }

  @include media('>=tablet') {
    min-height: calc(100vh - 194px);
    padding: 0 0 4px;
  }

  .container {
    max-width: 454px;

    &.sm-container {
      max-width: 620px;
    }

    @include media('<tablet') {
      padding: 0;
    }
  }

  h1, .h1 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 26px;

    @include media('>=tablet') {
      font-size: 35px;
      font-weight: 700;
      margin: 0 0 30px;
    }
  }

  p {
    margin: 0 0 46px;
    line-height: 1.6;
    @include media('>=tablet') {
      font-size: 17px;
      line-height: 1.7;
      margin: 0 0 52px;
    }
  }

  p + .registration-btn {
    @include media('>=tablet') {
      margin-top: 20px;
    }
  }

  .type-registration-title {
    display: block;
    font-size: 17px;
  }

  h1 +.type-registration-title,
  .h1 + .type-registration-title {
    margin-top: -13px;
  }

  .step-back {
    border: none;
    padding: 0;
    font-size: $lg-font-size;
    width: auto;
    height: auto;
    min-height: 0;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;

    &:before {
      margin: 0 10px 0 0;
    }

    @include media('>=tablet') {
      font-size: $medium-font-size;
    }
  }

  .help-text {
    display: block;
    color: $gray;
    text-align: center;
    line-height: 1.7;

    @include media('>=tablet') {
      font-size: 12px;
      line-height: 1.4;
    }
  }

  .form-row {
    margin: 0 0 15px;
    position: relative;

    @include media('>=tablet') {
      margin: 0 0 21px;
    }
  }

  .check-row {
    @include flex-central-align;
    justify-content: space-between;
    font-size: $medium-font-size;
    padding: 0 0 7px;

    @include media('>=tablet') {
      font-size: $font-size-base;
      padding: 0 0 17px;
    }

    label {
      .fake-label {
        padding-left: 31px;
        @include media('>=tablet') {
          padding-left: 31px;
        }
      }
    }

    .fake-input {
      width: 19px;
      height: 19px;

      @include media('>=tablet') {
        width: 20px;
        height: 20px;
      }
    }
  }

  input[type='text'],
  input[type='number'],
  input[type='tel'],
  input[type='email'],
  input[type='password'] {
    @include placeholder {
      font-size: $lg-font-size;
    }
    height: 57px;
    padding: 23px 16px 5px;
    font-weight: 500;
    font-size: $lg-font-size;

  }

  input[type='password'] {
    font-size: 21px;
    letter-spacing: 8.5px;
  }

  .btn-row {
    padding: 18px 0;
    text-align: center;

    @include media('>=tablet') {
      padding: 20px 0;
    }
    .registration-btn,
    button[type="submit"].registration-btn {
      margin-top: 0;
      width: 100%;

      @include media('>=tablet') {
        min-width: 212px;
        width: auto;
      }
    }
  }

  .password-recovery-form {

    input[type='text'],
    input[type='number'],
    input[type='tel'],
    input[type='email'],
    input[type='password'] {
      padding: 10px 21px;
    }

    label, .label {
      text-align: left;
      position: static;
      display: block;
      font-weight: 500;
      font-size: $medium-font-size;
      padding: 0 0 8px;
      color: $secondary-text-color;

      @include media('>=tablet') {
        font-size: $lg-font-size;
        padding: 0 0 10px;
        color: $gray;
      }
    }

    .btn-row {

      @include media('>=tablet') {
        padding: 16px 0;
      }

      .registration-btn,
      button[type="submit"].registration-btn {
        @include media('>=tablet') {
          min-width: 271px;
        }
      }
    }
  }
}

.select-account-frame {
  padding: 17px 0 16px;
  text-align: center;

  @include media('>=tablet') {
    padding: 46px 0;
  }

  .subtitle {
    display: block;
    padding: 0 0 36px;
    font-size: 17px;
    font-weight: normal;

    @include media('>=tablet') {
      font-size: 21px;
      font-weight: 500;
      padding: 0 0 45px;
    }
  }
}

.registration-form {
  padding: 66px 0 41px;

  @include media('>=tablet') {
    padding: 36px 0 58px;
  }

  .btn-row {
    .registration-btn,
    button[type="submit"].registration-btn {

      @include media('>=tablet') {
        min-width: 299px;
      }
    }
  }
}

.entering-form {
  padding: 18px 0 22px;

  @include media('>=tablet') {
    padding: 58px 0 45px;
  }
}

.registration-form,
.entering-form {
  label, .label {
    &:not(.static-label) {
      font-size: $secondary-size-base;
      color: $gray;
      position: absolute;
      left: 17px;
      top: 7px;


      @include media('>=tablet') {
        font-size: 12px;
      }
    }
  }
}

.password-recovery-form {
  max-width: 410px;
  margin: 0 auto 20px;
}

.reg-social-frame {
  text-align: center;
  padding: 0 0 70px;

  @include media('>=tablet') {
    padding: 0 0 59px;
  }

  .title {
    display: block;
    font-size: $medium-font-size;
    padding: 0 0 22px;

    @include media('>=tablet') {
      color: $gray;
      padding: 0 0 17px;
    }
  }
}

.entering-form + .reg-social-frame {
  @include media('<tablet') {
    padding-bottom: 0;
  }
}


#footer {
  padding: 29px 0 21px;
  border-top: 1px solid $lines-light-gray;

  @include media('>=tablet') {
    border: none;
    padding: 10px 0 48px;
  }

  .top-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 47px;
  }

  .bottom-block {
    text-align: center;

    @include media('>=tablet') {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      text-align: left;
    }
  }

  .company-info-frame {
    font-size: $medium-font-size;
    padding: 0 0 27px;

    @include media('>=tablet') {
      font-size: $font-size-base;
      padding: 0;
    }

    .name {
      display: block;
      padding: 0 0 3px;

      @include media('>=tablet') {
        display: inline-block;
        padding: 0;
      }
    }

    .address {
      font-style: normal;
      @include media('>=tablet') {
        display: inline-block;
      }
    }

    .copyright {
      display: block;
      font-size: $font-size-base;
      color: $gray;
      padding: 19px 0 0;
      @include media('>=tablet') {
        font-size: $secondary-size-base;
        padding: 9px 0 0;
      }
    }
  }

  .social-networks {
    padding: 0 6px 0 0;
  }
}

.footer-contact-block {
  display: flex;
  flex-wrap: wrap;
  font-size: $medium-font-size;
  padding: 8px 6px 0;

  .title {
    display: block;
    width: 100%;
    font-weight: 600;
    padding: 0 0 18px;
  }

  img {
    flex-shrink: 0;
    margin: 0 17px 0 0;
  }

  .contact-list {
    flex: 1 0;
  }

  .tel {
    font-size: 17px;
    font-weight: 700;
    color: $base-text-color;
  }
}