$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'base/icons';

@import 'components/btn';
@import 'components/list';
@import 'components/dropdown';
@import 'components/datepicker';
@import 'components/_pie_circle';
@import 'components/custom_form';
@import 'components/table';
@import 'components/badge';
@import 'components/pagination';
@import 'components/modal';
@import 'components/tabs';
@import 'components/map';
@import 'components/notification';

@import 'layout/header';
@import 'layout/common';
@import 'layout/action_window';
@import 'layout/registration';

html {
	&.nav-active,
	&.opened-slide,
	&.opened-filter-slide,
	&.opened-slide {
		@include media('<tablet') {
			overflow-y: hidden;
		}
	}
}

body {
	&.registration-page {
		@include media('>=tablet') {
			background: $white;
		}
	}

	&.open-modal {
		overflow: hidden;
		@include media('<desktop') {
			overflow-y: hidden;
		}
	}

	&.active-modal {
		.simplebox-overlay {
			@include media('>=tablet') {
				display: block !important;
			}
		}

		.modal {
			top: 76px;
			left: 0;
			right: 0;
			height: calc(100% - 76px);
			margin: 0;

			@include media('>=tablet') {
				height: auto;
				top: 50%;
				left: 50%;
				z-index: 1000;
				transform: translate(-50%, -50%);
			}
		}
	}

	@include media('>=tablet') {
		background: $bg-light-gray;
	}
}

.resize-active * {
	-webkit-transition:none !important;
	-ms-transition:none !important;
	transition:none !important;
}

.simplebox-overlay {
	@include media('<tablet') {
		background: $white !important;
		opacity: 0.1 !important;
	}
}

#wrapper {
	overflow: hidden;
	width: 100%;
	position: relative;
}

.hidden-tablet {
	@include media('>=tablet') {
		display: none !important;
	}
}

.hidden-desktop {
	@include media('>=desktop') {
		display: none !important;
	}
}

.visible-tablet {
	@include media('<tablet') {
		display: none !important;
	}
}

.visible-desktop {
	@include media('<desktop') {
		display: none !important;
	}
}

.visible-widescreen {
	@include media('<widescreen') {
		display: none !important;
	}
}

.xs-width-block {
	@include media('>=tablet') {
		max-width: 396px;
	}
}

.sm-width-block {
	@include media('>=tablet') {
		max-width: 502px;
	}
}

.xmd-width-block {
	@include media('>=tablet') {
		max-width: 608px;
	}
}

.md-width-block {
	@include media('>=tablet') {
		max-width: 637px;
	}
}

.lg-width-block {
	@include media('>=tablet') {
		max-width: 750px;
	}
}

.tablet-pb-0 {
	@include media('>=tablet') {
		padding-bottom: 0 !important;
	}
}

.pb-md {
	@include media('>=tablet') {
		padding-bottom: 42px !important;
	}
}
.mb-0 {
	margin-bottom: 0 !important;
}

.block-el {
	display: block;
}

.centered {
	text-align: center;
}

.dashed-border {
	border-bottom: 1px dashed $base-text-color;
}

.secondary-color {
	color: $secondary-text-color;
}

.base-color {
	color: $base-text-color;
}

.medium-weight {
	font-weight: 500;
}

.vertical-aligned-items {
	@include flex-horizontal-align;
}

.primary-color {
	color: $purple;
}

#main {
	padding: 89px 30px 37px;

	@include media('>=tablet') {
		min-height: calc(100vh - 130px);
		padding: 35px 15px 35px;
		margin-left: 79px;
		margin-bottom: 50px;
		background: $white;
		border-radius: 15px 0 0 15px;
	}

	@include media('>=desktop') {
		padding: 35px 15px 35px 58px;
	}

	@include media('>=widescreen') {
		padding: 29px 59px 25px 58px;
	}
}
